<div class="chart-line-content position-relative">
  <div class="project-list set-font-vazir">
    <div class="d-block">پروژه 1</div>
    <div class="d-block">پروژه 2</div>
    <div class="d-block">پروژه 3</div>
    <div class="d-block">پروژه 4</div>
    <div class="d-block">پروژه 5</div>
    <div class="d-block">پروژه 6</div>
    <div class="d-block">پروژه 7</div>
    <div class="d-block">پروژه 8</div>
  </div>
  <div class="d-ltr mx-auto w-100">
    <gantt-chart
      [dayStart]="'09:00'"
      [dayEnd]="'15:00'"
      [tasks]="tasks"
    ></gantt-chart>
  </div>
</div>

