<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'وضعیت تصفیه خانه'"
                 [inputId]="'resourceSaveWaterStateControl'" [inputFormControl]="informationStateControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'وضعیت تاسیسات برقی'"
                 [inputId]="'resourceSaveWaterStateControl'" [inputFormControl]="electricStateControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'ظرفیت'"
                 [inputId]="'resourceSaveWaterStateControl'" [inputFormControl]="capacityStateControl"></app-input-style>
