<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'وضعیت سد'"
                 [inputId]="'damStateControl'" [inputFormControl]="damStateControl"></app-input-style>


<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'ظرفیت آبدهی'"
                 [inputId]="'capacityWaterControl'" [inputFormControl]="capacityWaterControl"></app-input-style>
<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'نام رودخانه'"
                 [inputId]="'riverNameControl'" [inputFormControl]="riverNameControl"></app-input-style>
<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'جنس سد'"
                 [inputId]="'staffControl'" [inputFormControl]="staffControl"></app-input-style>
<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'حجم مخزن سد'"
                 [inputId]="'volumeDamControl'" [inputFormControl]="volumeDamControl" [type]="'number'"></app-input-style>
<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'توضیحات'"
                 [inputId]="'detailControl'" [inputFormControl]="detailControl"></app-input-style>
