@import "../../../../assets/style/base.scss";
@import "../../../../assets/style/colorPalette.scss";
@import "../../../advancedSearch/page/advanced-search-according-to-allocation/advanced-search-according-to-allocation.component.scss";

.role-border{
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    span{
        font-size: 14px;
    }
}

.icon-lockes{
    position: relative;
    top: 6px;
    font-size: 21px;
    margin-right: 10px;
}

.lock_open{
    color: $green-color;
}
.lock_outline{
    color: $red-color;
}