<div class="wrapper set-font-vazir">
    <div class="col-12">
        <app-display-user-path [path1]="path1" [path2]="path2" [showProjectList]="true" [showCompanyList]="true"></app-display-user-path>
    </div>
    <div class="col-12 mx-auto px-5">
            <div class="row list-result-project set-font-vazir py-1">
                <div class="col-12 col-md-3 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-9 text-md-start text-center my-auto">
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مجری</span>
                        <div class="d-inline-flex">
                            <i class="material-icons icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">ناظر</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">سرمایه گذار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">کارفرما</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مشاور</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">پیمان کار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-9 text-md-start text-center my-auto">
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مجری</span>
                        <div class="d-inline-flex">
                            <i class="material-icons icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">ناظر</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">سرمایه گذار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">کارفرما</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مشاور</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">پیمان کار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-9 text-md-start text-center my-auto">
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مجری</span>
                        <div class="d-inline-flex">
                            <i class="material-icons icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">ناظر</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">سرمایه گذار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">کارفرما</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مشاور</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">پیمان کار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-9 text-md-start text-center my-auto">
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مجری</span>
                        <div class="d-inline-flex">
                            <i class="material-icons icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">ناظر</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">سرمایه گذار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">کارفرما</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مشاور</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">پیمان کار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-9 text-md-start text-center my-auto">
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مجری</span>
                        <div class="d-inline-flex">
                            <i class="material-icons icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">ناظر</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">سرمایه گذار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">کارفرما</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مشاور</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">پیمان کار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-9 text-md-start text-center my-auto">
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مجری</span>
                        <div class="d-inline-flex">
                            <i class="material-icons icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">ناظر</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">سرمایه گذار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">کارفرما</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">مشاور</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_open">lock_open</i>
                        </div>
                    </div>
                    <div class="role-border px-2 mx-1">
                        <span class="d-inline-flex pb-2">پیمان کار</span>
                        <div class="d-inline-flex">
                            <i class="material-icons d-inline icon-lockes lock_outline">lock_outline</i>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>