<div class="row">
    <div *ngFor="let list of DikeWaterShedAndCanalsList , let i = index" class="row">
        <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">آب بند : </h4>
        </div>

        <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
          </div>
          <mat-radio-group [value]="0"
            class="example-radio-group font-size-small">
            <mat-radio-button (click)="setTypeProject(0,i)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
              <span class="px-2">احداث</span>
            </mat-radio-button>
            <mat-radio-button (click)="setTypeProject(1,i)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
              <span class="px-2">تکمیل و توسعه</span>
            </mat-radio-button>
            <mat-radio-button (click)="setTypeProject(2,i)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
              <span class="px-2">مرمت</span>
            </mat-radio-button>
          </mat-radio-group>

        <!-- <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'تعداد'" [inputId]="'number'" [inputFormControl]="number"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'قابلیت مصرف'" [inputId]="'regionControl'" [inputFormControl]="regionControl"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12 mt-2" [inputLabel]="'پایداری منابع'" [inputId]="'stabilityResourceControl'" [inputFormControl]="stabilityResourceControl"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" [unit]="2" class="col-md-6 col-12 mt-2" [inputLabel]="'دبی فعلی'" [type]="'number'" [inputId]="'debeyControl'" [inputFormControl]="debeyControl"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12 mt-2" [inputLabel]="'نوع مالکیت'" [inputId]="'ownerShipTypeControl'" [inputFormControl]="ownerShipTypeControl"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12 mt-2" [inputLabel]="'نوع زمین'" [inputId]="'groundTypeControl'" [inputFormControl]="groundTypeControl"></app-input-style> -->

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'نام رودخانه'"
                     [inputId]="'riverNameControl'+i" [inputFormControl]="riverNameControl[i]"
                     (changeValue)="setRiverName($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'وضعیت منبع تامین آب'"
                     [inputId]="'resourceSaveWaterStateControl'+i" [inputFormControl]="resourceSaveWaterStateControl[i]"
                     (changeValue)="setResourceSaveWaterState($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'پمپاژ'"
                     [inputId]="'pompControl'+i" [inputFormControl]="pompControl[i]" [type]="'number'"
                     (changeValue)="setPomp($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'سیل بند'"
                     [inputId]="'stopFloodControl'+i" [inputFormControl]="stopFloodControl[i]"
                     (changeValue)="setStopFlood($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'عرض رودخانه'" [unit]="0" [type]="'number'"
                     [inputId]="'riverWidthControl'+i" [inputFormControl]="riverWidthControl[i]"
                     (changeValue)="setRiverWidth($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'جنس مصالح آب بند'"
                     [inputId]="'stuffWaterSealControl'+i" [inputFormControl]="stuffWaterSealControl[i]"
                     (changeValue)="setStuffWaterSeal($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'عرض'" [type]="'number'" [unit]="0"
                     [inputId]="'widthControl'" [inputFormControl]="widthControl[i]"
                     (changeValue)="setWidth($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'طول'" [type]="'number'" [unit]="0"
                     [inputId]="'lenControl'+i" [inputFormControl]="lenControl[i]"
                     (changeValue)="setLen($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'ارتفاع'" [type]="'number'" [unit]="0"
                     [inputId]="'heightControl'+i" [inputFormControl]="heightControl[i]"
                     (changeValue)="setHeight($event, i)"></app-input-style>

                     <div *ngIf="i-1>=0" class="row mx-auto">
                      <div class="mx-auto text-start" (click)="deleteList(i)">
                          <button class="button-add-activity">
                              <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                          </button>
                      </div>
                    </div>
    </div>

    <div class="row mx-auto">
        <div class="mx-auto text-start" (click)="addList()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن آب بند جدید">
            </button>
        </div>
      </div>
</div>
