@import "../../../../assets/style/base.scss";
@import "../../../../assets/style/colorPalette.scss";
@import "../advanced-search-according-to-allocation/advanced-search-according-to-allocation.component.scss";

.time-box{
    background-color: $lite-yellow-back-ground;
    border: none;
    box-shadow: 0px 0px 7px 0px $side-bar-color;
    border-radius: 5px;
    font-weight: bold;
    color: $text-color-normal;
    span{
        text-align: center;
    }
}