<div class="bg-levels mx-4 mt-2">
    <div class="row">
        <div class="col-12 d-block my-auto">
            <i class="material-icons d-inline icon-styles">insert_chart</i>
            <h4 class="title-page d-inline set-font-Raymon">گزارش پیشرفت</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'نام گزارش دهنده'" [inputId]="'1'"
            [inputFormControl]="reporterNameFormControl"></app-input-style>

        <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-sm-6 col-12" [inputLabel]="'تاریخ ثبت'" [inputId]="'2'"
            [inputFormControl]="saveDateFormControl"></app-date-picker-jalaly>

        <app-input-style [inputCustomStyle]="inputCustomStyle" [haveLimit]="true" [minValue]="0" [maxValue]="100" class="col-sm-6 col-12 mt-2" [type]="'number'" [inputLabel]="'درصد پیشرفت گزارش شده'" [inputId]="'3'"
            [inputFormControl]="progressFormControl" [label]="'%'"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'شرح گزارش پیشرفت'" [inputId]="'4'"
            [inputFormControl]="descreptionReportFormControl" [textarea]="true"></app-input-style>

        <div class="row col-12 mt-3 {{getValue() ? 'opacity-bold':'opacity-light'}}" style="direction: ltr;">
            <button type="button" class="ok-button" [disabled]="!getValue()" (click)="sendInfo()">
                <img src="../../../../../../assets/image/createProject/ok-button.svg" alt="">
            </button>
        </div>

      <app-upload-file-input class="col-sm-10 col-12" [inputFormControl]="uploadDocumentationProjectFormControl" [inputLabel]="'بارگذاری مستندات پیشرفت پروژه'"></app-upload-file-input>
    <div class="row col-sm-2 col-12 mt-3 {{getValue1() ? 'opacity-bold':'opacity-light'}}" style="direction: ltr;">
        <button type="button" class="ok-button" [disabled]="!getValue1()">
            <img src="../../../../../../assets/image/createProject/ok-button.svg" alt="">
        </button>
    </div>
    <div class="my-2" style="direction: ltr;">
        <button type="button" class="ok-button-text opacity-light px-4 py-2 {{getValueAll() ? 'opacity-bold':''}}" [disabled]="!getValueAll()">
            تایید و ادامه
        </button>
    </div>
    </div>
</div>
