@import "../../../../assets/style/colorPalette";

.list-result-project {
  background-color: $lite-yellow-back-ground;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  border-radius: 5px;
  color: $dark-back-ground;
}

.filter-box{
  background-color: $lite-yellow-back-ground;
  border: none;
  box-shadow: 0px 0px 7px 0px $side-bar-color;
  border-radius: 5px;
  font-weight: bold;
  color: $text-color-normal;
  span{
    text-align: center;
  }
}
.padding-filter-box {
  padding-top: 10px;
  padding-right: 100px;
  padding-left: 70px;
  @media(max-width:600px){
    padding-right: 80px;
    padding-left: 20px;
  }
}
.max-value-label {
  position: absolute;
  right: 0;
  top: 40px;
  font-size: small;
  color: $text-color-normal;
}
.min-value-label {
  position: absolute;
  left: 20px;
  top: 40px;
  font-size: small;
  color: $text-color-normal;
}
.slider-label {
  font-size: small;
  color: $text-color-normal;
}

.max-value-arrow {
  position: absolute;
  left: 14px;
  top: 15px;
  font-size: 30px;
  font-weight: bolder;
  color: $active-yellow;
}
.min-value-arrow {
  position: absolute;
  right: 14px;
  top: 15px;
  font-weight: bolder;
  font-size: 30px;
  color: $active-yellow;
}
.icon-short-cut-project {
  width: 50px;
  height: 50px;
  margin-right: 0;
  margin-left: 0;
  cursor: pointer;
  @media(max-width:600px){
    width: 35px;
    height: 35px;
    margin-right: 1px !important;
    margin-left: -6px;
  }
}

.state-project {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: red;
}
