<div class="row">
  <div class="col-12 col-sm-6 px-3 mx-auto mt-2">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">دریافتی و مانده حساب پروژه 1</p>
      <div echarts [options]="option2" theme="macarons" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 px-3 mx-auto mt-2">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">دریافتی و مانده حساب پروژه 2</p>
      <div echarts [options]="option2" theme="macarons" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 px-3 mx-auto mt-2">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">دریافتی و مانده حساب پروژه 3</p>
      <div echarts [options]="option2" theme="macarons" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 px-3 mx-auto mt-2">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">دریافتی و مانده حساب پروژه 4</p>
      <div echarts [options]="option2" theme="macarons" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 px-3 mx-auto mt-2">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">دریافتی و مانده حساب پروژه 5</p>
      <div echarts [options]="option2" theme="macarons" class="demo-chart"></div>
    </div>
  </div>

</div>


