<app-input-style [inputCustomStyle]="inputCustomStyle"
                 class="col-12 mt-2" [inputLabel]="'وضعیت خط انتقال'"
                 [inputId]="'transferLineControl'"
                 [inputFormControl]="transferLineControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle"
                 class="col-12 mt-2" [inputLabel]="'نوع خط لوله'"
                 [inputId]="'pipeTypeControl'"
                 [inputFormControl]="pipeTypeControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle"
                 class="col-12 mt-2" [inputLabel]="'طول خط انتقال'"
                 [inputId]="'pipeLenControl'" [type]="'number'"
                 [inputFormControl]="pipeLenControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle"
                 class="col-12 mt-2" [inputLabel]="'از کجا'"
                 [inputId]="'fromWhereControl'"
                 [inputFormControl]="fromWhereControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle"
                 class="col-12 mt-2" [inputLabel]="'به کجا'"
                 [inputId]="'toWhereControl'"
                 [inputFormControl]="toWhereControl"></app-input-style>
