@import "../../../../../../assets/style/modalStyle.scss";
@import "../../../../../userManagement/page/add-user-modal/add-user-modal.component.scss";

.txet-radio{
    color: $text-color-normal;
    font-weight: bold;
}

.error{
    background-color: rgba($color: $red-color, $alpha: 0.2);
    color: $red-color;
    border-radius: 5px;
    font-weight: bold;
}