<div class="bg-levels mx-4 mt-2">
    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">assignment_ind</i>
            <h4 class="title-page d-inline">انتخاب کارفرما</h4>
        </div>
        <div class="row col-11">
            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'1'"
            [inputFormControl]="userNameFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'2'"
                [inputFormControl]="firstAndLastNameFormControl"></app-input-style>
            </div>
        <div class="col-1">
            <button class="button-add"><img src="../../../../../../assets/image/createProject/add-icon.svg" alt=""></button>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">assignment_ind</i>
            <h4 class="title-page d-inline">انتخاب ناظر</h4>
        </div>
        <div class="row col-11">
            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'3'"
            [inputFormControl]="supervisorNameFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'4'"
                [inputFormControl]="supervisorFirstAndLastNameFormControl"></app-input-style>
        </div>
        <div class="col-1">
            <button class="button-add"><img src="../../../../../../assets/image/createProject/add-icon.svg" alt=""></button>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">assignment_ind</i>
            <h4 class="title-page d-inline">انتخاب مجری</h4>
        </div>
        <div class="row col-11">
            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'5'"
            [inputFormControl]="executorNameFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'6'"
            [inputFormControl]="executorFirstAndLastNameFormControl"></app-input-style>
        </div>
        <div class="col-1">
            <button class="button-add"><img src="../../../../../../assets/image/createProject/add-icon.svg" alt=""></button>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">assignment_ind</i>
            <h4 class="title-page d-inline">انتخاب پیمان کار</h4>
        </div>
        <div class="row col-11">
            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'7'"
            [inputFormControl]="contractorsNameFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'8'"
            [inputFormControl]="ContractorsFirstAndLastNameFormControl"></app-input-style>
        </div>
        <div class="col-1">
            <button class="button-add"><img src="../../../../../../assets/image/createProject/add-icon.svg" alt=""></button>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">assignment_ind</i>
            <h4 class="title-page d-inline">انتخاب مشاور</h4>
        </div>
        <div class="row col-11">
            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'9'"
            [inputFormControl]="consultantNameFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'10'"
            [inputFormControl]="consultantFirstAndLastNameFormControl"></app-input-style>
        </div>
        <div class="col-1">
            <button class="button-add"><img src="../../../../../../assets/image/createProject/add-icon.svg" alt=""></button>
        </div>

    </div>

    <div class="row col-12 my-2" style="direction: ltr;">
        <button type="button" class="ok-button">
            <img src="../../../../assets/image/createProject/ok-button.svg" alt="">
        </button>
    </div>
</div>
