<div class="set-font-vazir d-flex justify-content-center mx-auto row d-rtl">
    <mat-form-field class="mat-form-field-infix w-100" appearance="fill">
      <mat-label class="font-weight-bold set-font-vazir">{{title}}</mat-label>
      <mat-select class="text-right set-font-vazir">
        <mat-option class="text-right set-font-vazir" (click)="setProject('پروژه اول')">
           پروژه اول
        </mat-option>
        <mat-option class="text-right set-font-vazir" (click)="setProject('پروژه دوم')">
          پروژه دوم
       </mat-option>
       <mat-option class="text-right set-font-vazir" (click)="setProject('پروژه سوم')">
          پروژه سوم
       </mat-option>
      </mat-select>
    </mat-form-field>
</div>
