<div class="set-font-vazir d-flex justify-content-center mx-auto row d-rtl">
    <mat-form-field class="mat-form-field-infix w-100" appearance="fill" style="margin-top: -25px;">
      <mat-label class="font-weight-bold">{{title}}</mat-label>
      <mat-select>
        <mat-option (click)="setProject('پروژه اول')">
           پروژه اول 
        </mat-option>
        <mat-option (click)="setProject('پروژه دوم')">
          پروژه دوم  
       </mat-option>
       <mat-option (click)="setProject('پروژه سوم')">
          پروژه سوم  
       </mat-option>
      </mat-select>
    </mat-form-field>
</div>
