@import "../../../../assets/style/colorPalette.scss";

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $side-bar-color !important;
  }

  mat-label {
    color: $side-bar-color;
  }

  ::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: #ffffff!important;
  }
  ::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: $side-bar-color;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $side-bar-color;
    margin-top: -7px;
    padding-right: 7px;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $side-bar-color;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: $side-bar-color;
  }

  ::ng-deep .mat-form-field .mat-input-element {
    color: $side-bar-color;
    text-align: start;
    line-height: 2.5;
  }
  ::ng-deep .mat-form-field .mat-form-field-label {
    color: $side-bar-color !important;
    font-size: 17px;
    text-align: start;
    @media (max-width: 418px) {
      font-size: 15px;
    }
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: $lite-yellow-back-ground !important;
    border-radius: 4px 4px 0 0 !important;
    padding: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  }


::ng-deep.select2-container {
  width: 100% !important;
  font-family: Vazir, Raymon, Arial, Helvetica, sans-serif !important;
  text-align: right;
  font-size: 17px;
  @media(max-width: 600px){
    font-size: 12px;
  }
}
::ng-deep.select2-container .select2-selection--single {
  height: 34px;
  @media(max-width: 600px){
    height: 26px;
  }
}
