      <div class="bg-levels mx-4 mt-2">
        <div class="col-12 my-2">
          <i class="material-icons d-inline icon-styles">home</i>
          <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی مسکن</h4>
        </div>
        <div *ngFor="let list of arrayList , let i = index" class="row">
          <div class="col-12 mt-2">
            <h4 class="title-page1 d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
          </div>
          <mat-radio-group [value]="0"
            class="example-radio-group font-size-small">
            <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
              <span class="px-2">احداث</span>
            </mat-radio-button>
            <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
              <span class="px-2">تکمیل و توسعه</span>
            </mat-radio-button>
            <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
              <span class="px-2">مرمت</span>
            </mat-radio-button>
          </mat-radio-group>

          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [minValue]="0" [inputLabel]="'تعداد'" [inputId]="'meterageLand'" [type]="'number'" [inputFormControl]="meterageLand"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12"  [minValue]="0" [unit]="0" [inputLabel]="'متراژ'" [inputId]="'meterageInfrastructure'" [type]="'number'" [inputFormControl]="meterageInfrastructure"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [minValue]="0" [inputLabel]="'تعداد طبقات'" [inputId]="'numberOfFloors'" [type]="'number'" [inputFormControl]="numberOfFloors"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12"  [minValue]="0" [separate]="true" [unit]="3" [inputLabel]="'میزان تسهیلات'" [inputId]="'amountFacilities'" [type]="'text'" [inputFormControl]="amountFacilities"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12"  [minValue]="0" [separate]="true" [unit]="3" [inputLabel]="'میزان پرداخت متقاضیان'" [inputId]="'ApplicantsPaymentAmount'" [type]="'text'" [inputFormControl]="ApplicantsPaymentAmount"></app-input-style>

          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'انشعابات'" [inputId]="'branches'" [inputFormControl]="branches"></app-input-style>
          <div *ngIf="beneficiariesList" class="col-11">
            <div *ngFor="let list of beneficiariesList , let i = index" class="row my-2 lists">
                <div class="row col-11">
                    <div class="col-12 my-auto">
                        <span class="d-inline">{{i+1}}.
                            نام بهره بردار :</span>
                        <span class="d-inline">{{list}}</span>
                    </div>
                </div>
                <div class="col-1 pt-1">
                    <button (click)="remove(beneficiariesList , i)" class="remove-button"><img src="../../../../../assets/image/createProject/remove.svg" alt=""></button>
                </div>
            </div>
          </div>
          <div class="row col-11">
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'بهره برداران'" [inputId]="'beneficiaries'" [inputFormControl]="beneficiaries"></app-input-style>
          </div>
          <div class="col-1">
            <button *ngIf="beneficiaries.value && beneficiaries.valid" class="button-add"
                     (click)="add(beneficiariesList,beneficiaries.value)">
                <img src="../../../../../../assets/image/createProject/add-icon.svg" alt="">
            </button>
          </div>
          <div class="col-12 mt-2">
            <h4 class="title-page1 d-inline set-font-Raymon px-2">این پروژه خیّر دارد؟ </h4>
          </div>
          <mat-radio-group [value]="1"
            class="example-radio-group font-size-small">
            <mat-radio-button (click)="setGood()" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
              <span class="px-2">بله</span>
            </mat-radio-button>
            <mat-radio-button (click)="setGood()" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
              <span class="px-2">خیر</span>
            </mat-radio-button>
          </mat-radio-group>

          <app-input-style *ngIf="good" [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'نام خیّر'" [inputId]="'goodName'" [inputFormControl]="goodName"></app-input-style>
          <app-input-style *ngIf="good" [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12"  [separate]="true" [minValue]="0" [unit]="3" [inputLabel]="'میزان هزینه'" [type]="'text'" [inputId]="'amountCost'" [inputFormControl]="amountCost"></app-input-style>

          <div *ngIf="i-1>=0" class="row mx-auto">
            <div class="mx-auto text-start" (click)="deleteList(i)">
                <button class="button-add-activity">
                    <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                    mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                </button>
            </div>
          </div>
        </div>

        <div class="row mx-auto">
          <div class="mx-auto text-start" (click)="addList()">
              <button class="button-add-activity">
                  <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                  mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن مسکن جدید">
              </button>
          </div>
        </div>

        <div class="my-2" style="direction: ltr;">
          <button type="button" class="ok-button-text opacity-light px-4 py-2 {{checkValidation() ? 'opacity-bold':''}}" [disabled]="!checkValidation()">
              تایید و ادامه
          </button>
        </div>
      </div>
