@import "./colorPalette.scss";

.bg-levels{
    background-color: $lite-yellow-back-ground;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.wrapper{
    padding-top: 100px;
    margin-right: 70px;
    margin-left: 20px;
    direction: rtl;
    @media(max-width:500px){
        margin-left: 0px;
    }
}

.wrapper-content{
    margin-right: 20px;
    margin-left: 20px;
    direction: rtl;
    @media(max-width:500px){
        margin-left: 0px;
    }
}
::ng-deep .mat-tooltip {
  font-size: 13px !important;
  margin-bottom: -2px !important;
  font-family: Vazir, Raymon, Arial, Helvetica, sans-serif !important;
}
