@import "./colorPalette.scss";

.bg-levels{
    background-color: $lite-yellow-back-ground;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.wrapper{
    padding-top: 100px;
    margin-right: 70px;
    margin-left: 20px;
    direction: rtl;
    @media(max-width:500px){
      margin-right: 30px;
      margin-left: 15px;
    }
}

.wrapper-content{
    margin-right: 20px;
    margin-left: 20px;
    direction: rtl;
    @media(max-width:500px){
        margin-left: 0px;
    }
}
::ng-deep .mat-tooltip {
  font-size: 13px !important;
  margin-bottom: -2px !important;
  font-family: Vazir, Raymon, Arial, Helvetica, sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f1f1f1; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #519D9E; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c7475; 
}