$nave-bar-color: rgba(#9DC8C8,0.9);
$text-color-lite: #ebebeb;
$general-back-ground-color: #FBFBFB;
$side-bar-color: #519D9E;
$disable-input-color: #4c6666;
$lite-yellow: #f7edff;
$hieght-lite-yellow: #e0e0e0;
$active-yellow: #519D9E;
$active-yellow-lite: #519D9E;
$lite-yellow-back-ground: #ffffff;
$dark-back-ground: #519D9E;
$text-color-normal: #519D9E;
$red-color: #ff1919;
$green-color: #6CFBAA;
$yellow-color: #ffd519;
$background-modal: rgba(#000000, 0.8);
$text-color-normal1: #000000;
$grey: #888686;
$icon-color: #D1B6E1;
$button-color: #58C9B9;
