$nave-bar-color: rgba(0, 0, 0, 0.4);
$text-color-lite: #ebebeb;
$general-back-ground-color: #FBFBFB;
$side-bar-color: #555555;
$lite-yellow: #f1f1f1;
$hieght-lite-yellow: #e0e0e0;
$active-yellow: #000000;
$active-yellow-lite: #111111;
$lite-yellow-back-ground: #ffffff;
$dark-back-ground: #313131;
$text-color-normal: #2b2b2b;
$red-color: #ff1919;
$green-color: #6CFBAA;
$yellow-color: #ffd519;
$background-modal: rgba(82, 82, 82, 0.8);
$text-color-normal1: #000000;
$icon-color: #A4A3A3;
