$nave-bar-color: rgba(57, 57, 57, 0.2);
$text-color-lite: #FCFCFC;
$general-back-ground-color: #FBFBFB;
$side-bar-color: #AEAEAE;
$lite-yellow: #FFF7C1;
$active-yellow: #FFE94E;
$active-yellow-lite: #ffea6f;
$lite-yellow-back-ground: #FFFDF1;
$dark-back-ground: #646262;
$text-color-normal: #9C9696;
