<mat-radio-group
  class="example-radio-group font-size-small row">
  <mat-radio-button class="px-1 col-12 example-radio-button set-font-vazir text-right mt-3" [value]="0">
    <span class="px-2">تکمیل شده</span>
  </mat-radio-button>
  <mat-radio-button class="px-1 col-12 example-radio-button set-font-vazir text-right mt-3" [value]="1">
    <span class="px-2">در حال انجام</span>
  </mat-radio-button>
  <mat-radio-button class="px-1 col-12 example-radio-button set-font-vazir text-right mt-3" [value]="1">
    <span class="px-2">متمم</span>
  </mat-radio-button>
</mat-radio-group>
