<div class="back-ground-main d-rtl">
  <div class="row w-100 h-100">
    <div class="col-5 back-ground-dark boxShadow">
      <div class="row pt-4">
        <app-boolean-custom-toggle [isFirstValueSelected]="false" (handleSelectedValue)="changeLoginType()" [secondValue]="'شرکت'" [firstValue]="'کاربر'" class="mt-4 mx-auto d-flex justify-content-center"></app-boolean-custom-toggle>
        <div class="col-10 col-sm-8 mx-auto mt-3">
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'userName'" [type]="'text'" [inputFormControl]="workSpaceNameControl" [inputLabel]="'نام فضای کاری'"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'password'" [type]="'password'" [inputFormControl]="passwordControl" [inputLabel]="'رمز عبور'" class="mt-3"></app-input-style>
        </div>
      </div>

      <app-button-style [buttonText]="'ورود'"></app-button-style>
      <p class="pointer register-text text-center set-font-vazir mt-3" (click)="goRegister()">عضویت</p>
    </div>
    <div class="col-7">
      <div class="title-login text-center set-font-Raymon">
        درباره ی سرویس بیشتر بدانید...
      </div>
      <div class="description-login set-font-vazir text-center col-11 col-sm-9 mx-auto">
        متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.
      </div>
      <img src="../../../../assets/image/auth/companyLogin.gif"
           class="image-login justify-content-center d-flex mx-auto">
    </div>
  </div>
</div>
