<!-- <app-general-back-ground></app-general-back-ground> -->
<app-navebar></app-navebar>
<app-sidebar></app-sidebar>
<div class="wrapper">
    <div class="mx-auto">
        <div class="circle__row">
            <div class="circle col-3">
              <img class="circle--image" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" />
              <div class="circle--text">
                  <span class="d-block title">نوع پروژه اول</span>
                  <h6 class="d-block mt-2">ایجادپرژه</h6>
              </div>
            </div>
            <div class="circle col-3">
              <img class="circle--image" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" />
              <div class="circle--text">
                  <span class="d-block title">نوع پروژه اول</span>
                  <h6 class="d-block mt-2">ایجادپرژه</h6>
              </div>
            </div>
            <div class="circle col-3">
              <img class="circle--image" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" />
              <div class="circle--text">
                  <span class="d-block title">نوع پروژه اول</span>
                  <h6 class="d-block mt-2">ایجادپرژه</h6>
              </div>
            </div>
            <div class="circle col-3">
              <img class="circle--image" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" />
              <div class="circle--text">
                  <span class="d-block title">نوع پروژه اول</span>
                  <h6 class="d-block mt-2">ایجادپرژه</h6>
              </div>
            </div>
            <div class="circle col-3">
              <img class="circle--image" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" />
              <div class="circle--text">
                  <span class="d-block title">نوع پروژه اول</span>
                  <h6 class="d-block mt-2">ایجادپرژه</h6>
              </div>
            </div>
            <div class="circle col-3">
              <img class="circle--image" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" />
              <div class="circle--text">
                  <span class="d-block title">نوع پروژه اول</span>
                  <h6 class="d-block mt-2">ایجادپرژه</h6>
              </div>
            </div>
            <div class="circle col-3">
              <img class="circle--image" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" />
              <div class="circle--text">
                  <span class="d-block title">نوع پروژه اول</span>
                  <h6 class="d-block mt-2">ایجادپرژه</h6>
              </div>
            </div>
            <div class="circle col-3">
              <img class="circle--image" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" />
              <div class="circle--text">
                  <span class="d-block title">نوع پروژه اول</span>
                  <h6 class="d-block mt-2">ایجادپرژه</h6>
              </div>
            </div>
          </div>
    </div>
</div>
