<!-- <app-general-back-ground></app-general-back-ground> -->
<app-navebar></app-navebar>
<app-sidebar></app-sidebar>
<div class="wrapper set-font-Raymon">
    <div class="mx-auto">
        <div class="circle__row">
            <div class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/ssss.png" />
              <div class="circle--text">
                  <span class="d-block title">آب روستایی</span>
                  <h5 class="d-block mb-2">ایجاد پروژه</h5>
              </div>
            </div>
            <div class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath.png" />
              <div class="circle--text">
                  <span class="d-block title">راه روستایی</span>
                  <h5 class="d-block mt-2">ایجاد پروژه</h5>
              </div>
            </div>
            <div class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy (7).png" />
              <div class="circle--text">
                  <span class="d-block title">سلامت</span>
                  <h5 class="d-block mt-2">ایجاد پروژه</h5>
              </div>
            </div>
            <div class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy (4).png" />
              <div class="circle--text">
                  <span class="d-block title">مسکن روستایی</span>
                  <h5 class="d-block mt-2">ایجاد پروژه</h5>
              </div>
            </div>
            <div class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy.png" />
              <div class="circle--text">
                  <span class="d-block title">رفع حاشیه نشینی</span>
                  <h5 class="d-block mt-2">ایجاد پروژه</h5>
              </div>
            </div>
            <div class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy (9).png" />
              <div class="circle--text">
                  <span class="d-block title">اشتغال</span>
                  <h5 class="d-block mt-2">ایجاد پروژه</h5>
              </div>
            </div>
            <div class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy (11).png" />
              <div class="circle--text">
                  <span class="d-block title">امنیت غذایی</span>
                  <h5 class="d-block mt-2">ایجاد پروژه</h5>
              </div>
            </div>
            <div class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy (11).png" />
              <div class="circle--text">
                  <span class="d-block title">امنیت غذایی</span>
                  <h5 class="d-block mt-2">ایجاد پروژه</h5>
              </div>
            </div>
          </div>
    </div>
</div>
