<div class="wrapper set-font-Raymon">
  <app-display-user-path (companyIdSelected)="saveSelectedCompanyId($event)" [path1]="path1" [showCompanyList]="true"></app-display-user-path>
    <div class="mx-4 bg-levels px-0 position-relative">
      <div *ngIf="!companyId" class="glass-disable"></div>
        <div class="circle__row">
            <div (click)="goToCreateProjectSteps(9, 'آب خیر وقنوات')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/ssss.png" />
              <div class="circle--text">
                  <span class="d-block title">آب خیز و قنوات</span>
                  <h5 class="d-block mb-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
            <div (click)="goToCreateProjectSteps(2, 'راه روستایی')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath.png" />
              <div class="circle--text">
                  <span class="d-block title">
                    راه روستایی

                  </span>
                  <h5 class="d-block mt-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
            <div (click)="goToCreateProjectSteps(3, 'دانش بنیان')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/sience.jpg" />
              <div class="circle--text">
                  <span class="d-block title">دانش بنیان</span>
                  <h5 class="d-block mt-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
            <div (click)="goToCreateProjectSteps(5, 'تحول اجتماعی')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/sosial.jpg" />
              <div class="circle--text">
                  <span class="d-block title">
                    تحول اجتماعی
                  </span>
                  <h5 class="d-block mt-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
            <div (click)="goToCreateProjectSteps(8, 'احیای صنعت')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/industraial.jpg" />
              <div class="circle--text">
                  <span class="d-block title">
                    احیای صنعت
                  </span>
                  <h5 class="d-block mt-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
            <div (click)="goToCreateProjectSteps(1, 'سلامت')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy (7).png" />
              <div class="circle--text">
                  <span class="d-block title">سلامت</span>
                  <h5 class="d-block mt-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
            <div (click)="goToCreateProjectSteps(0, 'مسکن')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy (4).png" />
              <div class="circle--text">
                  <span class="d-block title">مسکن </span>
                  <h5 class="d-block mt-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
            <div (click)="goToCreateProjectSteps(4, 'رفع حاشیه نشینی')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy.png" />
              <div class="circle--text">
                  <span class="d-block title">
                    رفع حاشیه نشینی

                  </span>
                  <h5 class="d-block mt-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
            <div (click)="goToCreateProjectSteps(7, 'اشتغال')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy (9).png" />
              <div class="circle--text">
                  <span class="d-block title">اشتغال</span>
                  <h5 class="d-block mt-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
            <div (click)="goToCreateProjectSteps(6, 'امنیت غذایی')" class="circle">
              <img class="circle--image" src="../../../../assets/image/projectType/NoPath - Copy (11).png" />
              <div class="circle--text">
                  <span class="d-block title">
                    امنیت غذایی
                  </span>
                  <h5 class="d-block mt-2 set-font-vazir">ایجاد پروژه</h5>
              </div>
            </div>
          </div>
    </div>
</div>
