<div class="row mx-auto mt-2">
  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3 set-font-vazir" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <div (click)="changeTabState(0)" class="{{selectedTab == 0 ? 'tab-active-container' : 'tab-container'}} text-nowrap my-3"
           id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab"
           aria-controls="v-pills-home" aria-selected="true">نمودار درختی
      </div>
      <div (click)="changeTabState(1)" class="{{selectedTab == 1 ? 'tab-active-container' : 'tab-container'}} my-3 text-nowrap" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
              role="tab" aria-controls="v-pills-profile" aria-selected="false">مشاهده جزئیات</div>
      <div (click)="changeTabState(2)" class="{{selectedTab == 2 ? 'tab-active-container' : 'tab-container'}} my-3 text-nowrap" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
              role="tab" aria-controls="v-pills-messages" aria-selected="false">نمودار ها</div>
    </div>
    <div class="tab-content row w-100 mx-auto mt-2" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <app-activity-relationships-tree-mode></app-activity-relationships-tree-mode>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <app-activity-by-detail></app-activity-by-detail>
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <app-time-line-chart-activity *ngIf="selectedTab == 2"></app-time-line-chart-activity>
      </div>
    </div>
  </div>
</div>
