<div class="bg-levels mx-4 mt-2">
    <div class="row pb-5">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">file_download</i>
            <h4 class="title-page d-inline set-font-Raymon">اطلاعات منابع بازیابی</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'نام منبع'" [inputId]="'1'"
            [inputFormControl]="resourceNameFormControl"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'آدرس منبع'" [inputId]="'2'"
            [inputFormControl]="addressResourceFormControl"></app-input-style>

        <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-sm-6 col-12" [inputLabel]="'تاریخ آغاز'" [inputId]="'3'"
            [inputFormControl]="endDateFormControl"></app-date-picker-jalaly>

            <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-sm-6 col-12" [inputLabel]="'تاریخ اتمام'" [inputId]="'2'"
            [inputFormControl]="startDateFormControl"></app-date-picker-jalaly>

    </div>

    <div class="my-2" style="direction: ltr;">
        <button type="button" class="ok-button-text opacity-light px-4 py-2 {{getValue() ? 'opacity-bold':''}}" [disabled]="!getValue()">
            تایید و ادامه
        </button>
    </div>
</div>

