<div class="bg-levels mx-4 mt-2">
    <div class="row pb-5">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">file_download</i>
            <h4 class="title-page d-inline set-font-Raymon">اطلاعات منابع بازیابی</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'نام منبع'" [inputId]="'1'"
            [inputFormControl]="resourceNameFormControl"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'آدرس منبع'" [inputId]="'2'"
            [inputFormControl]="addressResourceFormControl"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'دوره زمانی بازیابی'" [inputId]="'3'"
            [inputFormControl]="TimeResourceFormControl"></app-input-style>
    </div>

    <div class="row col-12 my-2" style="direction: ltr;">
        <button type="button" class="ok-button" [disabled]="!getValue()">
            <img src="../../../../assets/image/createProject/ok-button.svg" alt="" class="opacity-light {{getValue() ? 'opacity-bold':''}}" alt="">
        </button>
    </div>
</div>

