
<div class="wrapper">
    <app-multi-select-custom-toggle [selectedValue]="4"></app-multi-select-custom-toggle>
    <div class="mx-auto mt-5">
        <div class="row mx-auto time-box py-4">
            <div class="col-sm-12 col-8 text-sm-center text-right mx-auto">
                <div class="mx-3 d-sm-inline d-block text-nowrap my-2">
                    <div class="squaredThree d-inline">
                        <input class="mx-2" type="checkbox" id="compelete">
                        <label for="compelete"></label>
                    </div>
                    <label class="label-text d-inline">تکمیل شده</label>
                </div>
                <div class="mx-3 d-sm-inline d-block text-nowrap my-2">
                    <div class="squaredThree d-inline">
                        <input class="mx-2" type="checkbox" id="supplement">
                        <label for="supplement"></label>
                    </div>
                    <label class="label-text d-inline">متمم</label>
                </div>
                <div class="mx-3 d-sm-inline d-block text-nowrap my-2">
                    <div class="squaredThree d-inline">
                        <input class="mx-2" type="checkbox" id="inWorking">
                        <label for="inWorking"></label>
                    </div>
                    <label class="label-text d-inline">در حال انجام کار</label>
                </div>
            </div>
        </div>
    </div>
</div>
