<div class="wrapper">
    <app-multi-select-custom-toggle [selectedValue]="4"></app-multi-select-custom-toggle>
    <div class="mx-auto mt-5">
        <div class="row mx-auto time-box py-4">
            <div class="col-12 text-center">
                <div class="mx-3 d-inline text-nowrap my-2">
                    <input class="mx-2 chk" type="checkbox">
                    <label for="">تکمیل شده</label>
                </div>
                <div class="mx-3 d-inline text-nowrap my-2">
                    <input class="mx-2 chk" type="checkbox">
                    <label for="">متمم</label>
                </div>
                <div class="mx-3 d-inline text-nowrap my-2">
                    <input class="mx-2 chk" type="checkbox">
                    <label for="">در حال انجام کار</label>
                </div>
            </div>
        </div>
    </div>
</div>