<div class="padding-filter-box d-rtl">
    <app-multi-select-custom-toggle [selectedValue]="4" [title]="'وضعیت'"></app-multi-select-custom-toggle>
    <div class="mx-auto mt-5">
        <div class="row mx-auto time-box py-4">
            <div class="col-sm-12 col-8 text-sm-center text-right mx-auto">
              <mat-radio-group
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setState(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">تکمیل شده</span>
                </mat-radio-button>
                <mat-radio-button (click)="setState(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">متمم</span>
                </mat-radio-button>
                <mat-radio-button (click)="setState(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">در حال انجام کار</span>
                </mat-radio-button>
              </mat-radio-group>
                <!-- <div class="d-sm-inline d-block">
                    <mat-checkbox class="d-inline"></mat-checkbox>
                    <span class="title-page set-font-Raymon px-3">تکمیل شده</span>
                </div>
                <div class="d-sm-inline d-block">
                    <mat-checkbox class="d-inline"></mat-checkbox>
                    <span class="title-page set-font-Raymon px-3">متمم</span>
                </div>
                <div class="d-sm-inline d-block">
                    <mat-checkbox class="d-inline"></mat-checkbox>
                    <span class="title-page set-font-Raymon px-3">در حال انجام کار</span>
                </div> -->
            </div>
        </div>
    </div>

    <div class="mt-4 mx-2">
        <div class="row list-result-project set-font-vazir py-2">
          <div class="col-12 col-md-4 col-sm-6 my-auto">نام پروژه</div>
          <div class="col-12 col-md-4 col-sm-6 my-auto">
            <div class="state-project mx-1 d-inline-block"></div>
            وضعیت پروژه</div>
          <div class="col-12 col-md-4 d-flex justify-content-end">
            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
            <img src="../../../../assets/icon/projectShortCut/Group%20200.svg" class="icon-short-cut-project">
            <img src="../../../../assets/icon/projectShortCut/Group%20201.svg" class="icon-short-cut-project">
            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
            <img src="../../../../assets/icon/projectShortCut/Group%20203.svg" class="icon-short-cut-project">
            <img src="../../../../assets/icon/projectShortCut/Group%20204.svg" class="icon-short-cut-project">
          </div>
        </div>

        <div class="row list-result-project set-font-vazir py-2">
            <div class="col-12 col-md-4 col-sm-6 my-auto">نام پروژه</div>
            <div class="col-12 col-md-4 col-sm-6 my-auto">
              <div class="state-project mx-1 d-inline-block"></div>
              وضعیت پروژه</div>
            <div class="col-12 col-md-4 d-flex justify-content-end">
              <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20200.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20201.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20203.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20204.svg" class="icon-short-cut-project">
            </div>
          </div>

          <div class="row list-result-project set-font-vazir py-2">
            <div class="col-12 col-md-4 col-sm-6 my-auto">نام پروژه</div>
            <div class="col-12 col-md-4 col-sm-6 my-auto">
              <div class="state-project mx-1 d-inline-block"></div>
              وضعیت پروژه</div>
            <div class="col-12 col-md-4 d-flex justify-content-end">
              <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20200.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20201.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20203.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20204.svg" class="icon-short-cut-project">
            </div>
          </div>

          <div class="row list-result-project set-font-vazir py-2">
            <div class="col-12 col-md-4 col-sm-6 my-auto">نام پروژه</div>
            <div class="col-12 col-md-4 col-sm-6 my-auto">
              <div class="state-project mx-1 d-inline-block"></div>
              وضعیت پروژه</div>
            <div class="col-12 col-md-4 d-flex justify-content-end">
              <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20200.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20201.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20203.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20204.svg" class="icon-short-cut-project">
            </div>
          </div>

          <div class="row list-result-project set-font-vazir py-2">
            <div class="col-12 col-md-4 col-sm-6 my-auto">نام پروژه</div>
            <div class="col-12 col-md-4 col-sm-6 my-auto">
              <div class="state-project mx-1 d-inline-block"></div>
              وضعیت پروژه</div>
            <div class="col-12 col-md-4 d-flex justify-content-end">
              <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20200.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20201.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20203.svg" class="icon-short-cut-project">
              <img src="../../../../assets/icon/projectShortCut/Group%20204.svg" class="icon-short-cut-project">
            </div>
          </div>
    </div>
</div>
