@import "../advanced-search-according-to-time/advanced-search-according-to-time.component.scss";
@import "../advanced-search-according-to-allocation/advanced-search-according-to-allocation.component.scss";

.squaredThree {
    position: relative;
}

.squaredThree label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    background: $text-color-normal;
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.squaredThree label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredThree label:hover::after {
    opacity: 0.3;
}

.squaredThree input[type=checkbox] {
    visibility: hidden;
}

.squaredThree input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.label-text {
    position: relative;
    right: 30px;
}