<div class="wrapper">
  <app-display-user-path [showCompanyList]="true" [path1]="path1" [path2]="path2"></app-display-user-path>

<div class="row px-3" *ngIf="projectList">
  <div *ngFor="let item of projectList"
   class="col-xl-3 col-lg-4 col-md-6 col-12 mt-3 mx-auto d-flex justify-content-center">
    <div class="project-card position-relative">
      <div class="d-flex">
        <img class="project-profile boxShadow" src="../../../../assets/image/workSpace/sakh3.jpg">
        <div class="d-inline-block px-2 set-font-Raymon project-title">
          {{item.projectName}}
        </div>
      </div>

      <div class="d-block">
        <div class="set-font-vazir project-detail mt-3">
          <span class="pl-1">تاریخ شروع:</span>
          {{item.startTimeOfProject.timeInterval}}
        </div>
        <div class="set-font-vazir project-detail mt-1">
          <span class="pl-1">تاریخ تحویل:</span>
          {{item.projectDeliveryTime.timeInterval}}
        </div>
      </div>
      <div class="project-description text-justify set-font-vazir">
        {{item.projectDescription}}
      </div>

      <div class="container-icon d-flex justify-content-center">
        <img src="../../../../assets/icon/projectShortCut/more.svg" (click)="goEditProject(item.projectId)" class="short-cut-icon"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
        <img src="../../../../assets/icon/projectShortCut/Group 199.svg" (click)="goInformationActivity(item.projectId)"class="short-cut-icon"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
        <img src="../../../../assets/icon/projectShortCut/Group 202.svg" (click)="sendReport(item.projectId)" class="short-cut-icon"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
      </div>
    </div>
  </div>
</div>

<div *ngIf="!projectList||projectList.length==0">
  <app-empty-result></app-empty-result>
</div>
</div>
