@import "../../../../assets/style/colorPalette.scss";
@import "../../../../assets/style/base.scss";

.project-card {
  background-color: $background-card;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  height: 350px;
  width: 300px;
  margin-top: 20px;
  @media (max-width: 400px) {
    //width: 230px;
    height: 310px;
  }
}

.project-profile {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  @media (max-width: 500px) {
    width: 70px;
    height: 70px;
  }
}

.project-title {
  text-align: right;
  font-size: 17px;
  color: $dark-back-ground;
  margin-top: 18px;
  @media (max-width: 500px) {
    font-size: 15px;
    margin-top: 10px;
  }
}

.project-detail {
  text-align: right;
  font-size: 12px;
  color: $text-color-normal;
  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.project-description {
  font-size: 14px;
  color: $text-color-normal;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  @media (max-width: 500px) {
    font-size: 11px;
    line-height: 25px;
  }
}
.cycle-progress {
  position: absolute; left: -90px; top: 5px; width: 45%;
  @media (max-width: 1100px) {
    left: -85px;
  }
  @media (max-width: 400px) {
    left: -75px;
  }
  @media (max-width: 300px) {
    left: -55px;
  }
}
.short-cut-icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
  @media (max-width: 500px) {
    height: 35px;
    width: 35px;
  }
}
.container-icon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  @media (max-width: 500px) {
    margin-top: 23px;
  }
}

