
  <div class="project-list-card boxShadow">
    <div class="d-flex justify-content-center py-3 title-card set-font-Raymon">
      <div class="motamam-icon mt-1"></div>
      <span class="px-2">پروژه های متمم</span>
    </div>
    <div class="list-h">
      <div class="row px-3 mt-3">
        <div class="col-6 justify-content-start project-title set-font-vazir pt-2">اسم پروژه</div>
        <div class="col-6 d-flex justify-content-end">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20204.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20203.svg">
        </div>
        <hr class="my-1 hr-opacity">
      </div>
      <div class="row px-3">
        <div class="col-6 justify-content-start project-title set-font-vazir pt-2">اسم پروژه</div>
        <div class="col-6 d-flex justify-content-end">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20204.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20203.svg">
        </div>
        <hr class="my-1 hr-opacity">
      </div>
      <div class="row px-3">
        <div class="col-6 justify-content-start project-title set-font-vazir pt-2">اسم پروژه</div>
        <div class="col-6 d-flex justify-content-end">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20204.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20203.svg">
        </div>
        <hr class="my-1 hr-opacity">
      </div>
      <div class="row px-3">
        <div class="col-6 justify-content-start project-title set-font-vazir pt-2">اسم پروژه</div>
        <div class="col-6 d-flex justify-content-end">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20204.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20203.svg">
        </div>
        <hr class="my-1 hr-opacity">
      </div>
      <div class="row px-3">
        <div class="col-6 justify-content-start project-title set-font-vazir pt-2">اسم پروژه</div>
        <div class="col-6 d-flex justify-content-end">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20204.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20203.svg">
        </div>
        <hr class="my-1 hr-opacity">
      </div>
      <div class="row px-3">
        <div class="col-6 justify-content-start project-title set-font-vazir pt-2">اسم پروژه</div>
        <div class="col-6 d-flex justify-content-end">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20204.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20203.svg">
        </div>
        <hr class="my-1 hr-opacity">
      </div>
      <div class="row px-3">
        <div class="col-6 justify-content-start project-title set-font-vazir pt-2">اسم پروژه</div>
        <div class="col-6 d-flex justify-content-end">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20204.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg">
          <img class="icon-short-cut" src="../../../../../../assets/icon/projectShortCut/Group%20203.svg">
        </div>
        <hr class="my-1 hr-opacity">
      </div>
    </div>
  </div>
