<div class="p-3">
  <div class="row">
    <div class="col-12">
      <button *ngIf="!edit" class="mx-auto float-left w-auto edit-button" (click)="editForm()">
        <i class="material-icons d-inline">edit</i>
      </button>
      <button *ngIf="edit" class="mx-auto float-left w-auto edit-button" (click)="saved()">
        <i class="material-icons d-inline">check</i>
      </button>
    </div>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'اهداف پروژه'" [inputId]="'objectives'"
                     [inputFormControl]="objectivesFormControl" [textarea]="true"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'گلوگاهها پروژه'" [inputId]="'projectTheBottleneck'"
                     [inputFormControl]="projectTheBottleneckFormControl" [textarea]="true"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'چالشها پروژه'" [inputId]="'projectChallenge'"
                     [inputFormControl]="projectChallengeFormControl" [textarea]="true"></app-input-style>

  </div>
  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">info</i>
      <h4 class="title-page d-inline set-font-Raymon">اطلاعات اولیه</h4>
    </div>
    <app-input-style [isDatePiker]="true" [inputCustomStyle]="inputCustomStyle"
                     class="col-12" [type]="'text'" [inputLabel]="'نام پروژه'" [inputId]="'1'" [disabled]="true"
                     [inputFormControl]="projectNameFormControl"></app-input-style>

    <app-input-style *ngIf="!edit" [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'تاریخ تحویل پروژه'" [inputId]="'2'"
                            [inputFormControl]="projectDeliveryDateFormControl"></app-input-style>

    <app-date-picker-jalaly *ngIf="edit" [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'تاریخ تحویل پروژه'" [inputId]="'2'"
                            [inputFormControl]="projectDeliveryDateFormControl1"></app-date-picker-jalaly>

    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'توضیحات'" [inputId]="'3'"
                     [inputFormControl]="descreptionFormControl" [textarea]="true"></app-input-style>
  </div>

  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">business_center</i>
      <h4 class="title-page mt-3 d-inline set-font-Raymon">اطلاعات مالی</h4>
    </div>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'number'" [inputLabel]="'هزینه زیرساخت'" [inputId]="'infrastructureCost'"
                     [inputFormControl]="infrastructureCostFormControl"></app-input-style>

    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'number'" [inputLabel]="'هزینه منابع انسانی'" [inputId]="'humanResourceCost'"
                     [inputFormControl]="humanResourceCostFormControl"></app-input-style>
  </div>

  <div class="row position-relative">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">location_on</i>
      <h4 class="title-page d-inline set-font-Raymon ">اطلاعات مکانی</h4>

    </div>
    <app-drop-down-province-list *ngIf="placeholderProvince!=null" [placeholder]="placeholderProvince" class="col-md-6 col-12"></app-drop-down-province-list>
    <app-drop-down-city-list *ngIf="placeholderCity!=null" [cityList]="cityList" [placeholder]="placeholderCity" class="col-md-6 col-12"></app-drop-down-city-list>
    <!-- <app-drop-down-region-list *ngIf="placeholderRegion!=null" [placeholder]="placeholderRegion" class="col-md-6 col-12"></app-drop-down-region-list>
    <app-drop-down-village-list *ngIf="placeholderVillage!=null" [placeholder]="placeholderVillage" class="col-md-6 col-12"></app-drop-down-village-list> -->
    <!-- <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'آدرس'" [inputId]="'6'"
                     [inputFormControl]="addressFormControl" [textarea]="true"></app-input-style> -->

    <app-input-style (click)="goOnMap()" [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'موقعیت در نقشه'" [inputId]="'7'"
                     [inputFormControl]="LocationFormControl"></app-input-style>

    <app-edit-project-location *ngIf="x_location" [selectedX]="y_location" [selectedY]="x_location"></app-edit-project-location>
  </div>

  <div *ngIf="getValue()" class="row col-12 my-2" style="direction: ltr;">
    <button type="button" class="ok-button">
      <img src="../../../../../assets/image/createProject/ok-button.svg" alt="">
    </button>
  </div>
</div>
