<div class="p-3">
  <div class="row">
    <div class="col-12">
      <!-- <button *ngIf="!edit" class="mx-auto float-left w-auto edit-button" (click)="editForm()">
        <i class="material-icons d-inline">edit</i>
      </button> -->
      <button class="mx-auto float-left w-auto edit-button" (click)="saved()">
        <i class="material-icons d-inline">check</i>
      </button>
    </div>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'اهداف پروژه'" [inputId]="'objectives'"
                     [inputFormControl]="objectivesFormControl" [textarea]="true"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'گلوگاهها پروژه'" [inputId]="'projectTheBottleneck'"
                     [inputFormControl]="projectTheBottleneckFormControl" [textarea]="true"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'چالشها پروژه'" [inputId]="'projectChallenge'"
                     [inputFormControl]="projectChallengeFormControl" [textarea]="true"></app-input-style>

  </div>
  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">info</i>
      <h4 class="title-page d-inline set-font-Raymon">اطلاعات اولیه</h4>
    </div>
    <app-input-style [isDatePiker]="true" [inputCustomStyle]="inputCustomStyle"
                     class="col-12" [inputLabel]="'نام پروژه'" [inputId]="'1'" [disabled]="true"
                     [inputFormControl]="projectNameFormControl"></app-input-style>

    <!-- <app-input-style *ngIf="!edit" [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'تاریخ تحویل پروژه'" [inputId]="'2'"
                            [inputFormControl]="projectDeliveryDateFormControl"></app-input-style> -->

    <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'تاریخ تحویل پروژه'" [inputId]="'2'"
                            [inputFormControl]="projectDeliveryDateFormControl1" [changeValue1]="projectDeliveryDateFormControl1"></app-date-picker-jalaly>

    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'توضیحات'" [inputId]="'3'"
                     [inputFormControl]="descreptionFormControl" [textarea]="true"></app-input-style>
  </div>

  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">business_center</i>
      <h4 class="title-page mt-3 d-inline set-font-Raymon">اطلاعات مالی</h4>
    </div>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'number'" [inputLabel]="'هزینه زیرساخت'" [inputId]="'infrastructureCost'"
                     [inputFormControl]="infrastructureCostFormControl"></app-input-style>

    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'number'" [inputLabel]="'هزینه منابع انسانی'" [inputId]="'humanResourceCost'"
                     [inputFormControl]="humanResourceCostFormControl"></app-input-style>
  </div>

  <div class="row position-relative">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">location_on</i>
      <h4 class="title-page d-inline set-font-Raymon ">اطلاعات مکانی</h4>

    </div>

    <div class="col-4">
      {{placeholderProvince}}
      <span *ngIf="!showPlaceholderProvince" (click)="chengeState(true)" class="material-icons edit-icon">create</span>
      <span *ngIf="showPlaceholderProvince" (click)="chengeState(false)" class="material-icons edit-icon">clear</span>
    </div>
    <div class="col-8">
      <app-drop-down-province-list (province)="changeNewStat($event)" *ngIf="showPlaceholderProvince" [placeholder]="placeholderProvince" class="col-md-6 col-12"></app-drop-down-province-list>
    </div>

    <div class="col-4">
      {{placeholderCity}}
      <span *ngIf="!showPlaceholderCity" (click)="chengeCity(true)" class="material-icons edit-icon">create</span>
      <span *ngIf="showPlaceholderCity" (click)="chengeCity(false)" class="material-icons edit-icon">clear</span>
    </div>
    <div class="col-8">
      <app-drop-down-city-list (city)="changeNewCity($event)" *ngIf="showPlaceholderCity" [cityList]="cityList" [placeholder]="placeholderCity" class="col-md-6 col-12"></app-drop-down-city-list>
    </div>

    <div class="col-4">
      {{placeholderRegion}}
      <span *ngIf="!showPlaceholderRegion" (click)="chengeRegion(true)" class="material-icons edit-icon">create</span>
      <span *ngIf="showPlaceholderRegion" (click)="chengeRegion(false)" class="material-icons edit-icon">clear</span>
    </div>
    <div class="col-8">
      <app-drop-down-region-list (region)="changeNewSection($event)" *ngIf="showPlaceholderRegion && regionList" [regionList]="regionList" [placeholder]="placeholderRegion" class="col-md-6 col-12"></app-drop-down-region-list>
    </div>

    <div class="col-4">
      {{placeholderVillage}}
      <span *ngIf="!showPlaceholderVillage" (click)="chengeVillage(true)" class="material-icons edit-icon">create</span>
      <span *ngIf="showPlaceholderVillage" (click)="chengeVillage(false)" class="material-icons edit-icon">clear</span>
    </div>
    <div class="col-8">
      <app-drop-down-village-list [villageList]="villageList" (village)="changeNewVillage($event)" *ngIf="showPlaceholderVillage && villageList" [placeholder]="placeholderVillage" class="col-md-6 col-12"></app-drop-down-village-list>
    </div>

    <!-- <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'موقعیت در نقشه'" [inputId]="'7'"
                     [inputFormControl]="LocationFormControl"></app-input-style> -->

    <app-edit-project-location *ngIf="x_location" [selectedX]="y_location" [selectedY]="x_location"></app-edit-project-location>
  </div>

  <div *ngIf="getValue()" class="row col-12 my-2" style="direction: ltr;">
    <button type="button" class="ok-button">
      <img src="../../../../../assets/image/createProject/ok-button.svg" alt="">
    </button>
  </div>
</div>
