<app-navebar></app-navebar>
<app-sidebar></app-sidebar>

<div class="wrapper d-rtl">
    <div class="row d-flex">
        <div class="col-4 d-none d-md-flex">
            <div class="row d-flex">
                <div class="col-6 d-flex my-2">
                    <div class="item animated w-100 d-flex wow fadeIn">
                      <img class="w-100 img1 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                      <div class="overlay title-overlay">
                        <div class="text text1">
                            <span class="d-block">12/2/1378</span>
                            <span class="d-block">photo name</span>
                        </div>
                        <div class="d-ltr">
                            <i class="material-icons d-inline icon-images icon-images1">delete</i>
                            <i class="material-icons d-inline icon-images icon-images1">build</i>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-6 d-flex my-2">
                    <div class="item animated w-100 d-flex wow fadeIn">
                      <img class="w-100 img1 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                      <div class="overlay title-overlay">
                        <div class="text text1">
                            <span class="d-block">12/2/1378</span>
                            <span class="d-block">photo name</span>
                        </div>
                        <div class="d-ltr">
                            <i class="material-icons d-inline icon-images icon-images1">delete</i>
                            <i class="material-icons d-inline icon-images icon-images1">build</i>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-12 d-flex my-2">
                    <div class="item animated w-100 d-flex wow fadeIn">
                        <img class="w-100 img2 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                        <div class="overlay title-overlay">
                            <div class="text text2">
                                <span class="d-inline px-3">photo name</span>
                                <span class="d-inline">12/2/1378</span>
                            </div>
                            <div class="d-ltr">
                                <i class="material-icons d-inline icon-images icon-images2">delete</i>
                                <i class="material-icons d-inline icon-images icon-images2">build</i>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 d-none d-md-flex">
            <div class="row d-flex">
                <div class="col-12 d-flex my-2">
                    <div class="item animated w-100 d-flex wow fadeIn">
                        <img class="w-100 img2 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                        <div class="overlay title-overlay">
                            <div class="text text2">
                                <span class="d-inline px-3">photo name</span>
                                <span class="d-inline">12/2/1378</span>
                            </div>
                            <div class="d-ltr">
                                <i class="material-icons d-inline icon-images icon-images2">delete</i>
                                <i class="material-icons d-inline icon-images icon-images2">build</i>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-8 d-flex my-2">
                    <div class="item animated w-100 d-flex wow fadeIn">
                        <img class="w-100 img1 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                        <div class="overlay title-overlay">
                            <div class="text text2">
                                <span class="d-inline px-3">photo name</span>
                                <span class="d-inline">12/2/1378</span>
                            </div>
                            <div class="d-ltr">
                                <i class="material-icons d-inline icon-images icon-images2">delete</i>
                                <i class="material-icons d-inline icon-images icon-images2">build</i>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-4 d-flex my-2">
                    <div class="item animated w-100 d-flex wow fadeIn">
                        <img class="w-100 img1 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                        <div class="overlay title-overlay">
                            <div class="text text1">
                                <span class="d-block">photo name</span>
                                <span class="d-block">12/2/1378</span>
                            </div>
                            <div class="d-ltr">
                                <i class="material-icons d-inline icon-images icon-images1 m-1">delete</i>
                                <i class="material-icons d-inline icon-images icon-images1 m-1">build</i>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-md-none mx-auto">
            <div class="col-6 my-2">
                <div class="item animated w-100 d-flex wow fadeIn">
                    <img class="w-100 img1 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                    <div class="overlay title-overlay">
                      <div class="text text1">
                          <span class="d-block">12/2/1378</span>
                          <span class="d-block">photo name</span>
                      </div>
                      <div class="d-ltr">
                          <i class="material-icons d-inline icon-images icon-images1">delete</i>
                          <i class="material-icons d-inline icon-images icon-images1">build</i>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-6 my-2">
                <div class="item animated w-100 d-flex wow fadeIn">
                    <img class="w-100 img1 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                    <div class="overlay title-overlay">
                      <div class="text text1">
                          <span class="d-block">12/2/1378</span>
                          <span class="d-block">photo name</span>
                      </div>
                      <div class="d-ltr">
                          <i class="material-icons d-inline icon-images icon-images1">delete</i>
                          <i class="material-icons d-inline icon-images icon-images1">build</i>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-6 my-2">
                <div class="item animated w-100 d-flex wow fadeIn">
                    <img class="w-100 img1 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                    <div class="overlay title-overlay">
                      <div class="text text1">
                          <span class="d-block">12/2/1378</span>
                          <span class="d-block">photo name</span>
                      </div>
                      <div class="d-ltr">
                          <i class="material-icons d-inline icon-images icon-images1">delete</i>
                          <i class="material-icons d-inline icon-images icon-images1">build</i>
                      </div>
                    </div>
                  </div>
            </div>
             <div class="col-6 my-2">
                <div class="item animated w-100 d-flex wow fadeIn">
                    <img class="w-100 img1 pointer" src="../../../../assets/image/projectType/u3fx5lvxhzmg.jpeg" alt="">
                    <div class="overlay title-overlay">
                      <div class="text text1">
                          <span class="d-block">12/2/1378</span>
                          <span class="d-block">photo name</span>
                      </div>
                      <div class="d-ltr">
                          <i class="material-icons d-inline icon-images icon-images1">delete</i>
                          <i class="material-icons d-inline icon-images icon-images1">build</i>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>