@import "../../../../../assets/style/colorPalette.scss";

.toggle-base {
  background-color: white;
  width: 130px;
  border-radius: 50px;
  height: 45px;
  font-size: large;
  transition: all 0.5s;
  position: relative;
  color: $active-yellow-lite;
}
.toggle-cycle-1 {
  width: 67px;
  border-radius: 50px;
  height: 50px;
  background-color: $active-yellow;
  margin-top: -3px;
  position: absolute;
  left: 0;
  color: $active-yellow-lite;
  transition: all 0.5s;
}
.toggle-cycle-2 {
  width: 67px;
  border-radius: 50px;
  height: 50px;
  background-color: $active-yellow;
  margin-top: -3px;
  position: absolute;
  transition: all 0.5s;
  right: 0;
}

.first-value-position {
  position: absolute;
  top: 10px;
  right: 13px;
}
.second-value-position {
  position: absolute;
  top: 10px;
  left: 10px;
}
