@import "../../../../../../assets/style/colorPalette";

.project-list-card {
  background-color: $hieght-lite-yellow;
  width: 350px;
  border-radius: 15px;
  margin-top: 40px;
}

.list-h {
  max-height: 340px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.icon-short-cut {
  height: 45px;
  width: 45px;
}
.project-title {
  font-size: medium;
  color: $dark-back-ground;
}
.hr-opacity {
  opacity: 0.2;
}
.title-card {
  color: $dark-back-ground;
  font-size: large;
  text-align: center;
}
.motamam-icon {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: $red-color;
}
.in-processing-icon {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: $yellow-color;
}
.done-icon {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: $green-color;
}
