<div class="toggle-base set-font-vazir d-flex justify-content-center mx-auto row d-rtl">
  <div (click)="changeSelectedFilter(2)" class="unselected-value {{checkIsCurrentFilterSelected(2) ? 'toggle-cycle py-3' : 'py-2'}} pointer col-2">پیشرفت</div>
  <div (click)="changeSelectedFilter(0)" class="unselected-value {{checkIsCurrentFilterSelected(0) ? 'toggle-cycle py-3' : 'py-2'}} pointer col-2">زمان</div>
  <div (click)="changeSelectedFilter(5)" class="unselected-value {{checkIsCurrentFilterSelected(5) ? 'toggle-cycle py-3' : 'py-2'}} pointer col-2">تخصیص</div>
  <div (click)="changeSelectedFilter(3)" class="unselected-value {{checkIsCurrentFilterSelected(3) ? 'toggle-cycle py-3' : 'py-2'}} pointer col-2">هزینه</div>
  <div (click)="changeSelectedFilter(1)" class="unselected-value {{checkIsCurrentFilterSelected(1) ? 'toggle-cycle py-3' : 'py-2'}} pointer col-2">شرکت</div>
  <div (click)="changeSelectedFilter(4)" class="unselected-value {{checkIsCurrentFilterSelected(4) ? 'toggle-cycle py-3' : 'py-2'}} pointer col-2">وضعیت</div>
</div>
