@import "../../../../assets/style/colorPalette.scss";
 
.toggle-base {
  background-color: white;
  width: 450px;
  border-radius: 50px;
  height: 45px;
  color: $dark-back-ground;
  font-size: large;
  transition: all 0.5s;
  position: relative;
  border: 1px solid $dark-back-ground;
  margin-top: 70px;
}

.toggle-cycle {
  border-radius: 50px;
  height: 50px;
  background-color: $lite-yellow;
  font-weight: bold;
  margin-top: -4px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}

.unselected-value {
  text-align: center;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $side-bar-color !important;
} 

mat-label {
  color: $side-bar-color;
}

::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: $side-bar-color;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: $side-bar-color;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $side-bar-color;
  margin-top: -1px;
  padding-right: 7px;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $side-bar-color;
}

::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: $side-bar-color;
}

::ng-deep .mat-form-field .mat-input-element {
  color: $side-bar-color;
  text-align: start;
  line-height: 2.5;
}
::ng-deep .mat-form-field .mat-form-field-label {
  color: $side-bar-color !important;
  font-size: 17px;
  text-align: start;
  @media (max-width: 418px) {
    font-size: 15px;
  }
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: $lite-yellow !important; 
}