@import "../../../../../../../assets/style/colorPalette.scss";

.map-container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 60px;
  bottom: 0;
  z-index: 1;
}

.map-content {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0px;
  bottom: 0;
  z-index: 0;
}

.map-frame {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  height: 100%;
}

#map {
  height: 100%;
}

.select-location {
  background-color: $lite-yellow-back-ground;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  color: $dark-back-ground;
  position: fixed; z-index: 99999;
  display: none;
}

.navigate-pos {
  position: absolute;
  left: 15px;
  right: 55px;
  top: 75px;
  z-index: 3;
}

.display-location {
  width: 240px;
  min-height: 111px;
  border-radius: 8px;
  background-color: rgba(256, 256, 256, 0.8);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}


.display-selected-location {
  width: 240px;
  min-height: 111px;
  border-radius: 8px;
  background-color: white;
  border: 3px solid $active-yellow-lite;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.address-text {
  font-weight: bold;
  font-size: medium;
  color: $active-yellow-lite;
}

.address-detail {
  font-size: small;
  color: #AEAEAE;
}

.container-box {
  position: absolute;
  top: 170px;
  right: 80px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-address-button {
  color: white;
  background-color: $icon-color;
  border-radius: 50px;
  max-width: 70px;
  font-size: small;
  text-align: center;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  outline: none;
}

.submit-address-button {
  float: left;
  cursor: pointer;
  height: 30px;
  margin-top: 12px;
}
