  <div class="wrapper-rout container-routs navigate-pos">
    <div class="row w-100 content-routs mx-auto position-relative">
      <div class="col-md-5 col-lg-4 col-12 my-auto">
        <div class="d-flex py-4 text-right set-font-vazir">
          <span (click)="routToPath1()" class="parent-rout px-2 text-nowrap pointer">{{path1.path}}</span>
          <img class="arrow-icon" src="../../../../assets/icon/naveBar/arrow.svg">
          <span (click)="routToPath2()" class="text-nowrap parent-rout pointer px-2">{{path2.path}}</span>
          <img *ngIf="path3" class="arrow-icon" src="../../../../assets/icon/naveBar/arrow.svg">
          <span (click)="routToPath3()" class="current-rout text-nowrap px-2 pointer">{{path3.path}}</span>
        </div>
      </div>
      <div class="col-lg-6 col-md-5 col-12 pb-md-3 pt-md-3 pb-2">
      </div>
      <div class="col-md-2 col-12 d-flex justify-content-end my-auto back-icon-container">
        <img src="../../../../assets/icon/naveBar/back.svg" class="back-icon pointer" (click)="goBack()">
      </div>
    </div>
  </div>


  <div (click)="activeSelectLocation($event)" class="map-content">
  <div id="map"></div>
</div>

<div id="selectLocation" class="select-location set-font-vazir p-2">
  <span class="px-2 d-inline-block pointer" (click)="addNewAddress()">بله</span>
  <span class="px-2 d-inline-block pointer" (click)="changeLocation()">خیر</span>
  <span class="font-weight-bold px-1">موقعیت آدرس {{returnSelectedAddressNumber()}} همین جاست؟</span>
</div>

<div class="container-box">
  <div (click)="setSelectedAddress(i)" class="set-font-vazir {{i == selectedAddressToSetLocation ? 'display-selected-location' : 'display-location'}} p-2 mt-2"
  *ngFor="item of addressList; let i=index;">
    <div class="address-text text-center">مشخصات آدرس {{i + 1}}</div>
    <!--
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'id' + i" [inputFormControl]="getInputControler(i)" class="mt-1" [inputLabel]="'عنوان آدرس'"></app-input-style>
    -->
    <div class="text-right address-detail mt-3">
      <span class="d-inline-block px-2">{{getTitleAddress(i)}}</span>
      <span class="set-font-vazir"> :موقعیت</span>
    </div>


    <img src="../../../../../../../assets/icon/userManagment/rejectCompanyRequest.svg" (click)="removeAddress(i)" class="submit-address-button">
    <img src="../../../../../../../assets/icon/userManagment/confirmCompanyRequest.svg" class="submit-address-button">
  </div>

  <button (click)="addNewLocation()" [disabled]="checkAddNewAddress()" class="add-address-button set-font-vazir p-2 mt-2 mx-auto d-flex justify-content-center">افزودن آدرس جدید</button>

</div>

