<div class="wrapper">
  <div class="row d-rtl mx-auto d-flex justify-content-center">
    <app-display-user-path [path1]="path1" [path2]="path2"></app-display-user-path>
    <div class="col-md-6 col-12 mx-auto d-flex justify-content-center">
      <div class="quick-access-card-company boxShadow">
        <img class="img-quick-access-card" src="../../../../assets/image/workSpace/sakh3.jpg">
        <div class="black-glass-quick-access-card">
        <span class="set-font-Raymon text-light d-flex justify-content-center title-card">
          پروژه ها
        </span>
        </div>
        <div class="mt-2 d-flex m-r-1">
          <div class="option-in-card mt-1"></div>
          <span class="set-font-vazir sub-menu-text px-2" (click)="goToCreateProject()">ایجاد پروژه</span>
        </div>
        <div class="mt-4 d-flex m-r-2">
          <div class="option-in-card mt-1"></div>
          <span class="set-font-vazir sub-menu-text px-2 ">ویرایش پروژه</span>
        </div>
        <div class="mt-4 d-flex m-r-1">
          <div class="option-in-card mt-1"></div>
          <span class="set-font-vazir sub-menu-text px-2 ">مشاهده پروژه</span>
        </div>
        <div class="mt-4 d-flex m-r-3">
          <div class="option-in-card mt-1"></div>
          <span class="set-font-vazir sub-menu-text px-2 ">ایجاد پروژه</span>
        </div>

      </div>
    </div>
    <div class="col-md-6 mt-3 mt-md-0 col-12 mx-auto d-flex justify-content-center">
      <div class="quick-access-card-company boxShadow">
        <img class="img-quick-access-card" src="../../../../assets/image/workSpace/sakh3.jpg">
        <div class="black-glass-quick-access-card">
        <span class="set-font-Raymon text-light d-flex justify-content-center title-card">
                 گزارش ها
        </span>
        </div>
        <div class="mt-2 d-flex m-r-1">
          <div class="option-in-card mt-1"></div>
          <span class="set-font-vazir sub-menu-text px-2 ">گزارش تخصیص</span>
        </div>
        <div class="mt-4 d-flex m-r-2">
          <div class="option-in-card mt-1"></div>
          <span class="set-font-vazir sub-menu-text px-2 ">گزارش پیشرفت</span>
        </div>
        <div class="mt-4 d-flex m-r-1">
          <div class="option-in-card mt-1"></div>
          <span class="set-font-vazir sub-menu-text px-2 ">نظارت بر گزارش</span>
        </div>
        <div class="mt-4 d-flex m-r-3">
          <div class="option-in-card mt-1"></div>
          <span class="set-font-vazir sub-menu-text px-2 ">ثبت گزارش</span>
        </div>

      </div>
    </div>
  </div>
  <div class="row d-rtl mt-4 mx-auto d-flex justify-content-center">
    <div class="col-md-3 col-12 mx-auto">
      <app-inprocessing-project></app-inprocessing-project>
    </div>
    <div class="col-md-3 mt-3 mt-md-0 col-12 mx-auto">
      <app-motamam-project></app-motamam-project>
    </div>
    <div class="col-md-3 mt-3 mt-md-0 col-12 mx-auto">
      <app-done-project></app-done-project>
    </div>
  </div>
</div>
