<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'نام رودخانه'"
                 [inputId]="'riverNameControl'" [inputFormControl]="riverNameControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'وضعیت منبع تامین آب'"
                 [inputId]="'resourceSaveWaterStateControl'" [inputFormControl]="resourceSaveWaterStateControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'پمپاژ'"
                 [inputId]="'pompControl'" [inputFormControl]="pompControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'سیل بند'"
                 [inputId]="'stopFloodControl'" [inputFormControl]="stopFloodControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'عرض رودخانه'"
                 [inputId]="'riverWidthControl'" [inputFormControl]="riverWidthControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'جنس مصالح آب بند'"
                 [inputId]="'stuffWaterSealControl'" [inputFormControl]="stuffWaterSealControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'عرض'"
                 [inputId]="'widthControl'" [inputFormControl]="widthControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'طول'"
                 [inputId]="'lenControl'" [inputFormControl]="lenControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'ارتفاع'"
                 [inputId]="'heightControl'" [inputFormControl]="heightControl"></app-input-style>

