<div class="p-3">
  <div class="row pb-5">
    <div class="col-12">
      <button class="mx-auto float-left w-auto edit-button" (click)="saved()">
        <i class="material-icons d-inline">check</i>
      </button>
    </div>
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">file_download</i>
      <h4 class="title-page d-inline set-font-Raymon">اطلاعات منابع بازیابی</h4>
    </div>
    <form>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'نام منبع'" [inputId]="'1'"
                     [inputFormControl]="resourceNameFormControl"></app-input-style>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'آدرس منبع'" [inputId]="'2'"
                     [inputFormControl]="addressResourceFormControl"></app-input-style>
    </form>
  </div>
</div>

