@import "../../../../../../assets/style/colorPalette.scss";
.icon-title-menu{
  color: #fff;
}

.title-menu {
  text-align: right;
  color: white;
  font-size: larger;
  padding-top: 8px;
  padding-bottom: 8px;
}

.icon-title-menu-user-project {
  height: 12px;
}


.hoverMenu:hover{
  font-weight: bold;
  background-color: $text-color-lite;
  border-radius: 0 100px 100px 0;
  padding-right: 10px;
  transition: background-color 0.5s;

  .title-menu {
    padding-top: 8px;
    padding-bottom: 8px;
    color: $active-yellow;
    animation: ease-in-out 0.5s infinite;
  }

  .icon-title-menu{
    color: $active-yellow !important;
  }
}

.icon-title-menu-selected{
  color: $active-yellow !important;
}

.active-menu {
  font-weight: bold;
  background-color: $text-color-lite;
  border-radius: 0 100px 100px 0;
  padding-right: 10px;
}
.active-text {
  padding-top: 8px;
  padding-bottom: 8px;
  color: $active-yellow;
}
.ul-list{
  color: white;
  direction: rtl;
  li{
    margin-right: 5px;
    font-size: 13px;
    margin-top: 10px;
    color: rgba($color: #fff, $alpha: 0.7);
    cursor: pointer;
  }
  li:hover{
    font-weight: bold;
    color: white !important;
  }
  .selectMenue{
    font-weight: bold;
    color: white !important;
  }
}
