<div class="wrapper">
    <div class="row mx-2 d-md-flex d-none mb-2">
        <div class="col-6 background-yellow">
            <div class="row">
                <div class="row col-12 my-2">
                    <div class="col-xl-3 col-lg-4 col-12 d-inline my-auto text-lg-end text-center">
                        <img src="../../../../assets/image/workSpace/sakh3.jpg" class="profile-style" alt="">
                    </div>
                    <div class="col-xl-9 col-lg-8 col-12 d-inline my-auto">
                        <h1 class="set-font-Raymon d-block text-lg-end text-center">عنوان فضای کاری</h1>
                        <h2 class="set-font-Raymon d-block text-lg-end text-center">متعلق به شرکت : فلان شرکت</h2>
                    </div>
                </div>

                <p class="set-font-vazir col-12 mr-2 text-style">
                    لورم ای طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان  داشت  دنیای موجو گیرد.
                </p>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="text-nowrap">
                        <i class="material-icons icons">people</i>
                        <span class="mx-2">25</span>
                    </div>
                    <div class="text-nowrap">
                        <i class="material-icons icons">date_range</i>
                        <span class="mx-2">1400/02/12</span>
                    </div>
                    <div class="text-nowrap">
                        <i class="material-icons icons">access_time</i>
                        <span class="mx-2">20</span>
                    </div>
                </div>
                <div class="col-6 set-font-vazir">
                    <div class="mt-2">
                        <div class="state-project mx-1 d-inline-block"></div>
                        <span class="mx-1">20</span>
                        <span class="mx-2">متمم</span>
                    </div>
                    <div class="mt-2">
                        <div class="state-project mx-1 d-inline-block color-1"></div>
                        <span class="mx-1">23</span>
                        <span class="mx-2">تکمیل شده</span>
                    </div>
                    <div class="mt-2">
                        <div class="state-project mx-1 d-inline-block color-2"></div>
                        <span class="mx-1">4</span>
                        <span class="mx-2">درحال انجام</span>
                    </div>
                </div>
            </div>
            <div class="row d-lg-flex d-none">
                <div class="col-4 text-center">
                    <circle-progress class="w-75"
                        [percent]="67"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#ff0000'"
                        [innerStrokeColor]="'#ffcccc'"
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                    <span class="text-center d-block mx-auto" style="margin-top: -40px;">پروژه متمم</span>
                </div>
                <div class="col-4 text-center">
                    <circle-progress class="w-75"
                        [percent]="45"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#ffff00'"
                        [innerStrokeColor]="'#f9f993'"
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                    <span class="text-center d-block mx-auto" style="margin-top: -40px;">پروژه درحال انجام</span>
                </div>
                <div class="col-4 text-center">
                    <circle-progress class="w-75"
                        [percent]="85"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                    <span class="text-center d-block mx-auto" style="margin-top: -40px;">پروژه تکمیل شده</span>
                </div>
            </div>
        </div>
        <div class="col-6 background-gray">
            <div class="row">
                <h2 class="set-font-Raymon text-center text-white">دسترسی سریع</h2>
            </div>
            <div class="row mx-auto">
                <div class="mt-4 mx-auto scroll-list-project">
                    <div class="row list-result-project set-font-vazir py-2">
                      <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                      <div class="col-lg-4 col-6 my-auto">
                        <div class="state-project mx-1 d-inline-block"></div>
                        وضعیت پروژه</div>
                      <div class="col-6 col-lg-4 d-flex justify-content-end">
                        <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
<!--
                        <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
-->
                        <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                      </div>
                    </div>
                    <div class="row list-result-project set-font-vazir py-2">
                      <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                      <div class="col-lg-4 col-6 my-auto">
                        <div class="state-project mx-1 d-inline-block"></div>
                        وضعیت پروژه</div>
                      <div class="col-6 col-lg-4 d-flex justify-content-end">
                        <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
<!--
                        <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
-->
                        <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                      </div>
                    </div>
                    <div class="row list-result-project set-font-vazir py-2">
                      <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                      <div class="col-lg-4 col-6 my-auto">
                        <div class="state-project mx-1 d-inline-block"></div>
                        وضعیت پروژه</div>
                      <div class="col-6 col-lg-4 d-flex justify-content-end">
                        <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
<!--
                        <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
-->
                        <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                      </div>
                    </div>
                    <div class="row list-result-project set-font-vazir py-2">
                      <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                      <div class="col-lg-4 col-6 my-auto">
                        <div class="state-project mx-1 d-inline-block"></div>
                        وضعیت پروژه</div>
                      <div class="col-6 col-lg-4 d-flex justify-content-end">
                        <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
<!--
                        <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
-->
                        <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                      </div>
                    </div>
                    <div class="row list-result-project set-font-vazir py-2">
                      <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                      <div class="col-lg-4 col-6 my-auto">
                        <div class="state-project mx-1 d-inline-block"></div>
                        وضعیت پروژه</div>
                      <div class="col-6 col-lg-4 d-flex justify-content-end">
                        <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
<!--
                        <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
-->
                        <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                      </div>
                    </div>
                    <div class="row list-result-project set-font-vazir py-2">
                      <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                      <div class="col-lg-4 col-6 my-auto">
                        <div class="state-project mx-1 d-inline-block"></div>
                        وضعیت پروژه</div>
                      <div class="col-6 col-lg-4 d-flex justify-content-end">
                        <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
<!--
                        <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
-->
                        <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                      </div>
                    </div>
                    <div class="row list-result-project set-font-vazir py-2">
                      <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                      <div class="col-lg-4 col-6 my-auto">
                        <div class="state-project mx-1 d-inline-block"></div>
                        وضعیت پروژه</div>
                      <div class="col-6 col-lg-4 d-flex justify-content-end">
                        <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
<!--
                        <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
-->
                        <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="row mx-sm-2 mx-0 d-md-none d-block">
        <div class="row background-yellow-md">
            <img src="../../../../assets/image/workSpace/sakh3.jpg" class="profile-style-md img-fluid" alt="">
            <div class="row col-sm-8 col-5">
                <div class="col-sm-6 col-12 div-text">
                    <div class="text-nowrap">
                        <i class="material-icons icons">people</i>
                        <span class="mx-2">25</span>
                    </div>
                    <div class="text-nowrap">
                        <i class="material-icons icons">date_range</i>
                        <span class="mx-2">1400/02/12</span>
                    </div>
                    <div class="text-nowrap">
                        <i class="material-icons icons">access_time</i>
                        <span class="mx-2">20</span>
                    </div>
                </div>
                <div class="col-6 div-state d-sm-block d-none">
                    <div class="mt-2">
                        <div class="state-project mx-1 d-inline-block"></div>
                        <span class="mx-2">5</span>
                    </div>
                    <div class="mt-2">
                        <div class="state-project mx-1 d-inline-block color-1"></div>
                        <span class="mx-2">3</span>
                    </div>
                    <div class="mt-2">
                        <div class="state-project mx-1 d-inline-block color-2"></div>
                        <span class="mx-2">45</span>
                    </div>
                </div>
                <div>

                </div>
            </div>
            <div class="row div-state d-sm-none d-block mx-auto text-center">
                <div class="col-4 d-inline">
                    <div class="state-project mx-1 d-inline-block"></div>
                    <span class="mx-2">50</span>
                </div>
                <div class="col-4 d-inline">
                    <div class="state-project mx-1 d-inline-block color-1"></div>
                    <span class="mx-2">50</span>
                </div>
                <div class="col-4 d-inline">
                    <div class="state-project mx-1 d-inline-block color-2"></div>
                    <span class="mx-2">50</span>
                </div>
            </div>
            <div class="col-12 mx-auto">
                <p class="set-font-vazir mr-2 text-style">
                    لورم ای طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان  داشت  دنیای موجو گیرد.
                </p>
            </div>
        </div>
        <div class="row background-gray-md">
            <div class="row mx-auto px-0">
                <h2 class="set-font-Raymon text-center text-white">دسترسی سریع</h2>
                <div class="row mx-auto">
                    <div class="mt-4 mx-auto scroll-list-project">
                        <div class="row list-result-project set-font-vazir py-2">
                          <div class="col-lg-4 col-12 my-auto text-sm-end text-center">نام پروژه</div>
                          <div class="col-lg-4 col-sm-6 col-12 my-auto text-center">
                            <div class="state-project mx-1 d-inline-block"></div>
                            وضعیت پروژه</div>
                          <div class="col-sm-6 col-12 col-lg-4 d-flex justify-content-end">
                            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                          </div>
                        </div>
                        <div class="row list-result-project set-font-vazir py-2">
                          <div class="col-lg-4 col-12 my-auto text-sm-end text-center">نام پروژه</div>
                          <div class="col-lg-4 col-sm-6 col-12 my-auto text-center">
                            <div class="state-project mx-1 d-inline-block"></div>
                            وضعیت پروژه</div>
                          <div class="col-sm-6 col-12 col-lg-4 d-flex justify-content-end">
                            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                          </div>
                        </div>
                          <div class="row list-result-project set-font-vazir py-2">
                          <div class="col-lg-4 col-12 my-auto text-sm-end text-center">نام پروژه</div>
                          <div class="col-lg-4 col-sm-6 col-12 my-auto text-center">
                            <div class="state-project mx-1 d-inline-block"></div>
                            وضعیت پروژه</div>
                          <div class="col-sm-6 col-12 col-lg-4 d-flex justify-content-end">
                            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                          </div>
                        </div>
                          <div class="row list-result-project set-font-vazir py-2">
                          <div class="col-lg-4 col-12 my-auto text-sm-end text-center">نام پروژه</div>
                          <div class="col-lg-4 col-sm-6 col-12 my-auto text-center">
                            <div class="state-project mx-1 d-inline-block"></div>
                            وضعیت پروژه</div>
                          <div class="col-sm-6 col-12 col-lg-4 d-flex justify-content-end">
                            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                          </div>
                        </div>
                        <div class="row list-result-project set-font-vazir py-2">
                          <div class="col-lg-4 col-12 my-auto text-sm-end text-center">نام پروژه</div>
                          <div class="col-lg-4 col-sm-6 col-12 my-auto text-center">
                            <div class="state-project mx-1 d-inline-block"></div>
                            وضعیت پروژه</div>
                          <div class="col-sm-6 col-12 col-lg-4 d-flex justify-content-end">
                            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                          </div>
                        </div>
                        <div class="row list-result-project set-font-vazir py-2">
                          <div class="col-lg-4 col-12 my-auto text-sm-end text-center">نام پروژه</div>
                          <div class="col-lg-4 col-sm-6 col-12 my-auto text-center">
                            <div class="state-project mx-1 d-inline-block"></div>
                            وضعیت پروژه</div>
                          <div class="col-sm-6 col-12 col-lg-4 d-flex justify-content-end">
                            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                          </div>
                        </div>
                        <div class="row list-result-project set-font-vazir py-2">
                          <div class="col-lg-4 col-12 my-auto text-sm-end text-center">نام پروژه</div>
                          <div class="col-lg-4 col-sm-6 col-12 my-auto text-center">
                            <div class="state-project mx-1 d-inline-block"></div>
                            وضعیت پروژه</div>
                          <div class="col-sm-6 col-12 col-lg-4 d-flex justify-content-end">
                            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                          </div>
                        </div>
                        <div class="row list-result-project set-font-vazir py-2">
                          <div class="col-lg-4 col-12 my-auto text-sm-end text-center">نام پروژه</div>
                          <div class="col-lg-4 col-sm-6 col-12 my-auto text-center">
                            <div class="state-project mx-1 d-inline-block"></div>
                            وضعیت پروژه</div>
                          <div class="col-sm-6 col-12 col-lg-4 d-flex justify-content-end">
                            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                          </div>
                        </div>
                        <div class="row list-result-project set-font-vazir py-2">
                          <div class="col-lg-4 col-12 my-auto text-sm-end text-center">نام پروژه</div>
                          <div class="col-lg-4 col-sm-6 col-12 my-auto text-center">
                            <div class="state-project mx-1 d-inline-block"></div>
                            وضعیت پروژه</div>
                          <div class="col-sm-6 col-12 col-lg-4 d-flex justify-content-end">
                            <img src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/Group%20202.svg" class="icon-short-cut-project">
                            <img src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project">
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
