<div class="wrapper">
  <app-display-user-path [showProjectList]="false" [path1]="path1" [path2]="path2"></app-display-user-path>
  <div class="row mx-2 d-md-flex mb-2">
        <div class="col-md-6 col-12 background-yellow">
            <div class="row">
                <div class="row col-12 my-2">
                    <div class="col-xl-3 col-lg-4 col-12 d-inline my-auto text-lg-end text-center">
                        <img src="../../../../assets/image/workSpace/sakh3.jpg" class="profile-style" alt="">
                    </div>
                    <div class="col-xl-9 col-lg-8 col-12 d-inline my-auto">
                        <!-- <h1 class="set-font-Raymon d-block text-lg-end text-center">عنوان فضای کاری</h1> -->
                        <h2 class="set-font-Raymon d-block text-lg-end text-center">نام شرکت : {{companyName}}</h2>
                    </div>
                </div>
                <div class="row font-weight-bold set-font-vazir">
                  <span class="col-12">
                    کد اقتصادی شرکت : {{companyEconomicCode}}
                  </span>
                  <span class="col-12">
                    زمینه فعالیت : {{companyAreaExpertise}}
                  </span>
                  <span class="col-12">
                    وضعیت تایید : {{companyStatus}}
                  </span>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6">
                    <div class="text-nowrap">
                        <i class="material-icons icons">people</i>
                        <span class="mx-2">{{changeToPersian('25')}}</span>
                    </div>
                    <div class="text-nowrap">
                        <i class="material-icons icons">date_range</i>
                        <span class="mx-2">{{changeToPersian('1400/02/12')}}</span>
                    </div>
                    <div class="text-nowrap">
                        <i class="material-icons icons">access_time</i>
                        <span class="mx-2">{{changeToPersian('20')}}</span>
                    </div>
                </div>
                <div class="col-6 set-font-vazir">
                    <div class="mt-2">
                        <div class="state-project mx-1 d-inline-block"></div>
                        <span class="mx-1">{{changeToPersian('20')}}</span>
                        <span class="mx-2">متمم</span>
                    </div>
                    <div class="mt-2">
                        <div class="state-project mx-1 d-inline-block color-1"></div>
                        <span class="mx-1">{{changeToPersian('23')}}</span>
                        <span class="mx-2">تکمیل شده</span>
                    </div>
                    <div class="mt-2">
                        <div class="state-project mx-1 d-inline-block color-2"></div>
                        <span class="mx-1">{{changeToPersian('5')}}</span>
                        <span class="mx-2">درحال انجام</span>
                    </div>
                </div>
            </div>
          <app-time-line-project></app-time-line-project>

          -->


        </div>
        <div class="col-md-6 col-12 background-gray">
            <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-4 col-12">
                <h1 class="set-font-Raymon text-right text-white pt-3">دسترسی سریع</h1>
              </div>
              <div class="col-lg-8 col-md-12 col-sm-8 col-12 d-flex justify-content-end my-auto">
                <!-- <mat-radio-group [value]="'0'" aria-label="Select an option">
                  <mat-radio-button (click)="setFilterState(2)" class="set-font-vazir text-white pt-2" value="2">
                  <span class="px-2"> تکمیل شده
                  </span>
                  </mat-radio-button>
                  <mat-radio-button (click)="setFilterState(1)" class="set-font-vazir text-white pt-2" value="1">
                    <span class="px-2"> درحال انجام
                  </span>
                  </mat-radio-button>
                  <mat-radio-button (click)="setFilterState(3)" class="set-font-vazir text-white pt-2" value="3">
                    <span class="px-2"> متمم
                  </span>
                  </mat-radio-button>
                  <mat-radio-button (click)="setFilterState(0)" class="set-font-vazir text-white pt-2" value="0">
                    <span class="px-2">همه
                  </span>
                  </mat-radio-button>
                </mat-radio-group> -->

              </div>
            </div>
            <div *ngIf="projectStateDisplay == 0" class="row mx-auto">
                <div class="mx-auto scroll-list-project">
                  <div *ngFor="let list of list , let i=index" class="row list-result-project set-font-vazir py-2">
                      <div class="col-lg-4 col-12 my-auto">{{list.projectName}}</div>
                      <div *ngIf="list.projectStatus==0" class="col-lg-4 col-6 my-auto text-nowrap">
                        <div class="state-project mx-1 d-inline-block"></div> تحت مذاکره
                      </div>
                      <div *ngIf="list.projectStatus==1" class="col-lg-4 col-6 my-auto text-nowrap">
                        <div class="state-project mx-1 d-inline-block"></div> معامله بسته شد
                      </div>
                      <div *ngIf="list.projectStatus==2" class="col-lg-4 col-6 my-auto text-nowrap">
                        <div class="state-project mx-1 d-inline-block"></div> در حال پیشرفت
                      </div>
                      <div *ngIf="list.projectStatus==3" class="col-lg-4 col-6 my-auto text-nowrap">
                        <div class="state-project mx-1 d-inline-block"></div> به پایان رسید
                      </div>
                      <div class="col-6 col-lg-4 d-flex justify-content-end">
                        <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                        <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                        <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                      </div>
                    </div>
                </div>
            </div>
          <div *ngIf="projectStateDisplay == 2" class="row mx-auto">
            <div class="mx-auto scroll-list-project">
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project-done mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project-done mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project-done mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project-done mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project-done mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project-done mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="projectStateDisplay == 1" class="row mx-auto">
            <div class="mx-auto scroll-list-project">
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="color-2 mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>

              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="color-2 mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>

              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="color-2 mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>

              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="color-2 mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>

            </div>
          </div>
          <div *ngIf="projectStateDisplay == 3" class="row mx-auto">
            <div class="mx-auto scroll-list-project">
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>

              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>

              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>
              <div class="row list-result-project set-font-vazir py-2">
                <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
                <div class="col-lg-4 col-6 my-auto">
                  <div class="state-project mx-1 d-inline-block"></div>
                  وضعیت پروژه</div>
                <div class="col-6 col-lg-4 d-flex justify-content-end">
                  <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
                  <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
                  <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                       mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <div class="mx-2">
              <input type="radio" class="page-btn-input" id="i" name="pagesTab"
                (click)="changeSelectedPage()">
              <label for="1" class="set-font-vazir page-btn-lable">
                <span class="lable-content mx-auto ml-1">
                  1
                </span>
              </label>
              <label for="2" class="set-font-vazir page-btn-lable">
                <span class="lable-content mx-auto ml-1">
                 2
                </span>
              </label>
              <label for="3" class="set-font-vazir page-btn-lable">
                <span class="lable-content mx-auto ml-1">
                  3
                </span>
              </label>
            </div>
          </div>

        </div>
    </div>
</div>
