@import "../../../../assets/style/base.scss";
@import "../../../../assets/style/colorPalette.scss";

.background-yellow{
    color: $text-color-normal;
    border: none;
    background-color: $lite-yellow-back-ground;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0px 0px 5px 0px $side-bar-color;
    &-md{
        margin-right: 5px;
        color: $text-color-normal;
        border: none;
        background-color: $lite-yellow-back-ground;
        border-bottom-right-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 8px;
        box-shadow: 0px 0px 5px 0px $side-bar-color;
        @media(max-width:500px){
            margin-right: -3px;
        }
    }
}

.background-gray{
    border: none;
    background-color: $side-bar-color;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0px 0px 5px 0px $side-bar-color;
    &-md{
        margin-right: 5px;
        color: $side-bar-color;
        border: none;
        background-color: $side-bar-color;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 0;
        box-shadow: 0px 0px 5px 0px $side-bar-color;
        @media(max-width:500px){
            margin-right: -3px;
        }
    }
}

.icons{
    position: relative;
    top: 3px;
    font-size: 20px;
    color: $text-color-normal;
}

.state-project {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ff0000;
}
.color-1{
    background-color: #78C000 !important;
}

.color-2{
    background-color: #ffff00 !important;
}

.profile-style{
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -5px;
    right: -23%;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    border: solid 10px white;
    @media(max-width:1200px){
        right: -29%;
    }
    @media(max-width:1000px){
        right: -32%;
        margin-top: 27px;
    }
    @media(max-width:900px){
        right: -36%;
        top: 5px;
    }
}

.profile-style-md {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -46px;
    right: -5%;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid 5px white;
    @media(max-width:400px){
        width: 100px;
        height: 100px;
        margin-top: -35px;
        right: -6%;
    }
}

.icon-workSpace{
    width: 50px;
    height: 50px;
}
.position1{
    position: absolute;
    top: -25px;
    right: 73px;
    @media(max-width:1200px){
        right: 70px;
    }
    @media(max-width:1000px){
        top: 0px;
        right: 87px;
    }
    @media(max-width:900px){
        top: 16px;
        right: 102px;
    }
}
.position2{
    position: absolute;
    top: 16px;
    right: 120px;
    @media(max-width:1200px){
        right: 117px;
    }
    @media(max-width:1000px){
        top: 48px;
        right: 134px;
    }
    @media(max-width:900px){
        top: 60px;
        right: 144px;
    }
}
.position3{
    position: absolute;
    top: 72px;
    right: 148px;
    @media(max-width:1200px){
        right: 140px;
    }
    @media(max-width:1000px){
        top: 107px;
        right: 157px;
    }
    @media(max-width:900px){
        top: 112px;
        right: 165px;
    }
}
.position4{
    position: absolute;
    top: 135px;
    right: 148px;
    @media(max-width:1200px){
        right: 140px;
    }
    @media(max-width:1000px){
        top: 173px;
        right: 157px;
    }
    @media(max-width:900px){
        top: 172px;
        right: 165px;
    }
}
.position5{
    position: absolute;
    top: 197px;
    right: 120px;
    @media(max-width:1200px){
        right: 119px;
    }
    @media(max-width:1000px){
        top: 237px;
        right: 134px;
    }
    @media(max-width:900px){
        top: 232px;
        right: 144px;
    }
}
.position6{
    position: absolute;
    top: 247px;
    right: 73px;
    @media(max-width:1200px){
        right: 70px;
    }
    @media(max-width:1000px){
        top: 292px;
        right: 87px;
    }
    @media(max-width:900px){
        top: 286px;
        right: 108px;
    }
}

.text-style{
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
}

.icon-text{
    color: white;
    font-size: 14px;
    font-weight: bold;
}