<div class="row pb-5">
    <div class="col-12 d-block my-auto">
        <i class="material-icons d-inline icon-styles">assignment</i>
        <h4 class="title-page d-inline set-font-Raymon">ایجاد زیر فعالیت </h4>
    </div>
    <div *ngIf="projectId" class="col-12">
        <app-drop-down-activities (activityId)="setParentActivityId($event)" [projectId]="projectId"></app-drop-down-activities>
    </div>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'نام زیر فعالیت'" [inputId]="'1'"
                [inputFormControl]="activityNameFormControl"></app-input-style>


            <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تاریخ شروع'" [inputId]="'3'"
            [inputFormControl]="endDateFormControl" (changeValue)="setStartTime($event)"></app-date-picker-jalaly>

            <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" *ngIf="minYear" class="col-md-6 col-12" [inputLabel]="'تاریخ اتمام'" [inputId]="'2'"
                [inputFormControl]="startDateFormControl" (changeValue)="setEndTime($event)" [minDay]="minDay" [minMount]="minMount" [minYear]="minYear"></app-date-picker-jalaly>


            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'هزینه زیر فعالیت'" [inputId]="'4'" [minValue]="0" [separate]="true"
                [inputFormControl]="activityPriceFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [type]="'number'" [inputLabel]="'وزن زمانی زیر فعالیت'" [inputId]="'5'" [minValue]="0" [maxValue]="100"
                [inputFormControl]="timeWeightActivityFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [type]="'number'" [inputLabel]="'وزن مالی زیر فعالیت'" [inputId]="'6'" [minValue]="0" [maxValue]="100"
                [inputFormControl]="priceWeightActivityFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'شرح زیر فعالیت'" [inputId]="'7'"
                [inputFormControl]="descreptionActivityFormControl" [textarea]="true"></app-input-style>

</div>

<div class="row col-12 my-2" style="direction: ltr;">
    <button (click)="createActivity()" type="button" class="ok-button" [disabled]="!getValue()">
        <img src="../../../../assets/image/createProject/ok-button.svg" alt="" class="opacity-light {{getValue() ? 'opacity-bold':''}}" alt="">
    </button>
</div>
