<div class="row mx-auto">
    <div class="col-10">
        <app-drop-down-project-list [placeholder]="'انتخاب فعالیت'"></app-drop-down-project-list>
    </div>
    <div class="col-2 mt-1 text-start">
      <button class="button-add-report p-0 m-0" (click)="newReport()">
        <i class="material-icons icon-lockes add-report m-0 p-0">add_circle</i>
      </button>
    </div>
    <div class="col-12 mt-2 mx-0 px-0 overflow-table">
        <table class="table table-bordered set-font-vazir text-center table-style">
            <thead>
              <tr class="set-font-Raymon">
                <th scope="col"><span>شماره</span></th>
                <th scope="col"><span>تاریخ</span></th>
                <th scope="col"><span>گزارشگر</span></th>
                <th scope="col"><span>توضیحات</span></th>
                <th scope="col"><span>مبلغ تخصیص</span></th>
                <th scope="col"><span>درصد از کل</span></th>
                <th scope="col"><span>مبلغ تخصیص تجمعی</span></th>
                <th scope="col"><span>مستندات</span></th>
                <th scope="col"><span>نظارت برگزارش</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><span>{{changeToPersian('1')}}</span></th>
                <td><span>{{changeToPersian('1400/05/09')}}</span></td>
                <td><span>حمید محمدی</span></td>
                <td><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></td>
                <td><span>{{changeToPersian('2,300,000,000')}} <h6>ریال</h6></span></td>
                <td><span>{{changeToPersian('20')}}%</span></td>
                <td><span>{{changeToPersian('2,500,000,000')}} <h6>ریال</h6></span>
                </td>
                <td><i class="material-icons d-inline icon-styles">file_download</i></td>
                <td><i class="material-icons d-inline icon-styles">check_box</i></td>
              </tr>
              <tr>
                <th scope="row"><span>{{changeToPersian('1')}}</span></th>
                <td><span>{{changeToPersian('1400/05/09')}}</span></td>
                <td><span>حمید محمدی</span></td>
                <td><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></td>
                <td><span>{{changeToPersian('2,300,000,000')}} <h6>ریال</h6></span></td>
                <td><span>{{changeToPersian('20')}}%</span></td>
                <td><span>{{changeToPersian('2,500,000,000')}} <h6>ریال</h6></span>
                </td>
                <td><i class="material-icons d-inline icon-styles">file_download</i></td>
                <td><i class="pointer material-icons d-inline icon-styles" (click)="openMdalRecordFinancial();">remove_red_eye</i></td>
              </tr>
              <tr>
                <th scope="row"><span>{{changeToPersian('1')}}</span></th>
                <td><span>{{changeToPersian('1400/05/09')}}</span></td>
                <td><span>حمید محمدی</span></td>
                <td><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></td>
                <td><span>{{changeToPersian('2,300,000,000')}} <h6>ریال</h6></span></td>
                <td><span>{{changeToPersian('20')}}%</span></td>
                <td><span>{{changeToPersian('2,500,000,000')}} <h6>ریال</h6></span>
                </td>
                <td><i class="material-icons d-inline icon-styles">file_download</i></td>
                <td><i class="material-icons d-inline icon-styles">check_box</i></td>
              </tr>
              <tr>
                <th scope="row"><span>{{changeToPersian('1')}}</span></th>
                <td><span>{{changeToPersian('1400/05/09')}}</span></td>
                <td><span>حمید محمدی</span></td>
                <td><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></td>
                <td><span>{{changeToPersian('2,300,000,000')}} <h6>ریال</h6></span></td>
                <td><span>{{changeToPersian('20')}}%</span></td>
                <td><span>{{changeToPersian('2,500,000,000')}} <h6>ریال</h6></span>
                </td>
                <td><i class="material-icons d-inline icon-styles">file_download</i></td>
                <td><i class="pointer material-icons d-inline icon-styles" (click)="openMdalRecordFinancial();">remove_red_eye</i></td>
              </tr>
              <tr>
                <th scope="row"><span>{{changeToPersian('1')}}</span></th>
                <td><span>{{changeToPersian('1400/05/09')}}</span></td>
                <td><span>حمید محمدی</span></td>
                <td><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></td>
                <td><span>{{changeToPersian('2,300,000,000')}} <h6>ریال</h6></span></td>
                <td><span>{{changeToPersian('20')}}%</span></td>
                <td><span>{{changeToPersian('2,500,000,000')}} <h6>ریال</h6></span>
                </td>
                <td><i class="material-icons d-inline icon-styles">file_download</i></td>
                <td><i class="material-icons d-inline icon-styles">check_box</i></td>
              </tr>
              <tr>
                <th scope="row"><span>{{changeToPersian('1')}}</span></th>
                <td><span>{{changeToPersian('1400/05/09')}}</span></td>
                <td><span>حمید محمدی</span></td>
                <td><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></td>
                <td><span>{{changeToPersian('2,300,000,000')}} <h6>ریال</h6></span></td>
                <td><span>{{changeToPersian('20')}}%</span></td>
                <td><span>{{changeToPersian('2,500,000,000')}} <h6>ریال</h6></span>
                </td>
                <td><i class="material-icons d-inline icon-styles">file_download</i></td>
                <td><i class="pointer material-icons d-inline icon-styles" (click)="openMdalRecordFinancial();">remove_red_eye</i></td>
              </tr>
              <tr>
                <th scope="row"><span>{{changeToPersian('1')}}</span></th>
                <td><span>{{changeToPersian('1400/05/09')}}</span></td>
                <td><span>حمید محمدی</span></td>
                <td><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></td>
                <td><span>{{changeToPersian('2,300,000,000')}} <h6>ریال</h6></span></td>
                <td><span>{{changeToPersian('20')}}%</span></td>
                <td><span>{{changeToPersian('2,500,000,000')}} <h6>ریال</h6></span>
                </td>
                <td><i class="material-icons d-inline icon-styles">file_download</i></td>
                <td><i class="pointer material-icons d-inline icon-styles" (click)="openMdalRecordFinancial();">remove_red_eye</i></td>
              </tr>
              <tr>
                <th scope="row"><span>{{changeToPersian('1')}}</span></th>
                <td><span>{{changeToPersian('1400/05/09')}}</span></td>
                <td><span>حمید محمدی</span></td>
                <td><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span></td>
                <td><span>{{changeToPersian('2,300,000,000')}} <h6>ریال</h6></span></td>
                <td><span>{{changeToPersian('20')}}%</span></td>
                <td><span>{{changeToPersian('2,500,000,000')}} <h6>ریال</h6></span>
                </td>
                <td><i class="material-icons d-inline icon-styles">file_download</i></td>
                <td><i class="pointer material-icons d-inline icon-styles" (click)="openMdalRecordFinancial();">remove_red_eye</i></td>
              </tr>
            </tbody>
        </table>
    </div>
</div>