@import "../../../../assets/style/colorPalette";
@import "../../../../assets/style/base.scss";
.collapse-side-bar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background-color: $side-bar-color;
  transition: linear 0.4s;
  z-index: 2;
}

.expand-side-bar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  background-color: rgba($color: $dark-back-ground, $alpha: 0.8);
  transition: linear 0.4s;
  z-index: 2;
}

.open-close-side-bar-icon {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 15px;
  height: 18px;
}
.posision-icon{
  cursor: pointer;
    position: relative;
    top: 53px;
    left: 14px;
    font-size: 36px;
    color: white;
    &:hover{
      color: $active-yellow;
    }
}
.position1{
  top: 73px !important;
}
.position2{
  top: 93px !important;
}
.position3{
  top: 113px !important;
}

.menu-padding {
  padding-right: 20px;
  //height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
