<div id="collapseSideBar" class="collapse-side-bar">
  <div class="position-relative">
    <img src="../../../../assets/image/sideBar/openSideBar.svg" (click)="openSideBar()" class="open-close-side-bar-icon">
    <i class="material-icons posision-icon">person</i>
    <i class="material-icons position1 posision-icon">people</i>
    <i class="material-icons position2 posision-icon">photo</i>
    <i class="material-icons position3 posision-icon">power_settings_new</i>
    <i class="bi bi-person-circle"></i>
  </div>
</div>
<div id="expandSideBar" class="expand-side-bar">
  <div class="position-relative">
    <img src="../../../../assets/image/sideBar/closeSideBar.svg" (click)="closeSideBar()" class="open-close-side-bar-icon">
  </div>
  <app-user-information></app-user-information>

  <div class="menu-padding">
    <app-dashbord-managment-menu class="d-block"></app-dashbord-managment-menu>
    <app-user-management-setting-menu class="d-block"></app-user-management-setting-menu>
    <app-project-management-setting-menu class="d-block"></app-project-management-setting-menu>
    <app-company-management-setting-menu class="d-block"></app-company-management-setting-menu>
    <app-project-dependency-management-setting-menu class="d-block"></app-project-dependency-management-setting-menu>
    <app-gallery-management-setting-menu class="d-block"></app-gallery-management-setting-menu>
  </div>


</div>
