  <div id="collapseSideBar" class="collapse-side-bar set-font-vazir">
    <div class="position-relative">
      <img src="../../../../assets/image/sideBar/openSideBar.svg" (click)="openSideBar()" class="open-close-side-bar-icon">
      <i class="material-icons posision-icon" (click)="GoHome()"
         mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'left'" matTooltip="خانه">home</i>
      <i class="material-icons posision-icon position1" (click)="openProfile()"
         mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'left'" matTooltip="پروفایل">person</i>
      <i class="material-icons position2 posision-icon" (click)="goSearchFillter()"
         mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'left'" matTooltip="جستجوی پیشرفته">search</i>
      <i class="material-icons position3 posision-icon" (click)="logout()"
         mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'left'" matTooltip="خروج">power_settings_new</i>
    </div>
  </div>
  <div id="expandSideBar" class="expand-side-bar">
    <div class="position-relative">
      <img src="../../../../assets/image/sideBar/closeSideBar.svg" (click)="closeSideBar()" class="open-close-side-bar-icon">
    </div>
    <app-user-information></app-user-information>

    <div class="menu-padding">
      <app-dashbord-managment-menu class="d-block"></app-dashbord-managment-menu>
      <app-user-management-setting-menu class="d-block"></app-user-management-setting-menu>
      <app-project-management-setting-menu class="d-block"></app-project-management-setting-menu>
      <app-company-management-setting-menu class="d-block"></app-company-management-setting-menu>
      <app-project-dependency-management-setting-menu class="d-block"></app-project-dependency-management-setting-menu>
      <app-gallery-management-setting-menu class="d-block"></app-gallery-management-setting-menu>
    </div>


  </div>
