@import "../../../../../assets/style/colorPalette";

.user-name {
  color: #fff;
  font-size: medium;
  font-weight: bold;
  margin-left: 10px;
  @media (max-width: 500px) {
    font-size: small;
  }
}

.user-name-side-bar {
  margin-top: 20px;
  font-size: large;
  font-family: Raymon, Vazir, Arial, Helvetica, sans-serif;
}
