@import "../../../../../assets/style/colorPalette";

.user-name {
  color: $text-color-lite;
  font-size: medium;
  margin-left: 10px;
}

.user-name-side-bar {
  margin-top: 20px;
  font-size: large;
  font-family: Raymon, Vazir, Arial, Helvetica, sans-serif;
}
