<app-input-style [inputCustomStyle]="inputCustomStyle"
                 class="col-12 mt-2" [inputLabel]="'میزان اراضی تحت پوشش'"
                 [inputId]="'amountOfSurfaceControl'" [type]="'number'"
                 [inputFormControl]="amountOfSurfaceControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle"
                 class="col-12 mt-2" [inputLabel]="'قطر چاه'"
                 [inputId]="'widthWellControl'" [type]="'number'"
                 [inputFormControl]="widthWellControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle"
                 class="col-12 mt-2" [inputLabel]="'طول لوله جداره'"
                 [inputId]="'lenPipeControl'" [type]="'number'"
                 [inputFormControl]="lenPipeControl"></app-input-style>

<app-input-style [inputCustomStyle]="inputCustomStyle"
                 class="col-12 mt-2" [inputLabel]="'طول کول گذاری'"
                 [inputId]="'lenColControl'" [type]="'number'"
                 [inputFormControl]="lenColControl"></app-input-style>
