<div class="bg-levels mx-4 mt-2">
    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">info</i>
            <h4 class="title-page d-inline set-font-Raymon">اطلاعات اولیه</h4>
        </div>
        <app-input-style [isDatePiker]="true" [inputCustomStyle]="inputCustomStyle"
             class="col-12" [type]="'text'" [inputLabel]="'نام پروژه'" [inputId]="'1'"
            [inputFormControl]="projectNameFormControl"></app-input-style>
            <div class="col-md-3 col-12">
                <mat-radio-group [value]="checkboxValue"
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group font-size-small text-light">
                    <mat-radio-button (click)="checked(false)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                        <span class="px-2">پروژه اصلی</span>
                    </mat-radio-button>
                    <mat-radio-button (click)="checked(true)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                        <span class="px-2">زیر پروژه</span>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="checkbox==true" class="col-md-9 col-12 my-auto">
                <app-drop-down-project-list (parentid)="setParentId($event)" [companyId]="companyId"></app-drop-down-project-list>
            </div>

      <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'تاریخ شروع پروژه'" [inputId]="'projectStartDateFormControl'"
      [inputFormControl]="projectStartDateFormControl" (changeValue)="startDate = $event"></app-date-picker-jalaly>

      <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'تاریخ تحویل پروژه'" [inputId]="'2'"
                              [inputFormControl]="projectDeliveryDateFormControl" (changeValue)="deliveryDate = $event"></app-date-picker-jalaly>

        <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'توضیحات'" [inputId]="'3'"
            [inputFormControl]="descreptionFormControl" [textarea]="true"></app-input-style>
    </div>

    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">business_center</i>
            <h4 class="title-page mt-3 d-inline set-font-Raymon">اطلاعات مالی</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'number'" [inputLabel]="'هزینه زیرساخت'" [inputId]="'4'"
            [inputFormControl]="infrastructureCostFormControl" [unit]="3"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'number'" [inputLabel]="'هزینه منابع انسانی'" [inputId]="'5'"
            [inputFormControl]="humanResourceCostFormControl" [unit]="3"></app-input-style>
    </div>

    <div class="my-2" style="direction: ltr;">
        <button type="button" class="ok-button-text opacity-light px-4 py-2 {{getValue() ? 'opacity-bold':''}}" [disabled]="!getValue()" (click)="goToNext()">
            تایید و ادامه
        </button>
    </div>

</div>
