<div class="bg-levels mx-4 mt-2">
    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">info</i>
            <h4 class="title-page d-inline set-font-Raymon">اطلاعات اولیه</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'نام پروژه'" [inputId]="'1'"
            [inputFormControl]="projectNameFormControl"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'date'" [inputLabel]="'تاریخ تحویل پروژه'" [inputId]="'2'"
            [inputFormControl]="projectDeliveryDateFormControl"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'توضیحات'" [inputId]="'3'"
            [inputFormControl]="descreptionFormControl" [textarea]="true"></app-input-style>
    </div>

    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">business_center</i>
            <h4 class="title-page mt-3 d-inline set-font-Raymon">اطلاعات مالی</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'number'" [inputLabel]="'سرمایه اولیه پروژه'" [inputId]="'4'"
            [inputFormControl]="initialCapitalProjectFormControl"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'number'" [inputLabel]="'سود مورد انتظار پروژه'" [inputId]="'5'"
            [inputFormControl]="projectProfitFormControl"></app-input-style>
    </div>

    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">location_on</i>
            <h4 class="title-page d-inline set-font-Raymon ">اطلاعات مکانی</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'آدرس'" [inputId]="'6'"
            [inputFormControl]="addressFormControl" [textarea]="true"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'موقعیت در نقشه'" [inputId]="'7'"
            [inputFormControl]="LocationFormControl"></app-input-style>
    </div>

    <div *ngIf="getValue()" class="row col-12 my-2" style="direction: ltr;">
        <button type="button" class="ok-button">
            <img src="../../../../assets/image/createProject/ok-button.svg" alt="">
        </button>
    </div>

</div>
