@import "../../../../../../assets/style/inputStyle.scss";
@import "../stakeholder-management/stakeholder-management.component.scss";

.example-radio-button{
    span{
        color: $active-yellow;
        font-size: 13px;
        font-weight: bold;
    }
}