<div class="wrapper">
    <div class="col-12">
        <app-display-user-path (projectIdSelected)="setProjectId($event)" [showProjectList]="true" [showCompanyList]="true" [path1]="path1" [path2]="path2"></app-display-user-path>
    </div>
    <div *ngIf="listMedia.length > 0">
      <p *ngFor="let item of listMedia" (click)="downloadFile(item)" class="pointer set-font-vazir d-rtl">
        {{item.address}}
      </p>
    </div>
    <div *ngIf="listMedia.length == 0">
      <app-empty-result></app-empty-result>
    </div>
</div>
