@import "../../../../../../assets/style/colorPalette.scss";

.opacity-hr{
    opacity: 10%;
}

.mat-checkbox-label {
    margin-right: 10px !important;
    font-weight: bold;
    color: $active-yellow;
}
  
.example-margin {
    color: $active-yellow;
    font-size: 13px;
    font-weight: bold;
}
  
 ul {
    list-style-type: none;
    margin-top: 4px;
}