<div class="content-filter position-relative mt-3">
  <div class="disable-filter" *ngIf="!activeFilter"></div>
  <p class="set-font-Raymon text-center py-3 title-filter">فیلتر ها</p>
  <hr class="opacity-hr">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-type set-font-vazir">
          وضعیت پروژه
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-filter-project-state (projectStatus)="setProjectState($event)"></app-filter-project-state>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-type set-font-vazir">
          زمان شروع
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-filter-project-start-time (startTimeOfProjectUpperBound)="setEndTime($event)" (startTimeOfProjectLowerBound)="setStartTime($event)"></app-filter-project-start-time>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-type set-font-vazir">
          زمان خاتمه
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-filter-project-end-time (endTimeOfProjectUpperBound)="setEndTimeEnd($event)" (endTimeOfProjectLowerBound)="setStartTimeEnd($event)"></app-filter-project-end-time>
    </mat-expansion-panel>

    <!--
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-type set-font-vazir">
          نام شرکت
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-drop-down-company-list></app-drop-down-company-list>
    </mat-expansion-panel>
    -->


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-type set-font-vazir">
          هزینه زیرساخت
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-filter-project-infrastructure-cost (handleMaxValue)="changeMaxI($event)" (handleMinValue)="changeMinI($event)"></app-filter-project-infrastructure-cost>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-type set-font-vazir">
          هزینه کل
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-filter-project-total-cost (handleMaxValue)="changeMaxT($event)" (handleMinValue)="changeMinT($event)"></app-filter-project-total-cost>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-type set-font-vazir">
          هزینه منابع انسانی
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-filter-project-human-resource-cost (handleMaxValue)="changeMax($event)" (handleMinValue)="changeMin($event)"></app-filter-project-human-resource-cost>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-type set-font-vazir">
          نوع پروژه
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-filter-project-type (projectType)="getProjectType($event)"></app-filter-project-type>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="filter-type set-font-vazir">
          منطقه جفرافیایی
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-filter-project-geographical-location></app-filter-project-geographical-location>
    </mat-expansion-panel>
  </mat-accordion>
</div>
