<div class="wrapper set-font-vazir">
  <app-display-user-path [showProjectList]="false" [path1]="path1" [path2]="path2"></app-display-user-path>
<div class="px-3">
  <div class="wrapper-content">
    <div class="container-report boxShadow row pt-4 pb-2 px-3">
      <div class="title-box set-font-vazir my-2">آخرین گزارش های ارسال شده</div>

    <div class="row list-result-report set-font-vazir py-2 mt-2 d-flex justify-content-center mx-auto w-100">
      <div class="col-12 col-lg-3 font-weight-bold company-detail my-auto py-2">
        نام شرکت
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/time.svg" class="icon-size">
          <span class="px-2 company-detail">نام پروژه</span>
        </div>
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/submitNumber.svg" class="icon-size">
          <span class="px-2 company-detail">تاریخ ارسال</span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="d-flex my-auto justify-content-end">
          <span class="material-icons pointer visit-report">visibility</span>
        </div>
      </div>
    </div>

    <div class="row list-result-report set-font-vazir py-2 mt-2 d-flex justify-content-center mx-auto w-100">
      <div class="col-12 col-lg-3 font-weight-bold company-detail my-auto py-2">
        نام شرکت
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/time.svg" class="icon-size">
          <span class="px-2 company-detail">نام پروژه</span>
        </div>
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/submitNumber.svg" class="icon-size">
          <span class="px-2 company-detail">تاریخ ارسال</span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="d-flex my-auto justify-content-end">
          <span class="material-icons pointer visit-report">visibility</span>
        </div>
      </div>
    </div>

    <div class="row list-result-report set-font-vazir py-2 mt-2 d-flex justify-content-center mx-auto w-100">
      <div class="col-12 col-lg-3 font-weight-bold company-detail my-auto py-2">
        نام شرکت
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/time.svg" class="icon-size">
          <span class="px-2 company-detail">نام پروژه</span>
        </div>
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/submitNumber.svg" class="icon-size">
          <span class="px-2 company-detail">تاریخ ارسال</span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="d-flex my-auto justify-content-end">
          <span class="material-icons pointer visit-report">visibility</span>
        </div>
      </div>
    </div>

    <div class="row list-result-report set-font-vazir py-2 mt-2 d-flex justify-content-center mx-auto w-100">
      <div class="col-12 col-lg-3 font-weight-bold company-detail my-auto py-2">
        نام شرکت
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/time.svg" class="icon-size">
          <span class="px-2 company-detail">نام پروژه</span>
        </div>
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/submitNumber.svg" class="icon-size">
          <span class="px-2 company-detail">تاریخ ارسال</span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="d-flex my-auto justify-content-end">
          <span class="material-icons pointer visit-report">visibility</span>
        </div>
      </div>
    </div>

    <div class="row list-result-report set-font-vazir py-2 mt-2 d-flex justify-content-center mx-auto w-100">
      <div class="col-12 col-lg-3 font-weight-bold company-detail my-auto py-2">
        نام شرکت
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/time.svg" class="icon-size">
          <span class="px-2 company-detail">نام پروژه</span>
        </div>
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/submitNumber.svg" class="icon-size">
          <span class="px-2 company-detail">تاریخ ارسال</span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="d-flex my-auto justify-content-end">
          <span class="material-icons pointer visit-report">visibility</span>
        </div>
      </div>
    </div>

    <div class="row list-result-report set-font-vazir py-2 mt-2 d-flex justify-content-center mx-auto w-100">
      <div class="col-12 col-lg-3 font-weight-bold company-detail my-auto py-2">
        نام شرکت
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/time.svg" class="icon-size">
          <span class="px-2 company-detail">نام پروژه</span>
        </div>
      </div>
      <div class="col-12 col-lg-3 my-auto">
        <div class="d-flex py-2">
          <img src="../../../../assets/icon/userManagment/submitNumber.svg" class="icon-size">
          <span class="px-2 company-detail">تاریخ ارسال</span>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="d-flex my-auto justify-content-end">
          <span class="material-icons pointer visit-report">visibility</span>
        </div>
      </div>
    </div>
    </div>

    <app-chart-for-home-supervisor></app-chart-for-home-supervisor>
  </div>
</div>
</div>
