<div class="wrapper set-font-vazir">
  <app-display-user-path [showProjectList]="false" [path1]="path1" [path2]="path2"></app-display-user-path>
<div class="px-3">
  <div class="wrapper-content">
    <div class="container-report boxShadow row pt-4 pb-2 mx-auto">
      <div class="title-box set-font-vazir my-2">آخرین گزارش های ارسال شده</div>

      <div class="row mx-auto">
        <div class="row list-result-project set-font-vazir py-2 mx-auto">
          <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
          <div class="col-lg-4 col-6 my-auto">
            <div class="state-project-done mx-1 d-inline-block"></div>
            وضعیت پروژه</div>
          <div class="col-6 col-lg-4 d-flex justify-content-end">
            <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
            <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
            <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
          </div>
        </div>
        <div class="row list-result-project set-font-vazir py-2 mx-auto">
          <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
          <div class="col-lg-4 col-6 my-auto">
            <div class="state-project-done mx-1 d-inline-block"></div>
            وضعیت پروژه</div>
          <div class="col-6 col-lg-4 d-flex justify-content-end">
            <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
            <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
            <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
          </div>
        </div>
        <div class="row list-result-project set-font-vazir py-2 mx-auto">
          <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
          <div class="col-lg-4 col-6 my-auto">
            <div class="state-project-done mx-1 d-inline-block"></div>
            وضعیت پروژه</div>
          <div class="col-6 col-lg-4 d-flex justify-content-end">
            <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
            <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
            <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
          </div>
        </div>
        <div class="row list-result-project set-font-vazir py-2 mx-auto">
          <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
          <div class="col-lg-4 col-6 my-auto">
            <div class="state-project-done mx-1 d-inline-block"></div>
            وضعیت پروژه</div>
          <div class="col-6 col-lg-4 d-flex justify-content-end">
            <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
            <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
            <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
          </div>
        </div>
        <div class="row list-result-project set-font-vazir py-2 mx-auto">
          <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
          <div class="col-lg-4 col-6 my-auto">
            <div class="state-project-done mx-1 d-inline-block"></div>
            وضعیت پروژه</div>
          <div class="col-6 col-lg-4 d-flex justify-content-end">
            <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
            <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
            <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
          </div>
        </div>
        <div class="row list-result-project set-font-vazir py-2 mx-auto">
          <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
          <div class="col-lg-4 col-6 my-auto">
            <div class="state-project-done mx-1 d-inline-block"></div>
            وضعیت پروژه</div>
          <div class="col-6 col-lg-4 d-flex justify-content-end">
            <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
            <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
            <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
          </div>
        </div>
        <div class="row list-result-project set-font-vazir py-2 mx-auto">
          <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
          <div class="col-lg-4 col-6 my-auto">
            <div class="state-project-done mx-1 d-inline-block"></div>
            وضعیت پروژه</div>
          <div class="col-6 col-lg-4 d-flex justify-content-end">
            <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
            <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
            <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
          </div>
        </div>
        <div class="row list-result-project set-font-vazir py-2 mx-auto">
          <div class="col-lg-4 col-12 my-auto">نام پروژه</div>
          <div class="col-lg-4 col-6 my-auto">
            <div class="state-project-done mx-1 d-inline-block"></div>
            وضعیت پروژه</div>
          <div class="col-6 col-lg-4 d-flex justify-content-end">
            <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
            <img (click)="goToActivityProject()" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
            <img (click)="goToEditProject()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
                 mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
