<div id="confirmed-company">
    <div class="modal-background">
      <div class="modal">
        <div class="my-modal-small-content text-center mx-auto">
          <div class="">
            <div class="header-modal">
              <span class="mx-auto set-font-Raymon">تایید شرکت</span>
            </div>
            <div class="row mt-5 mx-auto set-font-vazir">
                <h2 *ngIf="modalState == 1">نسبت به تایید درخواست این شرکت اطمینان داری؟</h2>
                <h2 *ngIf="modalState == 2">نسبت به عدم تایید درخواست این شرکت اطمینان داری؟</h2>
            </div>
            <div class="row mx-auto mt-5">
                <div class="mx-auto mt-5 set-font-vazir">
                    <button class="no-button-modal px-5 py-2 w-auto mx-1" (click)="submit(modalState)">خیر</button>
                    <button class="add-user-button-modal px-5 py-2 w-auto mx-1" (click)="submit(modalState)">بله</button>
                </div>
            </div>
          </div>
          <span (click)="closeModal()" class="material-icons my-modal-cancel pointer">close</span>
        </div>
      </div>
    </div>
</div>
  