@import "../../../../../../assets/style/modalStyle.scss";
@import "../../../../../../assets/style/colorPalette.scss";
@import "../../../../../userManagement/page/add-user-modal/add-user-modal.component.scss";

.no-button-modal{
    border-radius: 20px;
    border: none;
    background-color: $dark-back-ground;
    color: white;
    font-size: 18px;
    font-weight: bold;
    &:hover{
        box-shadow: 0px 0px 3px 0px $side-bar-color;
    }
}