@import "../../../../../../../../assets/style/modalStyle.scss";
@import "../../../../../../../../assets/style/colorPalette.scss";


.bg-father{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $active-yellow-lite;
    cursor: pointer;
}
.percentage{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba($color: #fff, $alpha: 0.8);
    display: inline;
}
.flesh{
    color: $text-color-normal;
    position: relative;
    top: 8px;
}