@import "../../../../../../../../assets/style/modalStyle.scss";
@import "../../../../../../../../assets/style/colorPalette.scss";


.bg-father{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $active-yellow-lite;
    cursor: pointer;
}
.bg-child{
    background-color: #fff4c2;
    div div span{
        padding-right: 20px;
    }
}
.percentage{
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba($color: #fff, $alpha: 0.8);
    display: inline;
}
.flesh{
    color: $text-color-normal;
    position: relative;
    top: 8px;
}
.detaile-activity {
  padding-top: 12px;
  color: $text-color-normal;
  font-size: 14px;
}

.detaile-activity-child {
  padding-top: 12px;
  color: $text-color-normal;
  font-size: 14px;
  opacity: 0.8;
}
.parent-container {
  margin-top: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}
