<div id="view-activity-diagram-modal">
    <div class="modal-background d-ltr">
      <div class="modal-activity-relation">
        <div class="my-modal-content text-center mx-auto">
          <div class="modal-scroll">
            <div class="header-modal">
              <span class="mx-auto set-font-Raymon">افزودن کاربر جدید</span>
            </div>
            <div class="row mt-5 mx-2">
<!--
                <div class="col-12 w-100 m-auto">
                    <div class="row bg-father py-2" (click)="openCloseList(1)">
                        <div class="col-8 text-end d-inline set-font-Raymon font-weight-bold pb-2 px-0">
                            <i *ngIf="!showList1" class="material-icons d-inline-block flesh">expand_more</i>
                            <i *ngIf="showList1" class="material-icons d-inline-block flesh">expand_less</i>
                            <div class="d-inline-block">
                                <span class="py-2">فعالیت پدر</span>
                            </div>
                        </div>
                        <div class="col-4 d-inline text-start my-auto">
                            <div class="percentage set-font-Raymon mx-1">75%</div>
                            <div class="percentage set-font-Raymon mx-1">50%</div>
                        </div>
                    </div>
                    <div *ngIf="showList1">
                      <div class="row bg-child py-2">
                        <div class="col-8 text-end d-inline set-font-Raymon font-weight-bold pb-2">
                            <div class="d-inline-block">
                                <span class="py-2 mr-3">فعالیت فرزند</span>
                            </div>
                        </div>
                        <div class="col-4 d-inline text-start my-auto">
                            <div class="percentage set-font-Raymon mx-1">65%</div>
                            <div class="percentage set-font-Raymon mx-1">20%</div>
                        </div>
                      </div>
                      <div class="row bg-child py-2">
                        <div class="col-8 text-end d-inline set-font-Raymon font-weight-bold pb-2">
                            <div class="d-inline-block mr-4">
                                <span class="py-2">فعالیت فرزند</span>
                            </div>
                        </div>
                        <div class="col-4 d-inline text-start my-auto">
                            <div class="percentage set-font-Raymon mx-1">65%</div>
                            <div class="percentage set-font-Raymon mx-1">20%</div>
                        </div>
                      </div>
                    </div>

                    <div class="row bg-father py-2 mt-3" (click)="openCloseList(2)">
                      <div class="col-8 text-end d-inline set-font-Raymon font-weight-bold pb-2 px-0">
                        <i *ngIf="!showList2" class="material-icons d-inline-block flesh">expand_more</i>
                        <i *ngIf="showList2" class="material-icons d-inline-block flesh">expand_less</i>
                          <div class="d-inline-block">
                              <span class="py-2">فعالیت پدر</span>
                          </div>
                      </div>
                      <div class="col-4 d-inline text-start my-auto">
                          <div class="percentage set-font-Raymon mx-1">75%</div>
                          <div class="percentage set-font-Raymon mx-1">50%</div>
                      </div>
                  </div>
                  <div *ngIf="showList2">
                    <div class="row bg-child py-2">
                      <div class="col-8 text-end d-inline set-font-Raymon font-weight-bold pb-2">
                          <div class="d-inline-block mr-4">
                              <span class="py-2">فعالیت فرزند</span>
                          </div>
                      </div>
                      <div class="col-4 d-inline text-start my-auto">
                          <div class="percentage set-font-Raymon mx-1">65%</div>
                          <div class="percentage set-font-Raymon mx-1">20%</div>
                      </div>
                    </div>
                    <div class="row bg-child py-2">
                      <div class="col-8 text-end d-inline set-font-Raymon font-weight-bold pb-2">
                          <div class="d-inline-block mr-4">
                              <span class="py-2">فعالیت فرزند</span>
                          </div>
                      </div>
                      <div class="col-4 d-inline text-start my-auto">
                          <div class="percentage set-font-Raymon mx-1">65%</div>
                          <div class="percentage set-font-Raymon mx-1">20%</div>
                      </div>
                    </div>
                    <div class="row bg-child py-2">
                      <div class="col-8 text-end d-inline set-font-Raymon font-weight-bold pb-2">
                          <div class="d-inline-block mr-4">
                              <span class="py-2">فعالیت فرزند</span>
                          </div>
                      </div>
                      <div class="col-4 d-inline text-start my-auto">
                          <div class="percentage set-font-Raymon mx-1">65%</div>
                          <div class="percentage set-font-Raymon mx-1">20%</div>
                      </div>
                    </div>
                    <div class="row bg-child py-2">
                      <div class="col-8 text-end d-inline set-font-Raymon font-weight-bold pb-2">
                          <div class="d-inline-block mr-4">
                              <span class="py-2">فعالیت فرزند</span>
                          </div>
                      </div>
                      <div class="col-4 d-inline text-start my-auto">
                          <div class="percentage set-font-Raymon mx-1">65%</div>
                          <div class="percentage set-font-Raymon mx-1">20%</div>
                      </div>
                    </div>
                  </div>
                </div>
-->



              <mat-accordion class="d-rtl">
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="">
                    <mat-panel-title>
                      <div class="set-font-Raymon font-weight-bold title-activity">نام فعالیت</div>
                    </mat-panel-title>
                    <mat-panel-description>
                      <div class="row px-2 set-font-vazir w-100">
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">درصد پیشرف</span>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">وزن مالی</span>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">وزن پیشرفت</span>
                          </div>
                        </div>
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>


                  <div class="set-font-Raymon title-for-child-activity"></div>

                  <div class="p-right-child-activity">
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="">
                    <mat-panel-title>
                      <div class="set-font-Raymon font-weight-bold title-activity">نام فعالیت</div>
                    </mat-panel-title>
                    <mat-panel-description>
                      <div class="row px-2 set-font-vazir w-100">
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">درصد پیشرف</span>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">وزن مالی</span>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">وزن پیشرفت</span>
                          </div>
                        </div>
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>


                  <div class="set-font-Raymon title-for-child-activity"></div>

                  <div class="p-right-child-activity">
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="">
                    <mat-panel-title>
                      <div class="set-font-Raymon font-weight-bold title-activity">نام فعالیت</div>
                    </mat-panel-title>
                    <mat-panel-description>
                      <div class="row px-2 set-font-vazir w-100">
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">درصد پیشرف</span>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">وزن مالی</span>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">وزن پیشرفت</span>
                          </div>
                        </div>
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>


                  <div class="set-font-Raymon title-for-child-activity"></div>

                  <div class="p-right-child-activity">
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="">
                    <mat-panel-title>
                      <div class="set-font-Raymon font-weight-bold title-activity">نام فعالیت</div>
                    </mat-panel-title>
                    <mat-panel-description>
                      <div class="row px-2 set-font-vazir w-100">
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">درصد پیشرف</span>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">وزن مالی</span>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 detail-activity">
                          <div class="d-flex">
                            <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                            <span class="px-1">وزن پیشرفت</span>
                          </div>
                        </div>
                      </div>
                    </mat-panel-description>
                  </mat-expansion-panel-header>


                  <div class="set-font-Raymon title-for-child-activity"></div>

                  <div class="p-right-child-activity">
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                    <div class="row set-font-vazir w-100">
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="set-font-Raymon title-activity">نام فعالیت</div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/progress.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">درصد پیشرف</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن مالی</span>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 detail-activity">
                        <div class="d-flex">
                          <img src="../../../../../../../../assets/icon/projectShortCut/weight.svg" class="icon-progress-and-weight mt-1">
                          <span class="px-1">وزن پیشرفت</span>
                        </div>
                      </div>
                      <hr class="hr-opacity">
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

            </div>
          </div>
          <span (click)="closeModal()" class="material-icons my-modal-cancel pointer">close</span>
        </div>
      </div>
    </div>
</div>
