<div id="view-activity-diagram-modal">
    <div class="modal-background">
      <div class="modal">
        <div class="my-modal-content text-center mx-auto">
          <div class="modal-scroll">
            <div class="row mt-5 mx-2">
                <div class="col-12 w-100 m-auto">
                    <div class="row bg-father py-2" (click)="openCloseList()">
                        <div class="col-8 text-end d-inline set-font-Raymon font-weight-bold pb-2">
                            <i class="material-icons d-inline-block flesh">expand_more</i>
                            <div class="d-inline-block">
                                <span class="py-2">فعالیت پدر</span>
                            </div>
                        </div>
                        <div class="col-4 d-inline text-start my-auto">
                            <div class="percentage set-font-Raymon mx-1">75%</div>
                            <div class="percentage set-font-Raymon mx-1">75%</div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <span (click)="closeModal()" class="material-icons my-modal-cancel pointer">close</span>
        </div>
      </div>
    </div>
</div>
  