<div id="view-activity-diagram-modal">
    <div class="modal-background d-ltr">
      <div class="modal-activity-relation">
        <div class="my-modal-content text-center mx-auto">
          <div class="modal-scroll">
            <div class="header-modal">
              <span class="mx-auto set-font-Raymon">فعالیت ها</span>
            </div>
            <div class="row mt-5 mx-2 d-rtl">
              <div class="col-12 w-100 d-rtl mr-0">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

                  <div class="row" *matTreeNodeDef="let node">
                    <div class="col-6">
                      <mat-tree-node class="set-font-vazir pr-4">
                        <span class="material-icons leaf-box">inventory</span>

                        {{node.name}}
                      </mat-tree-node>
                    </div>
                        <div class="col-3 set-font-vazir detaile-activity">
                          وزن مالی
                        </div>
                        <div class="col-3 set-font-vazir detaile-activity">
                          وزن زمانی
                        </div>
                  </div>



                  <div class="row parent-container" *matTreeNodeDef="let node;when: hasChild">
                    <div class="col-6">
                  <mat-tree-node class="set-font-vazir" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'Toggle ' + node.name">
                      <span class="material-icons parent-box">inventory</span>
                    </button>
                    {{node.name}}
                  </mat-tree-node>
                </div>
                    <div class="col-3 set-font-vazir detaile-activity">
                      وزن مالی
                    </div>
                    <div class="col-3 set-font-vazir detaile-activity">
                      وزن زمانی
                    </div>
                  </div>
                </mat-tree>
              </div>

            </div>
          </div>
          <span (click)="closeModal()" class="material-icons my-modal-cancel pointer">close</span>
        </div>
      </div>
    </div>
</div>
