<div class=" d-rtl">
<!--    <app-multi-select-custom-toggle [selectedValue]="1" [title]="'شرکت'"></app-multi-select-custom-toggle>
    <div class="mx-auto mt-5">
        <div class="row mx-auto time-box pointer" (click)="openCloseList()">
            <div class="d-inline w-75 my-4">
                نام شرکت
            </div>
            <div class="d-inline w-25">
                <i *ngIf="!showList" class="material-icons d-inline icon-styles mt-3" style="float: left;">keyboard_arrow_down</i>
                <i *ngIf="showList" class="material-icons d-inline icon-styles mt-3" style="float: left;">keyboard_arrow_up</i>
            </div>
            <div *ngIf="showList" class="bg-company-list mx-auto">
                <div class="row py-2 mx-auto company">شرکت اول</div>
                <div class="row py-2 mx-auto company">شرکت اول</div>
                <div class="row py-2 mx-auto company">شرکت اول</div>
                <div class="row py-2 mx-auto company">شرکت اول</div>
            </div>
        </div>
    </div>-->
    <div class="mx-2" *ngIf="projectList.length > 0">
        <div *ngFor="let item of projectList" class="row list-result-project set-font-vazir py-2">
          <div class="col-12 col-md-3 col-sm-6 my-auto">{{item.projectName}}</div>
          <div class="col-12 col-md-3 col-sm-6 my-auto">{{item.companyName}}</div>
          <div class="col-12 col-md-3 col-sm-6 my-auto">
            <div class="state-project mx-1 d-inline-block"></div>
            {{showProjectState(item.projectStatus)}}
          </div>
          <div class="col-12 col-md-3 d-flex justify-content-end">
            <!--
            <img (click)="goToChartPage()" src="../../../../assets/icon/projectShortCut/Group 202.svg" class="icon-short-cut-project"
              mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="گزارش ها">
            -->

            <img (click)="goToActivityProject(item.projectId)" src="../../../../assets/icon/projectShortCut/Group%20199.svg" class="icon-short-cut-project"
              mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="فعالیت ها">
            <img (click)="goToEditProject(item.projectId)" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
              mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
          </div>
        </div>
    </div>
    <div *ngIf="projectList.length == 0">
      <app-empty-result></app-empty-result>
    </div>
</div>

