@import "../../../../../../assets/style/colorPalette.scss";

.height-add-remove-button {
  height: 50px!important;
  width: 50px!important;
  @media (max-width: 900px) {
    height: 30px!important;
    width: 30px!important;
  }
}

.show-component-photo {
    display: block;
  }

  .hidden-component-photo {
    display: none;
  }

  .preview-image {
    width: 100%;
    height: 225px;
    border-radius: 6px;
    margin-top: 0px !important;
  }


.container-upload-image {
    border: 2px dashed rgba($dark-back-ground, 0.7);
    border-radius: 8px;
    width: 100%;
    height: 260px;


  .bg-color {
    position: absolute;
    left: 43%;
    bottom: 80px;
    opacity: 0.7;
    transition: 0.3s all;
    color: rgba($dark-back-ground, 0.7);
    font-size: 122px;
    @media(max-width:800px){
      left: 37%;
    }
    @media(max-width:500px){
      left: 30%;
    }
    @media(max-width:400px){
      font-size: 95px;
    }
    @media(max-width:350px){
      font-size: 65px;
    }
  }

  .bg-color-1 {
    position: absolute;
    left: 44%;
    bottom: 40px;
    opacity: 0.7;
    transition: 0.3s all;
    color: rgba($dark-back-ground, 0.7);
    font-size: 122px;
    @media(max-width:800px){
      left: 35%;
    }
    @media(max-width:500px){
      left: 34%;
    }
    @media(max-width:400px){
      font-size: 95px;
    }
    @media(max-width:350px){
      font-size: 65px;
    }
  }

  .bg-color-2 {
        position: absolute;
        left: 51%;
        bottom: 40px;
        opacity: 0.7;
        transition: 0.3s all;
        color: rgba($dark-back-ground, 0.7);
        font-size: 122px;
        @media(max-width:800px){
            left: 43%;
        }
        @media(max-width:500px){
            left: 48%;
        }
        @media(max-width:400px){
            font-size: 95px;
        }
        @media(max-width:350px){
            font-size: 65px;
        }
    }

    &:hover {
      .bg-color {
        opacity: 1;
      }
      .bg-color-1 {
        opacity: 1;
      }
      .bg-color-2 {
        opacity: 1;
      }
    }
  }
  .title-upload-image {
    margin-top: -30px;
    font-size: 25px;
  }
  .spinner-upload-image {
    position: absolute;
    left: 46%;
    top: 150px;
  }


.button-upload{
  border: none;
  border-radius: 15px;
  background-color: transparent;
  position: absolute;
  top: 200px;
  right: 181px;
  @media (max-width:576px) {
    right: 135px !important;
  }
  @media (max-width:470px) {
    right: 60px !important;
  }
  img{
    width: 40px;
  }
}

  .no-button{
    right: 260px !important;
    @media (max-width:576px) {
      right: 210px !important;
    }
    @media (max-width:470px) {
      right: 140px !important;
    }
  }
