<div class="wrapper set-font-vazir">
  <app-display-user-path [path1]="path1" [path2]="path2" [path3]="path3"></app-display-user-path>

  <div class="row mx-auto">
            <div class="col-sm-3 col-12 mx-auto">
                <app-step-create-project (selectStep)="setSelectStep($event)"></app-step-create-project>
            </div>
            <div class="col-sm-9 col-12 mx-auto">
                <app-basic-project-information *ngIf="selectSteps == 1"></app-basic-project-information>
                <app-stakeholder-management *ngIf="selectSteps == 2"></app-stakeholder-management>
               <app-recovery-resources *ngIf="selectSteps == 3"></app-recovery-resources>
                <app-add-activity *ngIf="selectSteps == 4"></app-add-activity>
                <app-upload-images *ngIf="selectSteps == 5"></app-upload-images>
                <app-development-report-project *ngIf="selectSteps == 6"></app-development-report-project>
                <app-specialized-information-removal-marginalization *ngIf="selectSteps == 7"></app-specialized-information-removal-marginalization>
                <app-project-objectives *ngIf="selectSteps == 8"></app-project-objectives>
                <app-pproject-location-information *ngIf="selectSteps == 9"></app-pproject-location-information>
                <!-- <app-specialized-information-rural-housing *ngIf="selectSteps == 7"></app-specialized-information-rural-housing>
                <app-specialized-information-rural-water *ngIf="selectSteps == 7"></app-specialized-information-rural-water>
                <app-specialized-information-rural-way *ngIf="selectSteps == 7"></app-specialized-information-rural-way> -->
            </div>
    </div>
</div>
