<div class="wrapper set-font-vazir">
  <app-display-user-path [path1]="path1" [path2]="path2"></app-display-user-path>

  <div class="row mx-auto">
            <div class="col-sm-3 col-12 mx-auto">
                <app-step-create-project (selectStep)="setSelectStep($event)"></app-step-create-project>
            </div>
            <div class="col-sm-9 col-12 mx-auto">
                <app-basic-project-information *ngIf="selectSteps == 1"></app-basic-project-information>
                <app-stakeholder-management *ngIf="selectSteps == 2"></app-stakeholder-management>
               <app-recovery-resources *ngIf="selectSteps == 3"></app-recovery-resources>
                <app-add-activity *ngIf="selectSteps == 4"></app-add-activity>
                <app-upload-images *ngIf="selectSteps == 5"></app-upload-images>
                <app-development-report-project *ngIf="selectSteps == 6"></app-development-report-project>
              <div *ngIf="selectSteps == 7">
                <app-specialized-information-rural-water *ngIf="checkWhichSpecializedComponent(9)"></app-specialized-information-rural-water>
                <app-specialized-information-rural-housing *ngIf="checkWhichSpecializedComponent(0)"></app-specialized-information-rural-housing>
                <app-specialized-information-rural-way *ngIf="checkWhichSpecializedComponent(2)"></app-specialized-information-rural-way>
                <app-specialized-information-removal-marginalization *ngIf="checkWhichSpecializedComponent(4)"></app-specialized-information-removal-marginalization>
                <app-social-transformation-information *ngIf="checkWhichSpecializedComponent(5)"></app-social-transformation-information>
                <app-revival-of-industry-information *ngIf="checkWhichSpecializedComponent(8)"></app-revival-of-industry-information>
                <app-knowledge-base-information *ngIf="checkWhichSpecializedComponent(3)"></app-knowledge-base-information>
                <app-health-information *ngIf="checkWhichSpecializedComponent(1)"></app-health-information>
                <app-specialized-information-on-employment *ngIf="checkWhichSpecializedComponent(7)"></app-specialized-information-on-employment>
                <app-specialized-information-in-the-of-food-safety *ngIf="checkWhichSpecializedComponent(6)"></app-specialized-information-in-the-of-food-safety>
              </div>
                <app-project-objectives *ngIf="selectSteps == 8"></app-project-objectives>
                <app-pproject-location-information *ngIf="selectSteps == 9"></app-pproject-location-information>
            </div>
    </div>
</div>
