<!-- <app-general-back-ground></app-general-back-ground> -->
<app-navebar></app-navebar>
<app-sidebar></app-sidebar>
<div class="wrapper">
    <div class="row mx-auto">
            <div class="col-sm-3 col-12 mx-auto">
                <app-step-create-project></app-step-create-project>
            </div>
            <div class="col-sm-9 col-12 mx-auto">
                <!-- <app-basic-project-information></app-basic-project-information> -->
                <!-- <app-stakeholder-management></app-stakeholder-management> -->
                <app-recovery-resources></app-recovery-resources>
            </div>
    </div>
</div>