<div class="bg-levels mx-4 mt-2 mb-5">
    <div class="row pb-1">
        <div class="col-12 d-block my-auto">
            <i class="material-icons d-inline icon-styles">assignment</i>
            <h4 class="title-page d-inline set-font-Raymon">افزودن زیر فعالیت</h4>
        </div>
        <div class="col-md-9 col-12">
            <app-drop-down-activities></app-drop-down-activities>
        </div>
        <div *ngFor="let activity of subactivityList , let i = index" class="bg-activity mt-3 row mx-auto">
            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'نام زیر فعالیت'" [inputId]="'1'"
                [inputFormControl]="activityNameFormControl"></app-input-style>

            <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تاریخ اتمام'" [inputId]="'2'"
                [inputFormControl]="startDateFormControl"></app-date-picker-jalaly>

            <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تاریخ شروع'" [inputId]="'3'"
                [inputFormControl]="endDateFormControl"></app-date-picker-jalaly>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'هزینه زیر فعالیت'" [inputId]="'4'"
                [inputFormControl]="activityPriceFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [type]="'text'" [inputLabel]="'وزن زمانی زیر فعالیت'" [inputId]="'5'"
                [inputFormControl]="timeWeightActivityFormControl"></app-input-style>


            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [type]="'text'" [inputLabel]="'وزن مالی زیر فعالیت'" [inputId]="'6'"
                [inputFormControl]="priceWeightActivityFormControl"></app-input-style>

            <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'شرح زیر فعالیت'" [inputId]="'7'"
                [inputFormControl]="descreptionActivityFormControl" [textarea]="true"></app-input-style>

            <div class="row mx-auto">
                <div class="mx-auto text-start" (click)="addActivity()">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن زیرفعالیت جدید">
                    </button>
                </div>
            </div>        
        </div>
    </div>

    <div class="my-2" style="direction: ltr;">
        <button type="button" class="ok-button-text px-4 py-2">
            تایید و ادامه
        </button>
    </div>
</div>