@import "../../../../../../../../assets/style/colorPalette.scss";
.bg-activity{
    background-color: rgba($color: $button-color, $alpha: 0.1);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgb(212, 212, 212);
}

.button-add-activity{
    margin-top: 10px;
    border: none;
    border-radius: 100%;
    background: transparent;
    width: 40px;
    height: 40px;
    img{
        width: 100%;
    }
}