@import "../../../../assets/style/colorPalette";
.tab-text {
  color: $dark-back-ground;
  font-size: 18px;
  @media(max-width:770px){
    font-size: 14px;
  }
  @media(max-width:325px){
    font-size: 12px;
  }
  &:active{
    color: $icon-color;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: $icon-color;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}