<div class="wrapper">
  <app-display-user-path *ngIf="show" [showCompanyList]="true" [showProjectList]="true" [path2]="path2" 
  [path1]="path1" [path3]="path3" (projectIdSelected)="setProjectId($event)"></app-display-user-path>
  <app-display-user-path *ngIf="!show" [showProjectList]="true" [path2]="path2" 
  [path1]="path1" [path3]="path3" (projectIdSelected)="setProjectId($event)"></app-display-user-path>
  <!-- <app-display-user-path *ngIf="show" [path2]="path2" 
  [path1]="path1" [path3]="path3"></app-display-user-path> -->
  <div class="bg-levels mx-4 mt-2">
    <div class="set-font-vazir" *ngIf="projectId != null">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active set-font-Raymon tab-text" id="basicInformation-tab" data-bs-toggle="tab" data-bs-target="#basicInformation" type="button" role="tab" aria-controls="basicInformation" aria-selected="true">اطلاعات اولیه</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link set-font-Raymon tab-text" id="detailInformation-tab" data-bs-toggle="tab" data-bs-target="#detailInformation" type="button" role="tab" aria-controls="detailInformation" aria-selected="false">شناسه تخصصی</button>
        </li>
        <li class="nav-item set-font-Raymon tab-text" role="presentation">
          <button class="nav-link tab-text" id="recoveryResourcesInformation-tab" data-bs-toggle="tab" data-bs-target="#recoveryResourcesInformation" type="button" role="tab" aria-controls="recoveryResourcesInformation" aria-selected="false">منابع بازیابی</button>
        </li>
        <li class="nav-item set-font-Raymon tab-text" role="presentation">
          <button class="nav-link tab-text" id="developerInformation-tab" data-bs-toggle="tab" data-bs-target="#developerInformation" type="button" role="tab" aria-controls="developerInformation" aria-selected="false">اطلاعات ذی نفعان</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="basicInformation" role="tabpanel" aria-labelledby="home-tab">
          <app-edit-basic-information [projectId]="projectId"></app-edit-basic-information>
        </div>
        <div class="tab-pane fade" id="detailInformation" role="tabpanel" aria-labelledby="profile-tab">
          <app-edite-detail-information [projectId]="projectId"></app-edite-detail-information>
        </div>
        <div class="tab-pane fade" id="developerInformation" role="tabpanel" aria-labelledby="contact-tab">
          <app-edit-developer-informationormation [projectId]="projectId"></app-edit-developer-informationormation>
        </div>
        <div class="tab-pane fade" id="recoveryResourcesInformation" role="tabpanel" aria-labelledby="contact-tab">
          <app-edit-recovery-informationormation [projectId]="projectId"></app-edit-recovery-informationormation>
        </div>
      </div>
    </div>
    <div *ngIf="!projectId||projectId==null">
      <app-empty-result></app-empty-result>
    </div>
  </div>
</div>
