<div class="bg-levels mx-4 mt-2">
    <div class="row">
        <div class="col-12">
            <i class="material-icons d-inline icon-styles">gps_fixed</i>
            <h4 class="title-page d-inline set-font-Raymon ">اهداف پروژه</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'اهداف پروژه'" [inputId]="'1'"
            [inputFormControl]="projectObjectiveFormControl" [textarea]="true"></app-input-style>

        <div class="col-12">
            <i class="material-icons d-inline icon-styles">gps_fixed</i>
            <h4 class="title-page d-inline set-font-Raymon ">گلوگاه های پروژه</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'گلوگاه های پروژه'" [inputId]="'3'"
            [inputFormControl]="projectTheBottleneckFormControl" [textarea]="true"></app-input-style>

        <div class="col-12">
            <i class="material-icons d-inline icon-styles">gps_fixed</i>
            <h4 class="title-page d-inline set-font-Raymon ">چالش های پروژه</h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'چالش های پروژه'" [inputId]="'2'"
            [inputFormControl]="projectChallengeFormControl" [textarea]="true"></app-input-style>      
    </div>

<div class="row col-12 my-2" style="direction: ltr;">
    <button type="button" class="ok-button" [disabled]="!getValue()">
        <img src="../../../../assets/image/createProject/ok-button.svg" alt="" class="opacity-light {{getValue() ? 'opacity-bold':''}}" alt="">
    </button>
</div>
</div>