<div class="p-3">
  <div class="row">
    <div class="col-12 d-block my-auto">
      <i class="material-icons d-inline icon-styles">insert_chart</i>
      <h4 class="title-page d-inline set-font-Raymon">گزارش تخصیص</h4>
    </div>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'نام گزارش دهنده'" [inputId]="'1'"
                     [inputFormControl]="reporterNameFormControl"></app-input-style>

    <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-sm-6 col-12" [inputLabel]="'تاریخ ثبت'" [inputId]="'2'"
                            [inputFormControl]="saveDateFormControl"></app-date-picker-jalaly>

    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 col-12" [type]="'number'" [inputLabel]="'میزان تخصیص'" [inputId]="'3'"
                     [inputFormControl]="progressFormControl"></app-input-style>

    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'شرح گزارش تخصیص'" [inputId]="'4'"
                     [inputFormControl]="descreptionReportFormControl" [textarea]="true"></app-input-style>

    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'file'" [inputLabel]="'بارگزاری مستندات تخصیص پروژه'" [inputId]="'5'"
                     [inputFormControl]="uploadDocumentationProjectFormControl"></app-input-style>

  </div>

  <div *ngIf="getValue()" class="row col-12 my-2" style="direction: ltr;">
    <button (click)="goNextStep()" type="button" class="ok-button">
      <img src="../../../../../assets/image/createProject/ok-button.svg" alt="">
    </button>
  </div>
</div>
