<div class="wrapper set-font-vazir">
    <div class="col-12">
        <app-display-user-path [path1]="path1" [path2]="path2" [showCompanyList]="true"></app-display-user-path>
    </div>
    <div class="col-12 mx-auto px-5">
            <div class="row list-result-project set-font-vazir py-1">
                <div class="col-12 col-md-3 col-sm-4 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center py-sm-0 py-2">نام کاربری</div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center text-md-center text-sm-start">تاریخ عضویت</div>
                <div class="col-12 col-md-1 my-auto text-sm-start text-center">
                    <i class="material-icons icon-lockes chat-icon"
                    mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="چت با کاربر"
                    >chat</i>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 col-sm-4 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center py-sm-0 py-2">نام کاربری</div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center text-md-center text-sm-start">تاریخ عضویت</div>
                <div class="col-12 col-md-1 my-auto text-sm-start text-center">
                    <i class="material-icons icon-lockes chat-icon"
                    mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="چت با کاربر"
                    >chat</i>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 col-sm-4 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center py-sm-0 py-2">نام کاربری</div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center text-md-center text-sm-start">تاریخ عضویت</div>
                <div class="col-12 col-md-1 my-auto text-sm-start text-center">
                    <i class="material-icons icon-lockes chat-icon"
                    mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="چت با کاربر"
                    >chat</i>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 col-sm-4 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center py-sm-0 py-2">نام کاربری</div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center text-md-center text-sm-start">تاریخ عضویت</div>
                <div class="col-12 col-md-1 my-auto text-sm-start text-center">
                    <i class="material-icons icon-lockes chat-icon"
                    mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="چت با کاربر"
                    >chat</i>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 col-sm-4 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center py-sm-0 py-2">نام کاربری</div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center text-md-center text-sm-start">تاریخ عضویت</div>
                <div class="col-12 col-md-1 my-auto text-sm-start text-center">
                    <i class="material-icons icon-lockes chat-icon"
                    mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="چت با کاربر"
                    >chat</i>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 col-sm-4 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center py-sm-0 py-2">نام کاربری</div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center text-md-center text-sm-start">تاریخ عضویت</div>
                <div class="col-12 col-md-1 my-auto text-sm-start text-center">
                    <i class="material-icons icon-lockes chat-icon"
                    mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="چت با کاربر"
                    >chat</i>
                </div>
            </div>
            <div class="row list-result-project set-font-vazir py-1 my-3">
                <div class="col-12 col-md-3 col-sm-4 text-sm-end text-center">
                    <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                    <span>نام</span>
                </div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center py-sm-0 py-2">نام کاربری</div>
                <div class="col-12 col-md-4 col-sm-4 my-auto text-center text-md-center text-sm-start">تاریخ عضویت</div>
                <div class="col-12 col-md-1 my-auto text-sm-start text-center">
                    <i class="material-icons icon-lockes chat-icon"
                    mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="چت با کاربر"
                    >chat</i>
                </div>
            </div>
    </div>
</div>
