@import "../../../../assets/style/colorPalette.scss";

.m-top-form {
  margin-top: 70px;
}
.back-ground-main {
  background-color: $lite-yellow-back-ground;
  padding-right: 12px;
  padding-left: 12px;
}

.back-ground-main-register {
  background-color: $lite-yellow-back-ground;
}

.back-ground-dark {
  background-color: $dark-back-ground;
  height: 100vh;
}
.title-login {
  font-size: 28px;
  color: $text-color-normal;
  margin-top: 40px;
}

.description-login {
  font-size: medium;
  margin-top: 40px;
  line-height: 25px;
  color: $text-color-normal;
}

.image-login {
  height: 430px;
  margin-top: 50px;
}
.register-text {
  font-size: medium;
  font-weight: bold;
  color: white;
}

.button-project {
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
min-width: 130px;
color: $text-color-normal;
border: none;
transition: all 0.3s;
&:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}
