<div class="back-ground-main d-rtl">
  <div class="row w-100 h-100">
    <div class="col-sm-5 col-12 back-ground-dark boxShadow">
      <div class="row m-top-form">
        <div class="col-10 col-sm-8 mx-auto mt-3">
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'userName'" [type]="'text'" [inputFormControl]="userNameControl" [inputLabel]="'نام کاربری'" [authInput]="true"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'password'" [type]="'password'" [inputFormControl]="passwordControl" [inputLabel]="'رمز عبور'" [authInput]="true"
          (keyup.enter)="submitLogin()" class="mt-3" [haveEye]="true"></app-input-style>
        </div>
      </div>

      <button (click)="submitLogin()" [disabled]="checkAbelityButton()" class="button-project mx-auto px-4 py-2 mt-3 d-flex justify-content-center set-font-vazir">
        <span *ngIf="!showSpinner">ورود</span>
        <div *ngIf="showSpinner" class="spinner-border spinner-border-sm" role="status"></div>
      </button>

      <p class="pointer register-text text-center set-font-vazir mt-3" (click)="goRegister()">عضویت</p>
    </div>
    <div class="col-sm-7 col-12 pt-md-5 pt-4">
      <div class="title-login text-center set-font-Raymon m-top-form">
        درباره ی سرویس بیشتر بدانید...
      </div>
      <div class="description-login set-font-vazir text-center col-11 col-sm-9 mx-auto">
        متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.
      </div>
      <img src="../../../../assets/image/auth/mobile-login-concept-illustration_114360-135.webp"
           class="image-login justify-content-center d-flex mx-auto">
    </div>
  </div>
</div>
