<div *ngIf="!textarea" class="row text-right col-12 mx-auto px-0 mt-2">
  <div class="col-12 custom-input mx-auto px-0 position-relative">
    <div class="custom-place w-100 text-right set-font-vazir {{inputFormControl.value? 'holder' : ''}}"
      [ngStyle]="{'color': inputCustomStyle ? inputCustomStyle.labelColor : ''}" [id]="inputId">{{inputLabel}}
    </div>
    <input (ngModelChange)="changeValue.emit($event)" class="custom-input-style set-font-vazir w-100"
       [type]="hideInput ? type : 'text'" [formControl]="inputFormControl"
           [ngStyle]="{'color': inputCustomStyle ? inputCustomStyle.colorText : '',
                       'border-bottom': inputCustomStyle ? ('1px solid ' + inputCustomStyle.lineColor): ''}"
           (focus)="addStyles(type)" (focusout)="removeStyles(inputFormControl.value)">

    <div *ngIf="haveEye" class="eye-icon">
      <span *ngIf="!hideInput" (click)="hideInput = true" class="material-icons pointer text-lite">visibility</span>
      <span *ngIf="hideInput" (click)="hideInput = false" class="material-icons pointer text-lite">visibility_off</span>
    </div>
  </div>
   <div class="text-danger mt-2 mr-3 text-right set-font-vazir error-text
{{inputFormControl.hasError('required') && inputFormControl.touched? '' : 'd-none'}}">
    {{inputError}}
  </div>
</div>

<div *ngIf="textarea" class="row text-right col-12 mx-auto px-0 mt-2">
  <div class="col-12 custom-input mx-auto px-0 position-relative">
    <div class="custom-place w-100 text-right set-font-vazir {{inputFormControl.value? 'holder' : ''}}"
      [ngStyle]="{'color': inputCustomStyle ? inputCustomStyle.labelColor : ''}" [id]="inputId">{{inputLabel}}
    </div>
    <textarea (ngModelChange)="changeValue.emit($event)" class="custom-input-style set-font-vazir w-100"
        [formControl]="inputFormControl"
           [ngStyle]="{'color': inputCustomStyle ? inputCustomStyle.colorText : '',
                       'border-bottom': inputCustomStyle ? ('1px solid ' + inputCustomStyle.lineColor): ''}"
           (focus)="addStyles(type)" (focusout)="removeStyles(inputFormControl.value)"></textarea>

    <div *ngIf="haveEye" class="eye-icon">
      <span *ngIf="!hideInput" (click)="hideInput = true" class="material-icons pointer text-lite">visibility</span>
      <span *ngIf="hideInput" (click)="hideInput = false" class="material-icons pointer text-lite">visibility_off</span>
    </div>
  </div>
   <div class="text-danger mt-2 mr-3 text-right set-font-vazir error-text
{{inputFormControl.hasError('required') && inputFormControl.touched? '' : 'd-none'}}">
    {{inputError}}
  </div>
</div>
