@import "../../../../../assets/style/colorPalette.scss";

.custom-input{
  position: relative;
  margin-top: 25px;
  justify-self: right !important;
  .custom-place {
    position: absolute;
    bottom: 25%;
    right: 5px !important;
    font-size: small;
    font-weight: 100;
    white-space: nowrap;
    border-radius: 5px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.8;
    transition: all 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    @media(min-width:576px) {
      margin-left: 5px;
      font-size: medium;
    }
    &.holder {
      bottom: 120% !important;
      opacity: 1 !important;
      font-size: small;
      right: 15px !important;
    }
  }

  .custom-input-style{
    background: none;
    outline: none;
    font-size: medium;
    border: none;
    text-align: right;
    direction: rtl;
  }
  .invalid-custom-input-style{
    color: red;
    font-size: small;
  }
}

.text-pop-up-tr {
  -webkit-animation: text-pop-up-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-tr {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px) translateX(50px);
    transform: translateY(-50px) translateX(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 $text-color-normal, 0 2px 0 $text-color-normal, 0 3px 0 $text-color-normal, 0 4px 0 $text-color-normal, 0 5px 0 $text-color-normal, 0 6px 0 $text-color-normal, 0 7px 0 $text-color-normal, 0 8px 0 $text-color-normal, 0 9px 0 $text-color-normal, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-tr {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px) translateX(50px);
    transform: translateY(-50px) translateX(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 $text-color-normal, 0 2px 0 $text-color-normal, 0 3px 0 $text-color-normal, 0 4px 0 $text-color-normal, 0 5px 0 $text-color-normal, 0 6px 0 $text-color-normal, 0 7px 0 $text-color-normal, 0 8px 0 $text-color-normal, 0 9px 0 $text-color-normal, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.error-text {
  font-size: small;
  color: red;
}

.label-pos{
  position: absolute;
  left: 25px;
  font-size: medium;
  bottom: 5px;
  color: $grey;
  font-weight: bold;
}

.label-unit {
  right: 80%;
  position: absolute;
  left: 0px;
  font-size: medium;
  bottom: -18px;
  color: $grey;
  font-weight: bold;
}

.eye-pos{
  position: absolute;
  left: 8px;
  font-size: medium;
  bottom: -1px;
  color: white;
  font-weight: bold;
}

.unit-text {
  font-size: 15px;
}

::ng-deep .mat-form-field .mat-form-field-underline {
  display: none !important;
}
