    <div class="row">
      <div class="col-12 d-block my-auto mt-4">
        <i class="material-icons d-inline icon-styles">insert_chart</i>
        <h4 class="title-page d-inline set-font-Raymon">گزارش تخصیص</h4>
      </div>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'نام گزارش دهنده'" [inputId]="'5'"
                       [inputFormControl]="reporterNameFormControl"></app-input-style>

      <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-sm-6 col-12" [inputLabel]="'تاریخ ثبت'" [inputId]="'6'"
                       [inputFormControl]="saveDateFormControl"></app-date-picker-jalaly>

      <app-date-picker-jalaly [inputCustomStyle]="inputCustomStyle" class="col-sm-6 col-12" [inputLabel]="'تاریخ پرداخت'" [inputId]="'paymentDateFormControl'"
                        [inputFormControl]="paymentDateFormControl"></app-date-picker-jalaly>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [type]="'number'" [unit]="3" [inputLabel]="'میزان تخصیص'" [inputId]="'7'"
                       [inputFormControl]="progressFormControl"></app-input-style>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [inputLabel]="'شرح گزارش تخصیص'" [inputId]="'8'"
                       [inputFormControl]="descreptionReportFormControl" [textarea]="true"></app-input-style>

      <app-upload-file-input [inputFormControl]="uploadDocumentationProjectFormControl" [inputLabel]="'بارگذاری مستندات تخصیص پروژه'"></app-upload-file-input>
    </div>
