.scroll-w-hidden {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f1f1f1; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #3b7374; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #203e3f; 
}