@import "../../../workSpace/page/view-workspace/view-workspace.component.scss";
@import "../../../../assets/style/inputStyle.scss";

.scroll-list-company {
    height: 365;
    overflow-x: hidden;
    overflow-y: scroll;
    @media(max-width: 960px){
        height: 460px;
    }
}