@import "../../../workSpace/page/view-workspace/view-workspace.component.scss";
@import "../../../../assets/style/inputStyle.scss";

.scroll-list-company {
    height: 365;
    overflow-x: hidden;
    overflow-y: scroll;
    @media(max-width: 960px){
        height: 460px;
    }
}

.text-field {
  font-size: 25px;
  margin-top: 15px;
}

.icon-size {
  font-size: 40px;
}

.field-of-project {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  background-color: #FFFF;
  color: $text-color-normal;
}

.active-field {
  opacity: 0.75;
}
