@import "../../../../../../assets/style/colorPalette.scss";

.progress-color {
  color: $icon-color;
}

.title-style {
  color: $active-yellow-lite;
  font-weight: bold;
  font-size: medium;
}
