<section class="example-section">
  <p><mat-checkbox class="set-font-vazir">
    <span class="px-2 check-box-label">محرومیت زدایی</span>
  </mat-checkbox></p>
  <p><mat-checkbox class=" set-font-vazir">
    <span class="px-2 check-box-label">مسکن روستایی</span>
  </mat-checkbox></p>

  <p><mat-checkbox class=" set-font-vazir">
    <span class="px-2 check-box-label">آب روستایی</span>
  </mat-checkbox></p>
  <p><mat-checkbox class="set-font-vazir">
    <span class="px-2 check-box-label">راه روستایی</span>
  </mat-checkbox></p>
  <p><mat-checkbox class="set-font-vazir">
    <span class="px-2 check-box-label">بهداشت</span>
  </mat-checkbox></p>
  <p><mat-checkbox class="set-font-vazir">
    <span class="px-2 check-box-label">اشتغال</span>
  </mat-checkbox></p>
  <p><mat-checkbox class="set-font-vazir">
    <span class="px-2 check-box-label">امنیت غذایی</span>
  </mat-checkbox></p>
</section>
