<div class="d-block">
  <div class="d-flex d-rtl mt-2 pointer hoverMenu {{state == 3 ? 'active-menu':''}}" (click)="openSubmenue(3)">
    <i class="icon-title-menu mx-2 my-2 material-icons">folder</i>
    <span class="title-menu mr-2 set-font-vazir {{state == 3 ? 'active-text':''}}"> مدیریت پروژه ها</span>
  </div>
  <div class="ul-list {{state == 3 ? 'd-flex':'d-none'}}">
    <ul class="text-left d-block">
      <li class="selectMenue">داشبورد 1</li>
      <li>داشبورد 1</li>
      <li>داشبورد 1</li>
      <li>داشبورد 1</li>
      <li>داشبورد 1</li>
      <li>داشبورد 1</li>
    </ul>
  </div>
</div>