<div class="d-block">
  <div class="d-flex d-rtl mt-2 pointer hoverMenu {{state == 3 ? 'active-menu':''}}" (click)="openSubmenue(3)">
    <i class="icon-title-menu mx-2 my-2 material-icons {{state == 3 ? 'icon-title-menu-selected':''}}">folder</i>
    <span class="title-menu mr-2 set-font-Raymon {{state == 3 ? 'active-text':''}}"> مدیریت پروژه ها</span>
  </div>
  <div class="ul-list {{state == 3 ? 'd-flex':'d-none'}}">
    <ul class="text-right d-block set-font-vazir mt-2">
      <li class="{{selectSubmenueUser == 1 ? 'selectMenue':''}}" (click)="setSelected(1)">ایجاد پروژه</li>
      <li class="{{selectSubmenueUser == 2 ? 'selectMenue':''}}" (click)="setSelected(2)">ویرایش پروژه</li>
      <li class="{{selectSubmenueUser == 3 ? 'selectMenue':''}}" (click)="setSelected(3)">مشاهده پروژه</li>
      <li class="{{selectSubmenueUser == 4 ? 'selectMenue':''}}" (click)="setSelected(4)">ارسال گزارش</li>
      <li *ngIf="showReport" class="{{selectSubmenueUser == 5 ? 'selectMenue':''}}" (click)="setSelected(5)">مدیریت گزارش ها</li>
    </ul>
  </div>
</div>
