@import "../../../../../assets/style/colorPalette.scss";

.container-chart {
  border-radius: 7px;
  background-color: $lite-yellow-back-ground;
}

.title-chart {
  color: $dark-back-ground;
  font-size: 20px;
  text-align: center;
  color: #5c5c5c;
}
