<div class="bg-levels mx-4 mt-2">
    <div class="row">
      <div class="col-12 my-2">
        <i class="material-icons d-inline icon-styles">business</i>
        <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی احیای صنعت</h4>
      </div>

      <div>
        <div *ngFor="let list of revivalIndustrySpeceficDetailDTO; let i = index" class="row">
          <div class="col-12 mt-2">
            <h4 class="title-page1 d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
          </div>
          <mat-radio-group [value]="0"
            class="example-radio-group font-size-small">
            <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
              <span class="px-2">احداث</span>
            </mat-radio-button>
            <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
              <span class="px-2">تکمیل و توسعه</span>
            </mat-radio-button>
            <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
              <span class="px-2">مرمت</span>
            </mat-radio-button>
          </mat-radio-group>

          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'حجم تسهیلات اعطایی'" [minValue]="0" [separate]="true"
           [unit]="3" [inputId]="'amountGrantedFacilities'" [type]="'text'" [inputFormControl]="amountGrantedFacilities[i]" (changeValue)="observeChange_amountGrantedFacilities($event, i)"></app-input-style>

          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد صنایع'" [minValue]="0"
           [inputId]="'numberIndustries'" [type]="'number'" [inputFormControl]="numberIndustries[i]" (changeValue)="observeChange_numberIndustries($event, i)"></app-input-style>

          <div *ngIf="i-1>=0" class="row mx-auto">
            <div class="mx-auto text-start" (click)="deleteList(i)">
                <button class="button-add-activity">
                    <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                    mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                </button>
            </div>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="mx-auto text-start" (click)="addList()">
              <button class="button-add-activity">
                  <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                  mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن احیای صنعت جدید">
              </button>
          </div>
        </div>
      </div>
      <div class="my-2" style="direction: ltr;">
        <button (click)="createDetailInfo()" type="button" class="ok-button-text opacity-light px-4 py-2 {{!checkValidation() ? 'opacity-bold':''}}" [disabled]="checkValidation()">
            تایید و ادامه
        </button>
      </div>
  </div>
