<div class="bg-levels mx-4 mt-2">
    <div class="row">
      <div class="col-12">
        <i class="material-icons d-inline icon-styles">business</i>
        <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی احیای صنعت</h4>
      </div>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'حجم تسهیلات اعطایی'" [inputId]="'amountGrantedFacilities'" [type]="'number'" [inputFormControl]="amountGrantedFacilities"></app-input-style>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد صنایع'" [inputId]="'numberIndustries'" [type]="'number'" [inputFormControl]="numberIndustries"></app-input-style>


        <div class="row col-12 my-2" style="direction: ltr;">
          <button type="button" class="ok-button" [disabled]="!checkValidation()">
              <img src="../../../../assets/image/createProject/ok-button.svg" class="opacity-light {{checkValidation() ? 'opacity-bold':''}}" alt="">
          </button>
      </div>
  </div>
