<div class="bg-levels mx-4 mt-2">
    <div class="row">
      <div class="col-12">
        <i class="material-icons d-inline icon-styles">work</i>
        <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی اشتغال</h4>
      </div>
      
      <div class="col-12 mt-2">
        <h4 class="title-page d-inline set-font-Raymon px-2">کارگاه : </h4>
      </div>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'اسم'" [inputId]="'workshopName'" [inputFormControl]="workshopName"></app-input-style>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'نوع'" [inputId]="'workshopType'" [inputFormControl]="workshopType"></app-input-style>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد نفرات'" [inputId]="'numberPeopleWorkshop'" [type]="'number'" [inputFormControl]="numberPeopleWorkshop"></app-input-style>

      <div class="col-12 mt-2">
        <h4 class="title-page d-inline set-font-Raymon px-2">مرکز آموزش : </h4>
      </div>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'اسم'" [inputId]="'EducationCenterName'" [inputFormControl]="EducationCenterName"></app-input-style>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'نوع'" [inputId]="'EducationCenterType'" [inputFormControl]="EducationCenterType"></app-input-style>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد نفرات'" [inputId]="'numberPeopleEducationCenter'" [type]="'number'" [inputFormControl]="numberPeopleEducationCenter"></app-input-style>

      <div class="col-12 mt-2">
        <h4 class="title-page d-inline set-font-Raymon px-2">وام و تسهیلات : </h4>
      </div>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'میزان'" [inputId]="'amount'" [inputFormControl]="amount"></app-input-style>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'number'" [type]="'number'" [inputFormControl]="number"></app-input-style>
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'بابت'" [inputId]="'reason'" [inputFormControl]="reason"></app-input-style>

      <app-input-style (click)="goOnMap()" [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'موقعیت در نقشه'" [inputId]="'4'"
        [inputFormControl]="LocationFormControl"></app-input-style>
    <div class="row col-12 my-2 d-ltr">
      <button type="button" class="ok-button">
        <img src="../../../../../assets/image/createProject/ok-button.svg" alt="">
      </button>
    </div>

  </div>