<div class="wrapper">
    <div class="col-12">
        <app-display-user-path [showCompanyList]="true" [showProjectList]="true" [path1]="path1" [path2]="path2" [path3]="path3"></app-display-user-path>
    </div>
    <div class="bg-levels row mx-4">
        <div class="d-inline col-2">
            <img src="../../../../assets/image/workSpace/sakh3.jpg" class="project-profile" alt="">
        </div>
        <div class="row col-10 my-auto">
            <div class="col-6 my-auto">
                <h1 class="set-font-Raymon">نام پروژه</h1>
                <h3 class="set-font-vazir">نام شرکت</h3>
                <h5 class="set-font-vazir">مسکن</h5>
            </div>
            <div class="col-6 my-auto">
                <h3 class="set-font-vazir">زمان باقیمانده تا اتمام پروژه : {{changeToPersian('40')}}روز</h3>
                <h3 class="set-font-vazir">مانده حساب پروژه :  ریال {{changeToPersian('10,000,000,000')}}</h3>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">
            <div class="col-12 px-3 mx-auto">
                <div class="container-chart boxShadow p-2">
                  <p class="title-chart set-font-vazir py-3">پیشرفت زمانی,اعلامی,تایید شده فعالیت های یک پروژه</p>
                  <div echarts [options]="option4" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
                </div>
            </div>
            <div class="col-lg-6 col-12 px-3 mx-auto my-2">
                <div class="container-chart boxShadow p-2">
                  <p class="title-chart set-font-vazir py-3">نسبت نیروی انسانی و زیرساخت</p>
                  <div echarts [options]="option2" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
                </div>
            </div>
            <div class="col-6 px-3 mx-auto my-2">
                <div class="container-chart boxShadow p-2">
                  <p class="title-chart set-font-vazir py-3">نمودار تخصیص و پیشرفت پروژه بر حسب زمان</p>
                  <div echarts [options]="optionsIncome" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
                </div>
            </div>
            <div class="col-6 px-3 mx-auto my-2">
                <div class="container-chart boxShadow p-2">
                    <p class="title-chart set-font-vazir py-3">میزان پیشرفت پروژه</p>
                    <div class="col-12 text-center">
                        <circle-progress
                        [percent]="85"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#a06ebd'"
                        [innerStrokeColor]="'#D1B6E1'"
                        [animation]="true"
                        [showSubtitle]="false"
                        [animationDuration]="300"
                        ></circle-progress>
                    </div>

                </div>
            </div>
            <div class="col-6 px-3 mx-auto my-2">
                <div class="container-chart boxShadow p-2 mx-auto">
                    <p class="title-chart set-font-vazir py-3">درصد تخصیص داده شده</p>
                    <div class="col-12 text-center">
                        <circle-progress
                        [percent]="47"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#27dcde'"
                        [innerStrokeColor]="'#437272'"
                        [animation]="true"
                        [showSubtitle]="false"
                        [animationDuration]="300"
                        ></circle-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
