<div class="p-3">
  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">assignment_ind</i>
      <h4 class="title-page d-inline set-font-Raymon">انتخاب کارفرما</h4>
    </div>
    <div *ngIf="employerList" class="col-11">
      <div *ngFor="let list1 of employerList , let i = index" class="row my-2 lists">
        <div class="row col-11">
          <div class="col-6 my-auto">
                        <span class="d-inline">{{i+1}}.
                            نام کاربری :</span>
            <span class="d-inline">{{list1.userName}}</span>
          </div>
          <div class="col-6 my-auto">
            <span class="d-inline">نام و نام خانوادگی :</span>
            <span class="d-inline">{{list1.familyName}}</span>
          </div>
        </div>
        <div class="col-1 pt-1">
          <button (click)="remove(employerList , i)" class="remove-button"><img src="../../../../../../assets/image/createProject/remove.svg" alt=""></button>
        </div>
      </div>
    </div>
    <div class="row col-11">
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'1'"
                       [inputFormControl]="employerNameFormControl"></app-input-style>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'2'"
                       [inputFormControl]="employerFirstAndLastNameFormControl"></app-input-style>
    </div>
    <div class="col-1">
      <button *ngIf="employerNameFormControl.value && employerFirstAndLastNameFormControl.value &&
                    employerNameFormControl.valid && employerFirstAndLastNameFormControl.valid" class="button-add"
              (click)="add(employerList,employerNameFormControl.value ,employerFirstAndLastNameFormControl.value)">
        <img src="../../../../../../assets/image/createProject/add-icon.svg" alt="">
      </button>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">assignment_ind</i>
      <h4 class="title-page d-inline set-font-Raymon">انتخاب ناظر</h4>
    </div>
    <div *ngIf="supervisorList" class="col-11">
      <div *ngFor="let list2 of supervisorList , let j = index" class="row my-2 lists">
        <div class="row col-11">
          <div class="col-6 my-auto">
                        <span class="d-inline">{{j+1}}.
                            نام کاربری :</span>
            <span class="d-inline">{{list2.userName}}</span>
          </div>
          <div class="col-6 my-auto">
            <span class="d-inline">نام و نام خانوادگی :</span>
            <span class="d-inline">{{list2.familyName}}</span>
          </div>
        </div>
        <div class="col-1 pt-1">
          <button (click)="remove(supervisorList ,j)" class="remove-button"><img src="../../../../../../assets/image/createProject/remove.svg" alt=""></button>
        </div>
      </div>
    </div>
    <div class="row col-11">
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'3'"
                       [inputFormControl]="supervisorNameFormControl"></app-input-style>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'4'"
                       [inputFormControl]="supervisorFirstAndLastNameFormControl"></app-input-style>
    </div>
    <div class="col-1">
      <button *ngIf="supervisorNameFormControl.value && supervisorFirstAndLastNameFormControl.value &&
                    supervisorNameFormControl.valid && supervisorFirstAndLastNameFormControl.valid" class="button-add">
        <img src="../../../../../../assets/image/createProject/add-icon.svg" alt=""
             (click)="add(supervisorList,supervisorNameFormControl.value ,supervisorFirstAndLastNameFormControl.value)">
      </button>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">assignment_ind</i>
      <h4 class="title-page d-inline set-font-Raymon">انتخاب مجری</h4>
    </div>
    <div *ngIf="executorList" class="col-11">
      <div *ngFor="let list3 of executorList , let k = index" class="row my-2 lists">
        <div class="row col-11">
          <div class="col-6 my-auto">
                        <span class="d-inline">{{k+1}}.
                            نام کاربری :</span>
            <span class="d-inline">{{list3.userName}}</span>
          </div>
          <div class="col-6 my-auto">
            <span class="d-inline">نام و نام خانوادگی :</span>
            <span class="d-inline">{{list3.familyName}}</span>
          </div>
        </div>
        <div class="col-1 pt-1">
          <button (click)="remove(executorList ,k)" class="remove-button"><img src="../../../../../../assets/image/createProject/remove.svg" alt=""></button>
        </div>
      </div>
    </div>
    <div class="row col-11">
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'5'"
                       [inputFormControl]="executorNameFormControl"></app-input-style>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'6'"
                       [inputFormControl]="executorFirstAndLastNameFormControl"></app-input-style>
    </div>
    <div class="col-1">
      <button *ngIf="executorNameFormControl.value && executorFirstAndLastNameFormControl.value &&
                    executorNameFormControl.valid && executorFirstAndLastNameFormControl.valid" class="button-add"
              (click)="add(executorList,executorNameFormControl.value ,executorFirstAndLastNameFormControl.value)"><img src="../../../../../../assets/image/createProject/add-icon.svg" alt=""></button>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">assignment_ind</i>
      <h4 class="title-page d-inline set-font-Raymon">انتخاب پیمان کار</h4>
    </div>
    <div *ngIf="contractorsList" class="col-11">
      <div *ngFor="let list4 of contractorsList , let l = index" class="row my-2 lists">
        <div class="row col-11">
          <div class="col-6 my-auto">
                        <span class="d-inline">{{l+1}}.
                            نام کاربری :</span>
            <span class="d-inline">{{list4.userName}}</span>
          </div>
          <div class="col-6 my-auto">
            <span class="d-inline">نام و نام خانوادگی :</span>
            <span class="d-inline">{{list4.familyName}}</span>
          </div>
        </div>
        <div class="col-1 pt-1">
          <button (click)="remove(contractorsList ,l)" class="remove-button"><img src="../../../../../assets/image/createProject/remove.svg" alt=""></button>
        </div>
      </div>
    </div>
    <div class="row col-11">
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'7'"
                       [inputFormControl]="contractorsNameFormControl"></app-input-style>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'8'"
                       [inputFormControl]="ContractorsFirstAndLastNameFormControl"></app-input-style>
    </div>
    <div class="col-1">
      <button *ngIf="contractorsNameFormControl.value && ContractorsFirstAndLastNameFormControl.value &&
                    contractorsNameFormControl.valid && ContractorsFirstAndLastNameFormControl.valid" class="button-add"><img src="../../../../../assets/image/createProject/add-icon.svg" alt=""
                                                                                                                              (click)="add(contractorsList,contractorsNameFormControl.value ,ContractorsFirstAndLastNameFormControl.value)"></button>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">assignment_ind</i>
      <h4 class="title-page d-inline set-font-Raymon">انتخاب مشاور</h4>
    </div>
    <div *ngIf="consultantList" class="col-11">
      <div *ngFor="let list5 of consultantList , let m = index" class="row my-2 lists">
        <div class="row col-11">
          <div class="col-6 my-auto">
                        <span class="d-inline">{{m+1}}.
                            نام کاربری :</span>
            <span class="d-inline">{{list5.userName}}</span>
          </div>
          <div class="col-6 my-auto">
            <span class="d-inline">نام و نام خانوادگی :</span>
            <span class="d-inline">{{list5.familyName}}</span>
          </div>
        </div>
        <div class="col-1 pt-1">
          <button (click)="remove(consultantList ,m)" class="remove-button"><img src="../../../../../assets/image/createProject/remove.svg" alt=""></button>
        </div>
      </div>
    </div>
    <div class="row col-11">
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'9'"
                       [inputFormControl]="consultantNameFormControl"></app-input-style>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'10'"
                       [inputFormControl]="consultantFirstAndLastNameFormControl"></app-input-style>
    </div>
    <div class="col-1">
      <button *ngIf="consultantNameFormControl.value && consultantFirstAndLastNameFormControl.value &&
                    consultantNameFormControl.valid && consultantFirstAndLastNameFormControl.valid" class="button-add"
              (click)="add(consultantList,consultantNameFormControl.value ,consultantFirstAndLastNameFormControl.value)"><img src="../../../../../assets/image/createProject/add-icon.svg" alt=""></button>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">assignment_ind</i>
      <h4 class="title-page d-inline set-font-Raymon">انتخاب سرمایه گذار</h4>
    </div>
    <div *ngIf="investorList" class="col-11">
      <div *ngFor="let list5 of investorList , let m = index" class="row my-2 lists">
        <div class="row col-11">
          <div class="col-6 my-auto">
                        <span class="d-inline">{{m+1}}.
                            نام کاربری :</span>
            <span class="d-inline">{{list5.userName}}</span>
          </div>
          <div class="col-6 my-auto">
            <span class="d-inline">نام و نام خانوادگی :</span>
            <span class="d-inline">{{list5.familyName}}</span>
          </div>
        </div>
        <div class="col-1 pt-1">
          <button (click)="remove(investorList ,m)" class="remove-button"><img src="../../../../../assets/image/createProject/remove.svg" alt=""></button>
        </div>
      </div>
    </div>
    <div class="row col-11">
      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام کاربری'" [inputId]="'9'"
                       [inputFormControl]="investorNameFormControl"></app-input-style>

      <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-sm-6 co-12" [type]="'text'" [inputLabel]="'نام و نام خانوادگی'" [inputId]="'10'"
                       [inputFormControl]="investorFirstAndLastNameFormControl"></app-input-style>
    </div>
    <div class="col-1">
      <button *ngIf="investorNameFormControl.value && investorFirstAndLastNameFormControl.value &&
            investorNameFormControl.valid && investorFirstAndLastNameFormControl.valid" class="button-add"
              (click)="add(investorList,investorNameFormControl.value ,investorFirstAndLastNameFormControl.value)"><img src="../../../../../assets/image/createProject/add-icon.svg" alt=""></button>
    </div>

  </div>

  <div class="row col-12 my-2" style="direction: ltr;">
    <button type="button" class="ok-button">
      <img src="../../../../../assets/image/createProject/ok-button.svg" alt="">
    </button>
  </div>
</div>
