@import "../../../../assets/style/colorPalette";
.icon-size {
  width: 18px;
}

.button-size {
  width: 40px;
  float: left;
}

.company-detail {
  font-size: 14px;
  color: $text-color-normal;
}
