<div class="row px-0 px-sm-4 d-rtl mx-auto d-flex justify-content-center">
  <div class="col-12 col-lg-6 mx-auto mt-4">
    <app-advanced-search-according-to-progress [companyIndex]="1"></app-advanced-search-according-to-progress>
  </div>
  <div class="col-12 col-lg-6 mx-auto mt-4">
    <app-advanced-search-according-to-progress [companyIndex]="0"></app-advanced-search-according-to-progress>
  </div>
</div>
<div class="p-2 d-flex justify-content-center set-font-vazir text-center more-button mx-auto" (click)="goToAllChart()">بیشتر</div>
