@import "../../../../../assets/style/colorPalette";
.disabled-input {
  color: $side-bar-color;
  border-bottom: 2px dashed $side-bar-color;
  text-align: right;
  height: 30px;
}

.remove-icon {
  position: absolute;
  left: 60px;
  bottom: -20px;
}
.select-container {
  height: 20px;
  text-align: right;
}
