
      <div class="bg-levels mx-4 mt-2">
        <div class="row">
          <div class="col-12">
            <i class="material-icons d-inline icon-styles">outdoor_grill</i>
            <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی رفع حاشیه نشینی</h4>
          </div>
          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">مسجد : </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'numberMosques'" [type]="'number'" [inputFormControl]="numberMosques"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'متراژ'" [inputId]="'meterageMosques'" [inputFormControl]="meterageMosques"></app-input-style>
    
          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">مدرسه : </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'numberSchool'" [type]="'number'" [inputFormControl]="numberMosques"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'متراژ'" [inputId]="'meterageSchool'" [inputFormControl]="meterageSchool"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد کلاس'" [inputId]="'numberClass'" [type]="'number'" [inputFormControl]="numberClass"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد تخمینی دانش آموزان'" [inputId]="'estimatedNumberOfStudents'" [type]="'number'" [inputFormControl]="estimatedNumberOfStudents"></app-input-style>


          <div class="col-md-3 mt-5">
            <h4 class="title-page d-inline set-font-Raymon px-2">پارک : </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-9 col-12" [inputLabel]="'متراژ'" [inputId]="'meteragePark'" [inputFormControl]="meteragePark"></app-input-style>

          <section class="example-section text-end mt-3">
            <mat-checkbox class="example-margin set-font-vazir col-md-6 col-12"><label class="mat-checkbox-label">سرویس بهداشتی</label></mat-checkbox>
            <mat-checkbox class="example-margin set-font-vazir col-md-6 col-12"><label class="mat-checkbox-label">امکانات ورزشی</label></mat-checkbox>
            <mat-checkbox class="example-margin set-font-vazir col-md-6 col-12 mt-1"><label class="mat-checkbox-label">وسایل بازی کودکان</label></mat-checkbox>
            <mat-checkbox class="example-margin set-font-vazir col-md-6 col-12 mt-1"><label class="mat-checkbox-label">نگهبان/پارکبان</label></mat-checkbox>
          </section>

          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">درمانگاه : </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'متراژ'" [inputId]="'meterageClinic'" [inputFormControl]="meterageClinic"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد دکتر'" [inputId]="'numberDoctors'" [type]="'number'" [inputFormControl]="numberDoctors"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد طبقات'" [inputId]="'NumberOfFloors'" [type]="'number'" [inputFormControl]="NumberOfFloors"></app-input-style>
          <app-input-style (click)="goOnMap()" [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'موقعیت در نقشه'" [inputId]="'4'"
            [inputFormControl]="LocationFormControl"></app-input-style>

        </div>

        <div class="row col-12 my-2 d-ltr">
          <button type="button" class="ok-button">
            <img src="../../../../../assets/image/createProject/ok-button.svg" alt="">
          </button>
        </div>

      </div>