<div class="row">
  <div class="col-12 col-sm-6 px-3 mx-auto">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">پیشرفت پروژ ها شرکت 1</p>
      <div echarts [options]="options" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 px-3 mt-3 mt-sm-0 mx-auto">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">پیشرفت پروژ ها شرکت 2</p>
      <div echarts [options]="options" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 px-3 mx-auto mt-3">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">پیشرفت پروژ ها شرکت 4</p>
      <div echarts [options]="options" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 px-3 mx-auto mt-3">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">پیشرفت پروژ ها شرکت 5</p>
      <div echarts [options]="options" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 px-3 mx-auto mt-3">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">پیشرفت پروژ ها شرکت 6</p>
      <div echarts [options]="options" class="demo-chart"></div>
    </div>
  </div>
  <div class="col-12 col-sm-6 px-3 mx-auto mt-3">
    <div class="container-chart boxShadow p-2">
      <p class="title-chart set-font-vazir py-3">پیشرفت پروژ ها شرکت 7</p>
      <div echarts [options]="options" class="demo-chart"></div>
    </div>
  </div>
</div>

