
      <div class="bg-levels mx-4 mt-2">
        <div class="row">
          <div class="col-12">
            <i class="material-icons d-inline icon-styles">public</i>
            <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی تحول اجتماعی</h4>
          </div>
          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">اعتیاد : </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد معرفی به کمپ'" [inputId]="'numberIntroduction'" [type]="'number'" [inputFormControl]="numberIntroduction"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'بودجه مورد نظر'" [inputId]="'campBudget'" [type]="'number'" [inputFormControl]="campBudget"></app-input-style>

          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">ساخت کمپ : </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'numberCamp'" [type]="'number'" [inputFormControl]="numberCamp"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'ظرفیت بیمار یا معتاد'" [inputId]="'Capacity'" [type]="'number'" [inputFormControl]="Capacity"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد طبقات'" [inputId]="'numberFloors'" [type]="'number'" [inputFormControl]="numberFloors"></app-input-style>

          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">طلاق : </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد کارگاه مشاور'" [inputId]="'consultantWorkshops'" [type]="'number'" [inputFormControl]="consultantWorkshops"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'حجم تسهیلات اعطایی'" [inputId]="'amountDivorceGivenFacilities'" [type]="'number'" [inputFormControl]="amountDivorceGivenFacilities"></app-input-style>

          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">زندانیان غیرعمد : </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد پابندهای الکتریکی'" [inputId]="'numberElectricalBonds'" [type]="'number'" [inputFormControl]="numberElectricalBonds"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه یا بودجه'" [inputId]="'prisonerBudget'" [type]="'number'" [inputFormControl]="prisonerBudget"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'حجم تسهیلات اعطایی'" [inputId]="'amountPrisonerGivenFacilities'" [type]="'number'" [inputFormControl]="amountPrisonerGivenFacilities"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'نوع جرم جهت آزادی'" [inputId]="'typeCrime'" [inputFormControl]="typeCrime"></app-input-style>

          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2"> توان خواه: </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های دارویی'" [inputId]="'numberDrugPackages'" [type]="'number'" [inputFormControl]="numberDrugPackages"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه مورد نظر بسته ها'" [inputId]="'packagesCost'" [type]="'number'" [inputFormControl]="packagesCost"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'نوع وسایل توان خواه'" [inputId]="'typeTools'" [inputFormControl]="typeTools"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'numberTools'" [type]="'number'" [inputFormControl]="numberTools"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه های وسایل'" [inputId]="'costTools'" [type]="'number'" [inputFormControl]="costTools"></app-input-style>

          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2"> بازماندگان از تحصیل: </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های آموزشی'" [inputId]="'numberEducationalPackages'" [type]="'number'" [inputFormControl]="numberEducationalPackages"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه مورد نظر جهت آموزش'" [inputId]="'costEducational'" [type]="'number'" [inputFormControl]="costEducational"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد افراد تحت پوشش'" [inputId]="'numberPeopleCovered'" [type]="'number'" [inputFormControl]="numberPeopleCovered"></app-input-style>

          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2"> دهک بندی: </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های معیشتی'" [inputId]="'numberSubsistencePackages'" [type]="'number'" [inputFormControl]="numberSubsistencePackages"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه مورد نظر'" [inputId]="'costSubsistencePackages'" [type]="'number'" [inputFormControl]="costSubsistencePackages"></app-input-style>

          <br>
          <div class="col-md-3 col-12 mt-5">
            <h4 class="title-page d-inline set-font-Raymon px-2"> کودکان کار: </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-9 col-12" [inputLabel]="'تعداد کودکان تحت پوشش'" [inputId]="'numberChildrenCovered'" [type]="'number'" [inputFormControl]="numberChildrenCovered"></app-input-style>

          <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">  بیماران خاص: </h4>
          </div>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های دارویی'" [inputId]="'numberDrugPackagesSpecificPatients'" [type]="'number'" [inputFormControl]="numberDrugPackagesSpecificPatients"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'حجم تسهیلات درمانی'" [inputId]="'volumeTreatmentFacilities'" [type]="'number'" [inputFormControl]="volumeTreatmentFacilities"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بیماران هدف جهت پوشش'" [inputId]="'numberTargetPatients'" [type]="'number'" [inputFormControl]="numberTargetPatients"></app-input-style>

        </div>

        <div class="row col-12 my-2" style="direction: ltr;">
          <button type="button" class="ok-button" [disabled]="!checkValidation()">
              <img src="../../../../assets/image/createProject/ok-button.svg" class="opacity-light {{checkValidation() ? 'opacity-bold':''}}" alt="">
          </button>
      </div>

      </div>
