
      <div class="bg-levels mx-4 mt-2">
        <div class="row">
          <div class="col-12">
            <i class="material-icons d-inline icon-styles">public</i>
            <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی تحول اجتماعی</h4>
          </div>

          <label id="example-radio-group-label" class="mt-3 mb-2 set-font-vazir title-page">حوزه پروژه :</label>
          <section class="example-section text-end">
            <mat-checkbox class="example-margin set-font-vazir mx-2" (click)="setProjectSocial(0)">
              <label class="mat-checkbox-label">اعتیاد</label>
            </mat-checkbox>

            <mat-checkbox class="example-margin set-font-vazir mx-2" (click)="setProjectSocial(1)">
              <label class="mat-checkbox-label">ساخت کمپ</label>
            </mat-checkbox>

            <mat-checkbox class="example-margin set-font-vazir mx-2" (click)="setProjectSocial(2)">
              <label class="mat-checkbox-label">طلاق</label>
            </mat-checkbox>

            <mat-checkbox class="example-margin set-font-vazir mx-2" (click)="setProjectSocial(3)">
              <label class="mat-checkbox-label">زندانیان غیر عمد</label>
            </mat-checkbox>

            <mat-checkbox class="example-margin set-font-vazir mx-2" (click)="setProjectSocial(4)">
              <label class="mat-checkbox-label">توان خواه</label>
            </mat-checkbox>

            <mat-checkbox class="example-margin set-font-vazir mx-2" (click)="setProjectSocial(5)">
              <label class="mat-checkbox-label">بازماندگان از تحصیل</label>
            </mat-checkbox>

            <mat-checkbox class="example-margin set-font-vazir mx-2" (click)="setProjectSocial(6)">
              <label class="mat-checkbox-label">دهک بندی</label>
            </mat-checkbox>

            <mat-checkbox class="example-margin set-font-vazir mx-2" (click)="setProjectSocial(7)">
              <label class="mat-checkbox-label">کودکان کار</label>
            </mat-checkbox>

            <mat-checkbox class="example-margin set-font-vazir mx-2" (click)="setProjectSocial(8)">
              <label class="mat-checkbox-label">بیماران خاص</label>
            </mat-checkbox>
          </section>


          <div *ngIf="select0">
            <div *ngFor="let list0 of arrayList0 , let i = index" class="row">
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">اعتیاد : </h4>
              </div>
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
              </div>
              <mat-radio-group [value]="0"
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">احداث</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">تکمیل و توسعه</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
                  <span class="px-2">مرمت</span>
                </mat-radio-button>
              </mat-radio-group>

              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد معرفی به کمپ'" [inputId]="'numberIntroduction'" [type]="'number'" [inputFormControl]="numberIntroduction"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'بودجه مورد نظر'" [inputId]="'campBudget'" [type]="'number'" [inputFormControl]="campBudget"></app-input-style>
              <div *ngIf="i-1>=0" class="row mx-auto">
                <div class="mx-auto text-start" (click)="deleteList(arrayList0,i)">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                    </button>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto text-start" (click)="addList(arrayList0)">
                  <button class="button-add-activity">
                      <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                      mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن پروژه اعتیاد جدید">
                  </button>
              </div>
            </div>
          </div>

          <div *ngIf="select1">
            <div *ngFor="let list1 of arrayList1 , let j = index" class="row">
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">ساخت کمپ : </h4>
              </div>
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
              </div>
              <mat-radio-group [value]="0"
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">احداث</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">تکمیل و توسعه</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
                  <span class="px-2">مرمت</span>
                </mat-radio-button>
              </mat-radio-group>

              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'numberCamp'" [type]="'number'" [inputFormControl]="numberCamp"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'ظرفیت بیمار یا معتاد'" [inputId]="'Capacity'" [type]="'number'" [inputFormControl]="Capacity"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد طبقات'" [inputId]="'numberFloors'" [type]="'number'" [inputFormControl]="numberFloors"></app-input-style>
              <div *ngIf="j-1>=0" class="row mx-auto">
                <div class="mx-auto text-start" (click)="deleteList(arrayList1,j)">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                    </button>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto text-start" (click)="addList(arrayList1)">
                  <button class="button-add-activity">
                      <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                      mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن کارگاه جدید">
                  </button>
              </div>
            </div>
          </div>
          
          <div *ngIf="select2">
            <div *ngFor="let list2 of arrayList2 , let k = index" class="row">
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">طلاق : </h4>
              </div>
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
              </div>
              <mat-radio-group [value]="0"
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">احداث</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">تکمیل و توسعه</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
                  <span class="px-2">مرمت</span>
                </mat-radio-button>
              </mat-radio-group>

              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد کارگاه مشاور'" [inputId]="'consultantWorkshops'" [type]="'number'" [inputFormControl]="consultantWorkshops"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'حجم تسهیلات اعطایی'" [inputId]="'amountDivorceGivenFacilities'" [type]="'number'" [inputFormControl]="amountDivorceGivenFacilities"></app-input-style>
              <div *ngIf="k-1>=0" class="row mx-auto">
                <div class="mx-auto text-start" (click)="deleteList(arrayList2,k)">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                    </button>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto text-start" (click)="addList(arrayList2)">
                  <button class="button-add-activity">
                      <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                      mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن پروژه طلاق جدید">
                  </button>
              </div>
            </div>
          </div>
          
          <div *ngIf="select3">
            <div *ngFor="let list3 of arrayList3 , let l = index" class="row">
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">زندانیان غیرعمد : </h4>
              </div>
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
              </div>
              <mat-radio-group [value]="0"
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">احداث</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">تکمیل و توسعه</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
                  <span class="px-2">مرمت</span>
                </mat-radio-button>
              </mat-radio-group>

              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد پابندهای الکتریکی'" [inputId]="'numberElectricalBonds'" [type]="'number'" [inputFormControl]="numberElectricalBonds"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه یا بودجه'" [inputId]="'prisonerBudget'" [type]="'number'" [inputFormControl]="prisonerBudget"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'حجم تسهیلات اعطایی'" [inputId]="'amountPrisonerGivenFacilities'" [type]="'number'" [inputFormControl]="amountPrisonerGivenFacilities"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'نوع جرم جهت آزادی'" [inputId]="'typeCrime'" [inputFormControl]="typeCrime"></app-input-style>
              <div *ngIf="l-1>=0" class="row mx-auto">
                <div class="mx-auto text-start" (click)="deleteList(arrayList3,l)">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                    </button>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto text-start" (click)="addList(arrayList3)">
                  <button class="button-add-activity">
                      <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                      mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن پروژه زندانیان جدید">
                  </button>
              </div>
            </div>
          </div>

          <div *ngIf="select4">
            <div *ngFor="let list4 of arrayList4 , let m = index" class="row">
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2"> توان خواه: </h4>
              </div>
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
              </div>
              <mat-radio-group [value]="0"
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">احداث</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">تکمیل و توسعه</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
                  <span class="px-2">مرمت</span>
                </mat-radio-button>
              </mat-radio-group>

              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'number'" [type]="'number'" [inputFormControl]="number"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های دارویی'" [inputId]="'numberDrugPackages'" [type]="'number'" [inputFormControl]="numberDrugPackages"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه مورد نظر بسته ها'" [inputId]="'packagesCost'" [type]="'number'" [inputFormControl]="packagesCost"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'نوع وسایل توان خواه'" [inputId]="'typeTools'" [inputFormControl]="typeTools"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'numberTools'" [type]="'number'" [inputFormControl]="numberTools"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه های وسایل'" [inputId]="'costTools'" [type]="'number'" [inputFormControl]="costTools"></app-input-style>
              <div *ngIf="m-1>=0" class="row mx-auto">
                <div class="mx-auto text-start" (click)="deleteList(arrayList4,m)">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                    </button>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto text-start" (click)="addList(arrayList4)">
                  <button class="button-add-activity">
                      <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                      mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن توان خواه جدید">
                  </button>
              </div>
            </div>
          </div>
          
          <div *ngIf="select5">
            <div *ngFor="let list5 of arrayList5 , let n = index" class="row">
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2"> بازماندگان از تحصیل: </h4>
              </div>
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
              </div>
              <mat-radio-group [value]="0"
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">احداث</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">تکمیل و توسعه</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
                  <span class="px-2">مرمت</span>
                </mat-radio-button>
              </mat-radio-group>

              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'number1'" [type]="'number'" [inputFormControl]="number1"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های آموزشی'" [inputId]="'numberEducationalPackages'" [type]="'number'" [inputFormControl]="numberEducationalPackages"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه مورد نظر جهت آموزش'" [inputId]="'costEducational'" [type]="'number'" [inputFormControl]="costEducational"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد افراد تحت پوشش'" [inputId]="'numberPeopleCovered'" [type]="'number'" [inputFormControl]="numberPeopleCovered"></app-input-style>
              <div *ngIf="n-1>=0" class="row mx-auto">
                <div class="mx-auto text-start" (click)="deleteList(arrayList5,n)">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                    </button>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto text-start" (click)="addList(arrayList5)">
                  <button class="button-add-activity">
                      <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                      mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن پروژه بازماندگان جدید">
                  </button>
              </div>
            </div>
          </div>
          
          <div *ngIf="select6">
            <div *ngFor="let list6 of arrayList6 , let p = index" class="row">
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2"> دهک بندی: </h4>
              </div>
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
              </div>
              <mat-radio-group [value]="0"
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">احداث</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">تکمیل و توسعه</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
                  <span class="px-2">مرمت</span>
                </mat-radio-button>
              </mat-radio-group>

              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'number2'" [type]="'number'" [inputFormControl]="number2"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های معیشتی'" [inputId]="'numberSubsistencePackages'" [type]="'number'" [inputFormControl]="numberSubsistencePackages"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'هزینه مورد نظر'" [inputId]="'costSubsistencePackages'" [type]="'number'" [inputFormControl]="costSubsistencePackages"></app-input-style>
              <div *ngIf="p-1>=0" class="row mx-auto">
                <div class="mx-auto text-start" (click)="deleteList(arrayList6,p)">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                    </button>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto text-start" (click)="addList(arrayList6)">
                  <button class="button-add-activity">
                      <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                      mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن دهک بندی جدید">
                  </button>
              </div>
            </div>
          </div>

          <div *ngIf="select7">
            <div *ngFor="let list7 of arrayList7 , let r = index" class="row">
              <div class="col-12 mt-5">
                <h4 class="title-page d-inline set-font-Raymon px-2"> کودکان کار: </h4>
              </div>
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
              </div>
              <mat-radio-group [value]="0"
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">احداث</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">تکمیل و توسعه</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
                  <span class="px-2">مرمت</span>
                </mat-radio-button>
              </mat-radio-group>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'number3'" [type]="'number'" [inputFormControl]="number3"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-9 col-12" [inputLabel]="'تعداد کودکان تحت پوشش'" [inputId]="'numberChildrenCovered'" [type]="'number'" [inputFormControl]="numberChildrenCovered"></app-input-style>
              <div *ngIf="r-1>=0" class="row mx-auto">
                <div class="mx-auto text-start" (click)="deleteList(arrayList7,r)">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                    </button>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto text-start" (click)="addList(arrayList7)">
                  <button class="button-add-activity">
                      <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                      mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن کودکان کار جدید">
                  </button>
              </div>
            </div>
          </div>

          <div *ngIf="select8">
            <div *ngFor="let list8 of arrayList8 , let d = index" class="row">
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">  بیماران خاص: </h4>
              </div>
              <div class="col-12 mt-2">
                <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
              </div>
              <mat-radio-group [value]="0"
                class="example-radio-group font-size-small">
                <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                  <span class="px-2">احداث</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                  <span class="px-2">تکمیل و توسعه</span>
                </mat-radio-button>
                <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
                  <span class="px-2">مرمت</span>
                </mat-radio-button>
              </mat-radio-group>

              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'" [inputId]="'number4'" [type]="'number'" [inputFormControl]="number4"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های دارویی'" [inputId]="'numberDrugPackagesSpecificPatients'" [type]="'number'" [inputFormControl]="numberDrugPackagesSpecificPatients"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'حجم تسهیلات درمانی'" [inputId]="'volumeTreatmentFacilities'" [type]="'number'" [inputFormControl]="volumeTreatmentFacilities"></app-input-style>
              <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بیماران هدف جهت پوشش'" [inputId]="'numberTargetPatients'" [type]="'number'" [inputFormControl]="numberTargetPatients"></app-input-style>
              <div *ngIf="d-1>=0" class="row mx-auto">
                <div class="mx-auto text-start" (click)="deleteList(arrayList8,d)">
                    <button class="button-add-activity">
                        <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                        mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                    </button>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="mx-auto text-start" (click)="addList(arrayList8)">
                  <button class="button-add-activity">
                      <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                      mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیماران خاص جدید">
                  </button>
              </div>
            </div>
          </div>
        </div>

        <div class="my-2" style="direction: ltr;">
          <button type="button" class="ok-button-text opacity-light px-4 py-2 {{checkValidation() ? 'opacity-bold':''}}" [disabled]="!checkValidation()">
              تایید و ادامه
          </button>
        </div>

      </div>
