<div class="wrapper">
  <app-display-user-path [path1]="path1" [path2]="path2"></app-display-user-path>
  <div class="row">
    <div class="col-12 col-md-3 px-2">
      <div class="content-filter">
        <p class="set-font-Raymon text-center py-3 title-filter">فیلتر ها</p>
        <hr class="opacity-hr">
<!--        <div class="mt-2 set-font-vazir row">
            <div class="filter-type py-2">وضعیت پروژه</div>
            <div class="filter-type py-2">زمان شروع</div>
            <div class="filter-type py-2">زمان خاتمه</div>
            <div class="filter-type py-2">نام شرکت</div>
            <div class="filter-type py-2">هزینه زیرساخت</div>
            <div class="filter-type py-2">هزینه منابع انسانی</div>
            <div class="filter-type py-2">هزینه کل</div>
            <div class="filter-type py-2">نوع پروژه</div>
            <div class="filter-type py-2">منطقه جفرافیایی</div>
        </div>-->


        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="filter-type set-font-vazir">
                وضعیت پروژه
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="filter-type set-font-vazir">
                زمان شروع
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="filter-type set-font-vazir">
                زمان خاتمه
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="filter-type set-font-vazir">
                نام شرکت
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="filter-type set-font-vazir">
                هزینه زیرساخت
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="filter-type set-font-vazir">
                نوع پروژه
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="filter-type set-font-vazir">
                هزینه کل
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="filter-type set-font-vazir">
                هزینه منابع انسانی
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="filter-type set-font-vazir">
                منطقه جفرافیایی
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>





        </mat-accordion>
      </div>
    </div>
    <div class="col-12 col-md-9"></div>
  </div>
</div>
