<div class="wrapper">
  <app-display-user-path [path1]="path1" [path2]="path2"></app-display-user-path>

  <div class="wrapper-content">
    <div class="row">
      <div class="col-12 col-lg-3">
        <app-filter-side-bar
        (projectStatus)="setProjectState($event)"
        (startTimeOfProjectUpperBound)="setEndTime($event)"
        (startTimeOfProjectLowerBound)="setStartTime($event)"
        ></app-filter-side-bar>
      </div>
      <div class="col-12 col-lg-9">
        <div class="row">
          <div class="col-12 {{currentUserIsAdmin? 'col-md-6' : '' }}">
            <!--
            <mat-form-field class="mat-form-field-infix w-100" appearance="fill">
              <mat-label class="font-weight-bold set-font-vazir">نمایش گزارش بر اساس</mat-label>
              <mat-select class="text-right set-font-vazir">
                <mat-option (click)="setReportState(0)" class="text-right set-font-vazir">
                  پیشرفت پروژه ها
                </mat-option>
                <mat-option (click)="setReportState(1)" class="text-right set-font-vazir">
                  هزینه ها
                </mat-option>
                <mat-option (click)="setReportState(2)" class="text-right set-font-vazir">
                  زمانبندی پروژه ها
                </mat-option>
                <mat-option (click)="setReportState(3)" class="text-right set-font-vazir">
                  دریافتی ها و مانده حساب
                </mat-option>
              </mat-select>
            </mat-form-field>
            -->

            <app-drop-down-company-list *ngIf="currentUserIsAdmin"></app-drop-down-company-list>

          </div>
          <div class="col-12 {{currentUserIsAdmin? 'col-md-6' : '' }}">
            <mat-radio-group class="example-radio-group font-size-small">
              <mat-label class="font-weight-bold set-font-vazir px-4 title-check-box">نوع نمایش</mat-label>
              <mat-radio-button (click)="changeShowChart(true)" class="px-1 example-radio-button set-font-vazir text-right mt-3" [value]="0">
                <span class="px-2">نموداری</span>
              </mat-radio-button>
              <mat-radio-button [checked]="true" (click)="changeShowChart(false)" class="px-1 example-radio-button set-font-vazir text-right mt-3" [value]="1">
                <span class="px-2">داده ها</span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="mt-3" *ngIf="!showChart">
          <app-advanced-search-according-to-company></app-advanced-search-according-to-company>
        </div>
        <div class="row mt-3" *ngIf="showChart">
          <app-advanced-search-according-to-cost [projectList]="projectList"></app-advanced-search-according-to-cost>
          <app-advanced-search-according-to-time [projectList]="projectList"></app-advanced-search-according-to-time>

          <!--
          <app-advanced-search-according-to-progress *ngIf="reportState == 0"></app-advanced-search-according-to-progress>
          <app-advanced-search-according-to-time *ngIf="reportState == 2"></app-advanced-search-according-to-time>
          <app-advanced-search-according-to-allocation *ngIf="reportState == 3"></app-advanced-search-according-to-allocation>
          -->

        </div>
      </div>
      </div>
    </div>
  </div>
