@import "../../../../assets/style/colorPalette";

.content-filter {
  width: 100%;
  border-radius: 7px;
  background-color: $lite-yellow-back-ground;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}
.title-filter {
  font-size: 20px;
  color: $dark-back-ground;
}
.filter-type {
  font-size: 16px;
  color: $text-color-normal;
}

::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

::ng-deep.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
  background-color: rgba($color: #D1B6E1, $alpha: 0.3);
}
.title-check-box {
  color: $dark-back-ground;
}
