<div class="wrapper set-font-vazir">
    <div class="col-12">
        <app-display-user-path [path1]="path1" [path2]="path2"></app-display-user-path>
    </div>
    <div *ngIf="userList" class="col-12 mx-auto px-5">
        <div *ngFor="let user of userList" class="row list-result-project set-font-vazir py-1">
            <div class="col-12 col-sm-3 text-sm-end text-center">
                <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
                <span>{{user.userName}}</span>
            </div>
            <div class="col-12 col-md-3 my-auto text-right">{{getUserRole(user.roleNames)}}</div>
            <div class="col-12 col-md-3 my-auto text-center py-sm-0 py-2">{{user.userIsActivated ? 'فعال' : 'غیر فعال'}}</div>
            <div class="col-12 col-md-3 my-auto text-sm-start text-center">{{user.createDate.timeInterval}}</div>
        </div>

    </div>
</div>
<button class="button-add-user p-0 m-0" (click)="openMdalAddUser();">
    <i class="material-icons icon-lockes add-user-icon m-0 p-0">add_circle</i>
</button>
<app-add-user-modal></app-add-user-modal>
