@import "../role-management-users/role-management-users.component.scss";

.button-add-user{
    background: transparent;
    border: none;
    border-radius: 100%;
    position: fixed;
    bottom: 10px;
    left: 20px;
    transition: ease-in-out all 0.5s;
    z-index: 1;
    &:hover{
        bottom: 20px;
        transition: ease-in-out all 0.5s;
    }
}
.add-user-icon{
    font-size: 50px;
    color: $button-color;
    border-radius: 100%;
    padding: -2px !important;
    box-shadow: 0px 0px 3px 0px $button-color;
}