@import "../../../../../../assets/style/colorPalette";
.doing-project {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background-color: $red-color;
}

.complete-project {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background-color: $green-color;
}
.company-profile {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
