<div class="row list-result-project set-font-vazir py-2 mt-2">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 font-weight-bold company-detail my-auto">
    <div class="d-flex">
      <img src="../../../../../../assets/image/workSpace/sakh3.jpg" class="company-profile boxShadow mt-1">
      <span class="px-2 my-auto">
            نام شرکت
      </span>
  </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex">
      <div class="doing-project mt-1"></div>
      <span class="px-2 company-detail">12 پروژه درحال انجام</span>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex">
      <div class="complete-project mt-1"></div>
      <span class="px-2 company-detail">12 پروژه تکمیل شده </span>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex my-auto justify-content-end">
      <img (click)="goProjectList()" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg" class="icon-short-cut-project"
      mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="پروژه ها">
    <img (click)="goUserList()" src="../../../../assets/icon/projectShortCut/Group 204.svg" class="icon-short-cut-project"
      mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="کاربران">
    <img src="../../../../assets/icon/projectShortCut/edit icon.svg" class="icon-short-cut-project"
      mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="ویرایش">
    <img (click)="goToWorkSpaceProfile()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
      mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
    </div>
  </div>
</div>

<div class="row list-result-project set-font-vazir py-2 mt-2">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 font-weight-bold company-detail my-auto">
    <div class="d-flex">
      <img src="../../../../../../assets/image/workSpace/sakh3.jpg" class="company-profile boxShadow mt-1">
      <span class="px-2 my-auto">
            نام شرکت
      </span>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex">
      <div class="doing-project mt-1"></div>
      <span class="px-2 company-detail">12 پروژه درحال انجام</span>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex">
      <div class="complete-project mt-1"></div>
      <span class="px-2 company-detail">12 پروژه تکمیل شده </span>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex my-auto justify-content-end">
      <img (click)="goProjectList()" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="پروژه ها">
      <img (click)="goUserList()" src="../../../../assets/icon/projectShortCut/Group 204.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="کاربران">
      <img src="../../../../assets/icon/projectShortCut/edit icon.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="ویرایش">
      <img (click)="goToWorkSpaceProfile()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
    </div>
  </div>
</div>


<div class="row list-result-project set-font-vazir py-2 mt-2">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 font-weight-bold company-detail my-auto">
    <div class="d-flex">
      <img src="../../../../../../assets/image/workSpace/sakh3.jpg" class="company-profile boxShadow mt-1">
      <span class="px-2 my-auto">
            نام شرکت
      </span>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex">
      <div class="doing-project mt-1"></div>
      <span class="px-2 company-detail">12 پروژه درحال انجام</span>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex">
      <div class="complete-project mt-1"></div>
      <span class="px-2 company-detail">12 پروژه تکمیل شده </span>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex my-auto justify-content-end">
      <img (click)="goProjectList()" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="پروژه ها">
      <img (click)="goUserList()" src="../../../../assets/icon/projectShortCut/Group 204.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="کاربران">
      <img src="../../../../assets/icon/projectShortCut/edit icon.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="ویرایش">
      <img (click)="goToWorkSpaceProfile()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
    </div>
  </div>
</div>


<div class="row list-result-project set-font-vazir py-2 mt-2">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 font-weight-bold company-detail my-auto">
    <div class="d-flex">
      <img src="../../../../../../assets/image/workSpace/sakh3.jpg" class="company-profile boxShadow mt-1">
      <span class="px-2 my-auto">
            نام شرکت
      </span>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex">
      <div class="doing-project mt-1"></div>
      <span class="px-2 company-detail">12 پروژه درحال انجام</span>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex">
      <div class="complete-project mt-1"></div>
      <span class="px-2 company-detail">12 پروژه تکمیل شده </span>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-auto">
    <div class="d-flex my-auto justify-content-end">
      <img (click)="goProjectList()" src="../../../../../../assets/icon/projectShortCut/Group%20201.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="پروژه ها">
      <img (click)="goUserList()" src="../../../../assets/icon/projectShortCut/Group 204.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="کاربران">
      <img src="../../../../assets/icon/projectShortCut/edit icon.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="ویرایش">
      <img (click)="goToWorkSpaceProfile()" src="../../../../assets/icon/projectShortCut/more.svg" class="icon-short-cut-project"
        mat-raised-button matTooltipClass="example-tooltip"[matTooltipPosition]="'above'" matTooltip="بیشتر">
    </div>
  </div>
</div>
