<div class="row">
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">water_drop</i>
      <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی آبخیز و قنوات</h4>
    </div>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'قابلیت مصرف'" [inputId]="'regionControl'" [inputFormControl]="regionControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'پایداری منابع'" [inputId]="'stabilityResourceControl'" [inputFormControl]="stabilityResourceControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'دبی فعلی'" [type]="'number'" [inputId]="'debeyControl'" [inputFormControl]="debeyControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'نوع مالکیت'" [inputId]="'ownerShipTypeControl'" [inputFormControl]="ownerShipTypeControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'نوع زمین'" [inputId]="'groundTypeControl'" [inputFormControl]="groundTypeControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'تجهیزات'" [inputId]="'requirement'" class="col-12 mt-2"
                           [inputFormControl]="equipmentControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'نیازمندی ها'" [inputId]="'equipment'" class="col-12 mt-2"
                           [inputFormControl]="requirementControl"></app-input-style>

    <app-dam *ngIf="damList.length!=0" [dam]="damList"></app-dam>
    <app-fountain *ngIf="FountainList.length!=0" [Fountain]="FountainList"></app-fountain>
    <app-distribution-network *ngIf="networkWater.length!=0" [network]="networkWater"></app-distribution-network>
    <app-purification *ngIf="RefineryList.length!=0" [RefineryList]="RefineryList"></app-purification>
    <app-source *ngIf="TankList.length!=0" [TankList]="TankList"></app-source>
    <app-transfer-line *ngIf="TransferLineList.length!=0" [TransferLine]="TransferLineList"></app-transfer-line>
    <app-water-seal *ngIf="DikeList.length!=0" [DikeList]="DikeList"></app-water-seal>
    <app-well *ngIf="PitWaterList.length!=0" [PitWaterList]="PitWaterList"></app-well>
    <app-pomp *ngIf="PumpStationList.length!=0" [Pump]="PumpStationList"></app-pomp>
