<div class="row">
  <div class="col-12">
    <!-- <button *ngIf="!edit" class="mx-auto float-left w-auto edit-button" (click)="editForm()">
      <i class="material-icons d-inline">edit</i>
    </button> -->
    <button class="mx-auto float-left w-auto edit-button" (click)="saved()">
      <i class="material-icons d-inline">check</i>
    </button>
  </div>
    <div class="col-12">
      <i class="material-icons d-inline icon-styles">water_drop</i>
      <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی آبخیز و قنوات</h4>
    </div>
    <div class="row">
      <div style="display: contents;">
        <span>چاه</span>
          <button style="background: transparent;border: none;border-radius: 100%;">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>چشمه</span>
          <button style="background: transparent;border: none;border-radius: 100%;">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>سد</span>
          <button style="background: transparent;border: none;border-radius: 100%;">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>شبکه توزیع</span>
          <button style="background: transparent;border: none;border-radius: 100%;">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>مخزن</span>
          <button style="background: transparent;border: none;border-radius: 100%;">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>ایستگاه پمپاژ</span>
          <button style="background: transparent;border: none;border-radius: 100%;">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>تصفیه خانه</span>
          <button style="background: transparent;border: none;border-radius: 100%;">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>خط انتقال</span>
          <button style="background: transparent;border: none;border-radius: 100%;">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>آب بند</span>
          <button style="background: transparent;border: none;border-radius: 100%;">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
    </div>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'قابلیت مصرف'" [inputId]="'regionControl'" [inputFormControl]="regionControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'پایداری منابع'" [inputId]="'stabilityResourceControl'" [inputFormControl]="stabilityResourceControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'دبی فعلی'" [type]="'number'" [inputId]="'debeyControl'" [inputFormControl]="debeyControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'نوع مالکیت'" [inputId]="'ownerShipTypeControl'" [inputFormControl]="ownerShipTypeControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'نوع زمین'" [inputId]="'groundTypeControl'" [inputFormControl]="groundTypeControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'تجهیزات'" [inputId]="'requirement'" class="col-12 mt-2"
                           [inputFormControl]="equipmentControl"></app-input-style>
    <app-input-style [inputCustomStyle]="inputCustomStyle" [inputLabel]="'نیازمندی ها'" [inputId]="'equipment'" class="col-12 mt-2"
                           [inputFormControl]="requirementControl"></app-input-style>

    <div *ngIf="!edit" class="row">
      <app-dam *ngIf="damList" [dam]="damList" [edit]="edit"></app-dam>
      <app-fountain *ngIf="FountainList" [Fountain]="FountainList" [edit]="edit"></app-fountain>
      <app-distribution-network *ngIf="networkWater" [network]="networkWater" [edit]="edit"></app-distribution-network>
      <app-purification *ngIf="RefineryList" [RefineryList]="RefineryList" [edit]="edit"></app-purification>
      <app-source *ngIf="TankList" [TankList]="TankList" [edit]="edit"></app-source>
      <app-transfer-line *ngIf="TransferLineList" [TransferLine]="TransferLineList" [edit]="edit"></app-transfer-line>
      <app-water-seal *ngIf="DikeList" [DikeList]="DikeList" [edit]="edit"></app-water-seal>
      <app-well *ngIf="PitWaterList" [PitWaterList]="PitWaterList" [edit]="edit"></app-well>
      <app-pomp *ngIf="PumpStationList" [Pump]="PumpStationList" [edit]="edit"></app-pomp>
    </div>
    
    <div *ngIf="edit" class="row">
      <app-dam [dam]="damList" [edit]="edit"></app-dam>
      <app-fountain [Fountain]="FountainList" [edit]="edit"></app-fountain>
      <app-distribution-network [network]="networkWater" [edit]="edit"></app-distribution-network>
      <app-purification [RefineryList]="RefineryList" [edit]="edit"></app-purification>
      <app-source [TankList]="TankList" [edit]="edit"></app-source>
      <app-transfer-line [TransferLine]="TransferLineList" [edit]="edit"></app-transfer-line>
      <app-water-seal [DikeList]="DikeList" [edit]="edit"></app-water-seal>
      <app-well [PitWaterList]="PitWaterList" [edit]="edit"></app-well>
      <app-pomp [Pump]="PumpStationList" [edit]="edit"></app-pomp>
    </div>
</div>