@import "../../../../../../../assets/style/base.scss";
@import "../../../../../../../assets/style/colorPalette.scss";

$color-table: rgba(256, 256, 256, 0.8);

.table-style{
    background-color: $color-table;
    color: $dark-back-ground;
    min-width: 600px;
}

.overflow-table{
    overflow-x: scroll;
}

.add-report {
    font-size: 30px;
    color: $text-color-normal;
    border-radius: 100%;
    padding: -2px !important;
}

.button-add-report{
    background: transparent;
    border: none;
    border-radius: 100%;
}