@import "./assets/style/colorPalette";
@font-face {
  font-family: Vazir;
  src:url('/assets/font/Vazir.ttf') format("truetype");
}

@font-face {
  font-family: Raymon;
  src:url('/assets/font/Raymon.ttf') format("truetype");
}
.opacity-hr { opacity: 0.1;}
.d-rtl {
  direction: rtl;
}
.d-ltr {
  direction: ltr;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.boxShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.set-font-Raymon {
  font-family: Raymon,Vazir, Arial, Helvetica, sans-serif !important;
}

.set-font-vazir {
  font-family: Vazir, Raymon, Arial, Helvetica, sans-serif !important;
}

.pointer {
  cursor: pointer;
}

.default {
   cursor: default;
}

.font-weight-bold {
 font-weight: bold;
}

.font-size-small {
  font-size: small;
}

html, body { height: 100% !important;}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: $active-yellow;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: $lite-yellow;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: $active-yellow-lite;
  bottom: -20px;
  right: -20px;
}


::-webkit-scrollbar {
  width: 10px;
  background: #519D9E;
}

::-webkit-scrollbar-track {
  background: #6c7979;
}

::-webkit-scrollbar-thumb {
  background: #3bd4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c7979;
}
