<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'وضعیت مخزن موجود'"
                 [inputId]="'resourceSaveWaterStateControl'" [inputFormControl]="sourceStateControl"></app-input-style>
<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'جنس مخزن '"
                 [inputId]="'resourceSaveWaterStateControl'" [inputFormControl]="sourceStaffControl"></app-input-style>
<app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'حجم مخزن '" [type]="'number'"
                 [inputId]="'resourceSaveWaterStateControl'" [inputFormControl]="sourceVolumeControl"></app-input-style>
