<div class="row">
    <div *ngFor="let list of TankWaterShedAndCanalsList , let i = index" class="row">
        <div class="col-12 my-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">مخزن : </h4>
        </div>

        <div class="col-12 mt-2">
            <h4 class="title-page1 d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
          </div>
          <mat-radio-group [value]="0"
            class="example-radio-group font-size-small">
            <mat-radio-button (click)="setTypeProject(0,i)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
              <span class="px-2">احداث</span>
            </mat-radio-button>
            <mat-radio-button (click)="setTypeProject(1,i)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
              <span class="px-2">تکمیل و توسعه</span>
            </mat-radio-button>
            <mat-radio-button (click)="setTypeProject(2,i)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
              <span class="px-2">مرمت</span>
            </mat-radio-button>
          </mat-radio-group>

        <!-- <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'تعداد'" [inputId]="'number'" [inputFormControl]="number"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'قابلیت مصرف'" [inputId]="'regionControl'" [inputFormControl]="regionControl"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12 mt-2" [inputLabel]="'پایداری منابع'" [inputId]="'stabilityResourceControl'" [inputFormControl]="stabilityResourceControl"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" [unit]="2" class="col-md-6 col-12 mt-2" [inputLabel]="'دبی فعلی'" [type]="'number'" [inputId]="'debeyControl'" [inputFormControl]="debeyControl"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12 mt-2" [inputLabel]="'نوع مالکیت'" [inputId]="'ownerShipTypeControl'" [inputFormControl]="ownerShipTypeControl"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12 mt-2" [inputLabel]="'نوع زمین'" [inputId]="'groundTypeControl'" [inputFormControl]="groundTypeControl"></app-input-style> -->

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'وضعیت مخزن موجود'"
                     [inputId]="'resourceSaveWaterStateControl'+i" [inputFormControl]="sourceStateControl[i]"
                     (changeValue)="setSourceState($event, i)"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12 mt-2" [inputLabel]="'جنس مخزن '"
                     [inputId]="'resourceSaveWaterStateControl'+i" [inputFormControl]="sourceStaffControl[i]"
                     (changeValue)="setSourceStaff($event, i)"></app-input-style>
        <app-input-style [inputCustomStyle]="inputCustomStyle" [unit]="2" class="col-12 mt-2" [inputLabel]="'حجم مخزن '" [type]="'number'"
                     [inputId]="'resourceSaveWaterStateControl'+i" [inputFormControl]="sourceVolumeControl[i]"
                     (changeValue)="setSourceVolume($event, i)"></app-input-style>

                     <div *ngIf="i-1>=0" class="row mx-auto">
                      <div class="mx-auto text-start" (click)="deleteList(i)">
                          <button class="button-add-activity">
                              <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                          </button>
                      </div>
                    </div>
    </div>

    <div class="row mx-auto">
        <div class="mx-auto text-start" (click)="addList()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن مخزن جدید">
            </button>
        </div>
      </div>
</div>
