<div class="row mx-auto">
    <div class="col-12 mx-auto">
        <div class="margin-right-steps">
            <div class="py-2 px-4 {{state==1 ? 'select-step':'steps'}}" (click)="selectSteps(1)">
                <span class="d-block text-nowrap text-center">اطلاعات اولیه</span>
             </div>
             <div class="border-step"></div>
             <div class="py-2 px-3 {{state==7 ? 'select-step':'steps'}}" (click)="selectSteps(7)">
                 <span class="d-block text-nowrap text-center">شناسه تخصصی</span>
             </div>
             <div class="border-step"></div>
             <div class="py-2 px-4 {{state==2 ? 'select-step':'steps'}}" (click)="selectSteps(2)">
                 <span class="d-block text-nowrap text-center"> ذی نفعان</span>
             </div>
             <div class="border-step"></div>
             <div class="py-2 px-4 {{state==3 ? 'select-step':'steps'}}" (click)="selectSteps(3)">
                 <span class="d-block text-nowrap text-center"> منابع بازیابی</span>
             </div>
             <div class="border-step"></div>
             <div class="py-2 px-4 {{state==4 ? 'select-step':'steps'}}" (click)="selectSteps(4)">
                 <span class="d-block text-nowrap text-center">افزودن فعالیت</span>
             </div>
             <div class="border-step"></div>
             <div class="py-2 px-4 {{state==5 ? 'select-step':'steps'}}" (click)="selectSteps(5)">
                 <span class="d-block text-nowrap text-center"> آپلود تصاویر</span>
             </div>
             <div class="border-step"></div>
             <div class="py-2 px-4 {{state==6 ? 'select-step':'steps'}}" (click)="selectSteps(6)">
                 <span class="d-block text-nowrap text-center"> گزارش ها</span>
             </div>
        </div>
    </div>
</div>
