<div class="row mx-auto">
    <div class="col-12 mx-auto">
        <div class="margin-right-steps">
            <div class="py-2 px-4 select-step">
                <span class="d-block text-nowrap text-center">اطلاعات اولیه</span>
             </div>
             <div class="border-step"></div>
             <div class="steps py-2 px-4">
                 <span class="d-block text-nowrap text-center">مدیریت ذی نفعان</span>
             </div>
             <div class="border-step"></div>
             <div class="steps py-2 px-4">
                 <span class="d-block text-nowrap text-center"> منابع بازیابی</span>
             </div>
             <div class="border-step"></div>
             <div class="steps py-2 px-4">
                 <span class="d-block text-nowrap text-center">افزودن فعالیت</span>
             </div>
             <div class="border-step"></div>
             <div class="steps py-2 px-4">
                 <span class="d-block text-nowrap text-center"> آپلود تصاویر</span>
             </div>
             <div class="border-step"></div>
             <div class="steps py-2 px-4">
                 <span class="d-block text-nowrap text-center"> گزارش پیشرفت</span>
             </div>
             <div class="border-step"></div>
             <div class="steps py-2 px-4">
                 <span class="d-block text-nowrap text-center">گزارش تخصیص</span>
             </div>
        </div>
    </div>
</div>