@import "../../../../assets/style/colorPalette";

.quick-access-card {
  height: 200px;
  border-radius: 15px;
  background-color: $lite-yellow;
  position: relative;
  padding-right: 130px;
  padding-top: 10px;
  min-width: 400px;
  @media (max-width: 1100px) {
    padding-right: 110px;
    min-width: 350px;
  }
}
.quick-access-card-company {
  height: 200px;
  border-radius: 15px;
  background-color: $lite-yellow;
  position: relative;
  padding-right: 130px;
  padding-top: 10px;
  min-width: 450px;
  @media (max-width: 1100px) {
    padding-right: 110px;
    min-width: 350px;
  }
}

.img-quick-access-card {
  position: absolute;
  right: -60px;
  bottom: 15px;
  border: solid 12px $general-back-ground-color;
  height: 200px;
  width: 200px;
  border-radius: 300px;
  @media (max-width: 1100px) {
    height: 160px;
    width: 160px;
    border: solid 8px $general-back-ground-color;
  }
}
.black-glass-quick-access-card {
  background-color: rgba(0,0,0,0.35);
  position: absolute;
  right: -60px;
  bottom: 15px;
  border: solid 12px $general-back-ground-color;
  height: 200px;
  width: 200px;
  border-radius: 300px;
  @media (max-width: 1100px) {
    height: 160px;
    width: 160px;
    border: solid 8px $general-back-ground-color;
  }
}
.title-card {
  font-size: 28px;
  margin-top: 79px;
  @media (max-width: 1100px) {
    font-size: 22px;
  }
}
.margin-top {
  padding-top: 130px;
  padding-right: 110px;
}

.option-in-card {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: $text-color-normal;
}

.sub-menu-text {
  font-size: 19px;
  color: $dark-back-ground;
  cursor: pointer;
}
.m-r-1 {margin-right: 20px}
.m-r-2 {margin-right: 30px}
.m-r-3 {margin-right: 2px}
