@import "../../../../assets/style/colorPalette";

.lite-part {
  padding-right: 20px;
  padding-top: 20px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.dark-part {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: $text-color-normal;
}
.quick-access-card {
  height: 200px;
  border-radius: 15px;
}
.quick-access-card-company {
  height: 200px;
  border-radius: 15px;
  background-color: $lite-yellow;
  position: relative;
  padding-right: 130px;
  padding-top: 10px;
  min-width: 450px;
  @media (max-width: 1100px) {
    padding-right: 110px;
    min-width: 350px;
  }
}

.img-quick-access-card {
  height: 130px;
  width: 130px;
  margin-top: 15px;
}
.title-card {
  font-size: 28px;
  margin-top: 10px;
  @media (max-width: 1100px) {
    font-size: 22px;
  }
}

.number-style{
  background-color: $active-yellow;
  border-radius: 5px;
  color: white;
}

.margin-top {
  padding-top: 130px;
  padding-right: 110px;
}

.option-in-card {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: $text-color-normal;
}

.sub-menu-text {
  font-size: 16px;
  color: $dark-back-ground;
  cursor: pointer;
}
.m-r-1 {margin-right: -5px}
.m-r-2 {margin-right: 23px}
.m-r-3 {margin-right: 25px}
.m-r-4 {margin-right: 7px}
