@import "../../../../assets/style/colorPalette";
.parent-rout {
  font-size: medium;
  color: $dark-back-ground;
}

.current-rout {
  font-size: medium;
  color: $dark-back-ground;
  font-weight: bold;
}

.arrow-icon {
  width: 18px;
  height: 18px;
}

.container-routs {
  padding-bottom: 30px;
}

.content-routs {
  width: 100%;
  border-radius: 7px;
  background-color: $lite-yellow-back-ground;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}
.wrapper-rout{
  margin-right: 25px;
  margin-left: 20px;
  direction: rtl;
  @media(max-width:500px){
    margin-left: 0px;
  }
}
.back-icon {
  width: 50px;
  height: 50px;
}
