@import "../../../../assets/style/colorPalette";
.parent-rout {
  font-size: medium;
  color: $dark-back-ground;
  @media(max-width: 600px){
    font-size: 12px;
  }
}

.current-rout {
  font-size: medium;
  color: $dark-back-ground;
  font-weight: bold;
  @media(max-width: 600px){
    font-size: 12px;
  }
}

.arrow-icon {
  width: 8px;
  height: 20px;
}

.container-routs {
  padding-bottom: 30px;
}

.content-routs {
  width: 100%;
  border-radius: 7px;
  background-color: $lite-yellow-back-ground;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}
.wrapper-rout{
  margin-right: 25px;
  margin-left: 20px;
  direction: rtl;
  @media(max-width:500px){
    margin-left: 0px;
  }
}
.back-icon {
  width: 50px;
  height: 50px;
  @media(max-width: 600px){
    width: 35px;
    height: 35px;
  }
}

.back-icon-container {
  position: relative;
  @media(max-width: 770px){
    position: absolute;
    top: 1px;
    left: -8px;
  }
}
