<div id="record-progress-report">
    <div class="modal-background d-ltr">
      <div class="modal">
        <div class="my-modal-content text-center mx-auto">
          <div class="modal-scroll">
            <div class="header-modal">
              <span class="mx-auto set-font-Raymon">ثبت پیشرفت گزارش</span>
            </div>
            <div class="row mt-5 mx-auto">
                <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'تاریخ ثبت نظر'" [inputId]="'1'"
                [inputFormControl]="recordDateFormControl"></app-input-style>
                <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'درصد پیشرفت مورد تایید'" [inputId]="'2'"
                [inputFormControl]="approvedProgressPercentageFormControl"></app-input-style>
                <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-12" [type]="'text'" [inputLabel]="'توضیحات'" [inputId]="'3'"
                [inputFormControl]="descreptionFormControl" [textarea]="true"></app-input-style>
            </div>
            <div class="row mx-auto mt-5">
                <button class="add-user-button-modal px-5 py-2 w-auto mx-auto ok-button-modal">ثبت</button>
            </div>
          </div>
          <span (click)="closeModal()" class="material-icons my-modal-cancel pointer">close</span>
        </div>
      </div>
    </div>
</div>