<div class="row">
  <div class="col-12">
    <!-- <button *ngIf="!edit" class="mx-auto float-left w-auto edit-button" (click)="editForm()">
      <i class="material-icons d-inline">edit</i>
    </button> -->
    <button class="mx-auto float-left w-auto edit-button" (click)="saved()">
      <i class="material-icons d-inline">check</i>
    </button>
  </div>
    <div class="col-12 my-2">
      <i class="material-icons d-inline icon-styles">public</i>
      <h4 class="title-page d-inline set-font-Raymon px-2">اطلاعات تخصصی تحول اجتماعی</h4>
    </div>

    <div class="row">
      <div style="display: contents;">
        <span>اعتیاد</span>
          <button style="background: transparent;border: none;border-radius: 100%;"(click)="addListAddicion()">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>ساخت کمپ</span>
          <button style="background: transparent;border: none;border-radius: 100%;"(click)="addListBuildingCamp()">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>طلاق</span>
          <button style="background: transparent;border: none;border-radius: 100%;"(click)="addListDivorce()">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>زندانیان غیر عمد</span>
          <button style="background: transparent;border: none;border-radius: 100%;"(click)="addListUnintentionalPrisoner()">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>بازماندگان از تحصیل</span>
          <button style="background: transparent;border: none;border-radius: 100%;"(click)="addListSocialTransformationBannedFromEducation()">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>دهک بندی</span>
          <button style="background: transparent;border: none;border-radius: 100%;"(click)="addListSocialTransformationSegmentation()">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
      <div style="display: contents;">
        <span>بیماران خاص</span>
          <button style="background: transparent;border: none;border-radius: 100%;"(click)="addListSocialTransformationSpecialPatient()">
              <img src="../../../../assets/image/createProject/add-icon.svg" alt="" style="width: 20px;"
              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیمارستان جدید">
          </button>
      </div>
    </div>

    <div *ngIf="arrayListAddicion.length!=0">
      <div *ngFor="let list0 of arrayListAddicion , let i = index" class="row">
        <div class="col-12 my-2">
          <h4 class="title-page d-inline set-font-Raymon px-2">اعتیاد : </h4>
        </div>
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد معرفی به کمپ'"
        [inputId]="'numberIntroduction' + i" [type]="'number'" [inputFormControl]="numberIntroduction[i]" (changeValue)="observeChangeNumberIntroduction($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [unit]="3" [inputLabel]="'بودجه مورد نظر'"
        [inputId]="'campBudget' + i" [type]="'number'" [inputFormControl]="campBudget[i]" (changeValue)="observeChangeCampBudget($event, i)"></app-input-style>

        <div *ngIf="i>=0" class="row mx-auto">
          <div class="mx-auto text-start" (click)="deleteListAddicion(i)">
              <button class="button-add-activity">
                  <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                  mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
              </button>
          </div>
        </div>
      </div>
      <!-- <div class="row mx-auto">
        <div class="mx-auto text-start" (click)="addListAddicion()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن پروژه اعتیاد جدید">
            </button>
        </div>
      </div> -->
    </div>

    <div *ngIf="arrayListBuildingCamp.length!=0">
      <div *ngFor="let list1 of arrayListBuildingCamp , let j = index" class="row">
        <div class="col-12 mt-2">
          <h4 class="title-page d-inline set-font-Raymon px-2">ساخت کمپ : </h4>
        </div>
        <div class="col-12 mt-2">
          <h4 class="title-page1 d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
        </div>
        <mat-radio-group [value]="0"
          class="example-radio-group font-size-small">
          <mat-radio-button (click)="setTypeProject(0)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
            <span class="px-2">احداث</span>
          </mat-radio-button>
          <mat-radio-button (click)="setTypeProject(1)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
            <span class="px-2">تکمیل و توسعه</span>
          </mat-radio-button>
          <mat-radio-button (click)="setTypeProject(2)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
            <span class="px-2">مرمت</span>
          </mat-radio-button>
        </mat-radio-group>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد'"
        [inputId]="'numberCamp' + j" [type]="'number'" [inputFormControl]="numberCamp[j]" (changeValue)="observeChange_numberCamp($event, j)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'ظرفیت بیمار یا معتاد'"
         [inputId]="'Capacity' + j" [type]="'number'" [inputFormControl]="Capacity[j]" (changeValue)="observeChange_Capacity($event, j)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد طبقات'"
         [inputId]="'numberFloors' + j" [type]="'number'" [inputFormControl]="numberFloors[j]" (changeValue)="observeChange_numberFloors($event, j)"></app-input-style>

        <div *ngIf="j>=0" class="row mx-auto">
          <div class="mx-auto text-start" (click)="deleteListBuildingCamp(j)">
              <button class="button-add-activity">
                  <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                  mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
              </button>
          </div>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="mx-auto text-start" (click)="addListBuildingCamp()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن کارگاه جدید">
            </button>
        </div>
      </div>
    </div>

    <div *ngIf="arrayListDivorce!=null">
      <div *ngIf="showDivorce" class="row">
        <div class="col-12 mt-2">
          <h4 class="title-page d-inline set-font-Raymon px-2">طلاق : </h4>
        </div>
      
        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد کارگاه مشاور'"
         [inputId]="'consultantWorkshops'" [type]="'number'" [inputFormControl]="consultantWorkshops" (changeValue)="observeChange_amountDivorceGivenFacilities($event)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [unit]="3" [inputLabel]="'حجم تسهیلات اعطایی'"
        [inputId]="'amountDivorceGivenFacilities'" [type]="'number'" [inputFormControl]="amountDivorceGivenFacilities" (changeValue)="observeChange_consultantWorkshops($event)"></app-input-style>

        <div class="row mx-auto">
          <div class="mx-auto text-start" (click)="deleteListDivorce()">
              <button class="button-add-activity">
                  <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                  mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
              </button>
          </div>
        </div>
      </div>
      <!-- <div class="row mx-auto">
        <div class="mx-auto text-start" (click)="addListDivorce()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن پروژه طلاق جدید">
            </button>
        </div>
      </div> -->
    </div>

    <div *ngIf="arrayListUnintentionalPrisoner.length!=0">
      <div *ngFor="let list3 of arrayListUnintentionalPrisoner , let l = index" class="row">
        <div class="col-12 mt-2">
          <h4 class="title-page d-inline set-font-Raymon px-2">زندانیان غیرعمد : </h4>
        </div>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد پابندهای الکتریکی'"
        [inputId]="'numberElectricalBonds' + l" [type]="'number'" [inputFormControl]="numberElectricalBonds[l]" (changeValue)="observeChange_numberElectricalBonds($event, l)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [unit]="3" [inputLabel]="'هزینه یا بودجه'"
        [inputId]="'prisonerBudget' + l" [type]="'number'" [inputFormControl]="prisonerBudget[l]" (changeValue)="observeChange_prisonerBudget($event, l)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [unit]="3" [inputLabel]="'حجم تسهیلات اعطایی'"
        [inputId]="'amountPrisonerGivenFacilities' + l" [type]="'number'" (changeValue)="observeChange_amountPrisonerGivenFacilities($event, l)" [inputFormControl]="amountPrisonerGivenFacilities[l]"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'نوع جرم جهت آزادی'"
        [inputId]="'typeCrime' + l" [inputFormControl]="typeCrime[l]" (changeValue)="observeChange_typeCrime($event, l)"></app-input-style>

        <div *ngIf="l>=0" class="row mx-auto">
          <div class="mx-auto text-start" (click)="deleteListUnintentionalPrisoner(l)">
              <button class="button-add-activity">
                  <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                  mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
              </button>
          </div>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="mx-auto text-start" (click)="addListUnintentionalPrisoner()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن پروژه زندانیان جدید">
            </button>
        </div>
      </div>
    </div>

    <div *ngIf="arraySocialTransformationBannedFromEducation.length!=0">
      <div *ngFor="let list5 of arraySocialTransformationBannedFromEducation , let n = index" class="row">
        <div class="col-12 mt-2">
          <h4 class="title-page d-inline set-font-Raymon px-2"> بازماندگان از تحصیل: </h4>
        </div>
        <div class="col-12 mt-2">
          <h4 class="title-page1 d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
        </div>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های آموزشی'"
         [inputId]="'numberEducationalPackages' + n" [type]="'number'" [inputFormControl]="numberEducationalPackages[n]" (changeValue)="observeChange_numberEducationalPackages($event , n)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [unit]="3" [inputLabel]="'هزینه مورد نظر جهت آموزش'" [inputId]="'costEducational' + n"
        [type]="'number'" [inputFormControl]="costEducational[n]" (changeValue)="observeChange_costEducational($event , n)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد افراد تحت پوشش'"
         [inputId]="'numberPeopleCovered'" [type]="'number' + n" [inputFormControl]="numberPeopleCovered[n]" (changeValue)="observeChange_numberPeopleCovered($event, n)"></app-input-style>

        <div *ngIf="n>=0" class="row mx-auto">
          <div class="mx-auto text-start" (click)="deleteListSocialTransformationBannedFromEducation(n)">
              <button class="button-add-activity">
                  <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                  mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
              </button>
          </div>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="mx-auto text-start" (click)="addListSocialTransformationBannedFromEducation()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن پروژه بازماندگان جدید">
            </button>
        </div>
      </div>
    </div>

    <div *ngIf="arrayListSocialTransformationSegmentation.length!=0">
      <div *ngFor="let list6 of arrayListSocialTransformationSegmentation , let p = index" class="row">
        <div class="col-12 mt-2">
          <h4 class="title-page d-inline set-font-Raymon px-2"> دهک بندی: </h4>
        </div>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های معیشتی'"
        [inputId]="'numberSubsistencePackages' + p" [type]="'number'" [inputFormControl]="numberSubsistencePackages[p]" (changeValue)="observeChange_numberSubsistencePackages($event, p)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [unit]="3" [inputLabel]="'هزینه مورد نظر'"
        [inputId]="'costSubsistencePackages' + p" [type]="'number'" [inputFormControl]="costSubsistencePackages[p]"  (changeValue)="observeChange_costSubsistencePackages($event, p)"></app-input-style>

        <div *ngIf="p>=0" class="row mx-auto">
          <div class="mx-auto text-start" (click)="deleteListSocialTransformationSegmentation(p)">
              <button class="button-add-activity">
                  <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                  mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
              </button>
          </div>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="mx-auto text-start" (click)="addListSocialTransformationSegmentation()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن دهک بندی جدید">
            </button>
        </div>
      </div>
    </div>

    <div *ngIf="arrayListSocialTransformationSpecialPatient.length!=0">
      <div *ngFor="let list8 of arrayListSocialTransformationSpecialPatient; let d = index" class="row">
        <div class="col-12 mt-2">
          <h4 class="title-page d-inline set-font-Raymon px-2">  بیماران خاص: </h4>
        </div>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بسته های دارویی'"
         [inputId]="'numberDrugPackagesSpecificPatients' + d" [type]="'number'" [inputFormControl]="numberDrugPackagesSpecificPatients[d]" (changeValue)="observeChange_numberDrugPackagesSpecificPatients($event, d)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [unit]="3" [inputLabel]="'حجم تسهیلات درمانی'"
         [inputId]="'volumeTreatmentFacilities' + d" [type]="'number'" [inputFormControl]="volumeTreatmentFacilities[d]" (changeValue)="observeChange_volumeTreatmentFacilities($event, d)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle" class="col-md-6 col-12" [inputLabel]="'تعداد بیماران هدف جهت پوشش'"
        [inputId]="'numberTargetPatients' + d" [type]="'number'" [inputFormControl]="numberTargetPatients[d]" (changeValue)="observeChange_numberTargetPatients($event, d)"></app-input-style>

        <div *ngIf="d>=0" class="row mx-auto">
          <div class="mx-auto text-start" (click)="deleteListSocialTransformationSpecialPatient(d)">
              <button class="button-add-activity">
                  <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                  mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
              </button>
          </div>
        </div>
      </div>
      <div class="row mx-auto">
        <div class="mx-auto text-start" (click)="addListSocialTransformationSpecialPatient()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن بیماران خاص جدید">
            </button>
        </div>
      </div>
    </div>
  </div>
