<div class="back-ground-main d-ltr">
  <div class="row w-100 h-100">

    <div class="col-md-5 col-12 back-ground-dark boxShadow d-rtl" style="overflow-y: scroll;">
      <div class="row py-4">
        <!-- <app-boolean-custom-toggle [isFirstValueSelected]="false" (handleSelectedValue)="changeLoginType($event)" [secondValue]="'شرکت'" [firstValue]="'کاربر'" class="mt-4 mx-auto d-flex justify-content-center"></app-boolean-custom-toggle> -->
        <div class="col-10 col-sm-8 mx-auto mt-3">
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'companyName'" [type]="'text'" [inputFormControl]="companyNameControl" [inputLabel]="'نام شرکت'"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'companyUserName'" [type]="'text'" [inputFormControl]="companyUserNameControl" [inputLabel]="'نام کاربری شرکت'"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'companyPhone'" [type]="'phone'" [inputFormControl]="companyPhoneControl" [inputLabel]="'شماره تماس شرکت'"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'companyNumber'" [type]="'text'" [inputFormControl]="companyNumberControl" [inputLabel]="'شماره ثبت شرکت'"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'companyEconomicCodeControl'" [type]="'text'" [inputFormControl]="companyEconomicCodeControl" [inputLabel]="' کد اقتصادی شرکت'"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'password'" [type]="'password'" [inputFormControl]="passwordControl" [inputLabel]="'رمز عبور'" class="mt-3" [haveEye]="true"></app-input-style>
          <app-input-style [inputCustomStyle]="inputCustomStyle" [inputId]="'repeatPassword'" [type]="'password'" [inputFormControl]="repeatPasswordControl" [inputLabel]="'تکرار رمز عبور'" class="mt-3"
          (keyup.enter)="registerCompany()" [haveEye]="true"></app-input-style>

          <label id="example-radio-group-label" class="mt-5 set-font-vazir row text-light">حوزه کاربری شرکت</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group font-size-small text-light">
            <mat-radio-button class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0" (click)="setType(2)">
              <span class="px-1">مسکن</span>
            </mat-radio-button>
            <mat-radio-button class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1" (click)="setType(3)">
              <span class="px-1">راه سازی</span>
            </mat-radio-button>
            <mat-radio-button class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2" (click)="setType(1)">
              <span class="px-1">آب رسانی</span>
            </mat-radio-button>
            <mat-radio-button class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0" (click)="setType(0)">
              <span class="px-1">سلامت</span>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <app-button-style [buttonText]="'عضویت'" (click)="registerCompany()"></app-button-style>
      <p class="pointer register-text text-center set-font-vazir mt-3" (click)="goLogin()">ورود</p>
    </div>
    <div class="col-md-7 col-12 d-rtl">
      <div class="title-login text-center set-font-Raymon">
        درباره ی سرویس بیشتر بدانید...
      </div>
      <div class="description-login set-font-vazir text-center col-11 col-sm-9 mx-auto">
        متنی ساختگی و بدون معنی است که برای امتحان فونت و یا پر کردن فضا در یک طراحی گرافیکی و یا صنعت چاپ استفاده میشود. طراحان وب و گرافیک از این متن برای پرکردن صفحه و ارائه شکل کلی طرح استفاده می‌کنند.
      </div>
      <img src="../../../../assets/image/auth/Group 371.png"
           class="image-login justify-content-center d-flex mx-auto">
    </div>
  </div>
</div>
