.profile-display-navebar {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  margin-left: 25px;
  margin-top: 8px;
}
.profile-display-expand-side-bar {
  height: 90px;
  width: 90px;
  border-radius: 100px;
  align-items: center;
}
