.button-project{
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba($color: #fff, $alpha: 0.7);
    color: rgb(80, 80, 80);
    border: solid 2px rgb(241, 241, 241);
}