<div class="row">
    <div *ngFor="let list of PitWaterShedAndCanalsList , let i = index" class="row">
        <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">چاه : </h4>
        </div>

        <div class="col-12 mt-2">
            <h4 class="title-page d-inline set-font-Raymon px-2">پروژه از نوع : </h4>
          </div>
          <mat-radio-group [value]="list.constructionType"
          class="example-radio-group font-size-small">
          <mat-radio-button (click)="setTypeProject(0,i)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="0">
            <span class="px-2">احداث</span>
          </mat-radio-button>
          <mat-radio-button (click)="setTypeProject(1,i)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="1">
            <span class="px-2">تکمیل و توسعه</span>
          </mat-radio-button>
          <mat-radio-button (click)="setTypeProject(2,i)" class="px-2 example-radio-button set-font-vazir text-right mt-3" [value]="2">
            <span class="px-2">مرمت</span>
          </mat-radio-button>
        </mat-radio-group>


        <app-input-style [inputCustomStyle]="inputCustomStyle"
                     class="col-12 mt-2" [inputLabel]="'میزان اراضی تحت پوشش'"
                     [inputId]="'amountOfSurfaceControl'+i" [type]="'number'" [unit]="1"
                     [inputFormControl]="amountOfSurfaceControl[i]"
                     (changeValue)="setAmountOfSurface($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle"
                     class="col-12 mt-2" [inputLabel]="'قطر چاه'" [unit]="0"
                     [inputId]="'widthWellControl'+i" [type]="'number'"
                     [inputFormControl]="widthWellControl[i]"
                     (changeValue)="setWidthWell($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle"
                     class="col-12 mt-2" [inputLabel]="'طول لوله جداره'" [unit]="0"
                     [inputId]="'lenPipeControl'+i" [type]="'number'"
                     [inputFormControl]="lenPipeControl[i]"
                     (changeValue)="setLenPipe($event, i)"></app-input-style>

        <app-input-style [inputCustomStyle]="inputCustomStyle"
                     class="col-12 mt-2" [inputLabel]="'طول لوله گذاری'" [unit]="0"
                     [inputId]="'lenColControl'+i" [type]="'number'"
                     [inputFormControl]="lenColControl[i]"
                     (changeValue)="setPiLenCol($event, i)"></app-input-style>

                     <div *ngIf="i>=0 && edit" class="row mx-auto">
                      <div class="mx-auto text-start" (click)="deleteList(i)">
                          <button class="button-add-activity">
                              <img src="../../../../assets/image/createProject/delete-icon.svg" alt=""
                              mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="حذف مورد">
                          </button>
                      </div>
                    </div>
    </div>

    <div *ngIf="edit" class="row mx-auto">
        <div class="mx-auto text-start" (click)="addList()">
            <button class="button-add-activity">
                <img src="../../../../assets/image/createProject/add-icon.svg" alt=""
                mat-raised-button matTooltipClass="example-tooltip" [matTooltipPosition]="'above'" matTooltip="افزودن چاه جدید">
            </button>
        </div>
      </div>
</div>
