<div class="bg-levels">
    <div class="toggle-base set-font-Raymon d-flex justify-content-center mx-auto row d-rtl d-flex">
        <div (click)="setSelectedToggle(1)" class="unselected-value {{ selectedToggle == 1 ? 'toggle-cycle py-3' : 'pt-unselected'}} pointer col-2"> ایجاد فعالیت</div>
        <div (click)="setSelectedToggle(2)" class="unselected-value {{ selectedToggle == 2 ? 'toggle-cycle py-3' : 'pt-unselected'}} pointer col-2"> ایجاد زیر فعالیت</div>
    </div>
    <app-create-new-activity *ngIf="selectedToggle == 1"></app-create-new-activity>
    <app-create-new-sub-activity *ngIf="selectedToggle == 2"></app-create-new-sub-activity>
</div>
