<div class="row py-2">
  <div class="col-12 set-font-vazir slider-label text-right">
    حداقل:
    <span class="px-2 font-weight-bold">{{getNumberWithSeparator(minValue)}}</span>
  </div>
  <div class="col-12 position-relative set-font-vazir">
    <div class="min-value-label">0 تومان</div>
    <div class="max-value-label">100000 تومان</div>
    <mat-slider
      class="w-100"
      thumbLabel
      [displayWith]="formatLabel"
      [(ngModel)]="minValue"
      tickInterval="1000"
      step="1000"
      min="0"
      max="100000"
      aria-label="units"></mat-slider>
  </div>
</div>
<hr class="opacity-hr my-4">
<div class="row">
  <div class="col-12 set-font-vazir slider-label text-right">
    حداکثر:
  <span class="px-2 font-weight-bold">{{getNumberWithSeparator(maxValue)}}</span>
  </div>
  <div class="col-12 position-relative set-font-vazir">
    <div class="min-value-label">0 تومان</div>
    <div class="max-value-label">100000 تومان</div>
    <mat-slider
      class="w-100"
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      step="1000"
      min="0"
      [(ngModel)]="maxValue"
      max="100000"
      aria-label="units"></mat-slider>
  </div>
</div>
