@import "../../../../assets/style/base.scss";
@import "../../../../assets/style/colorPalette.scss";

.toggle-base {
    background-color: white;
    width: 211px;
    border-radius: 50px;
    height: 45px;
    font-size: large;
    transition: all 0.5s;
    position: relative;
    border: 1px solid $active-yellow;
    margin-top: 10px;
    @media(max-width:400px) {
      width: 180px;
    }
  }

  .toggle-cycle {
    border-radius: 50px;
    height: 50px;
    width: 104px;
    color: #fff !important;
    background-color: $active-yellow;
    font-weight: bold;
    margin-top: -4px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    @media(max-width:400px) {
      width: 89px;
    }
  }

  .unselected-value {
    text-align: center;
    word-wrap: break-word;
    width: 104px;
    color: $active-yellow;
    @media(max-width:400px) {
      width: 89px;
    }
  }

  .mat-tree {
    background: rgba(#dddddd, $alpha: 0.7);
  }

  .mat-tree-node {
    color: black;
  }

  button{
    background-color: transparent;
    border: none;
  }

.padding-span{
  padding-right: 50px;
}
.matTreeNodePadding1{
  padding-right: 0px !important;
}

.bgbg{
  background-color: rgba($color: rgb(245, 245, 245), $alpha: 0.9);
}

.padding-report{
  margin-left: 2rem;
  margin-right: 2rem;
  @media(max-width:500px){
    margin-left: 0rem;
  }
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  background-color: rgba($color: $icon-color, $alpha: 0.7);
  align-items: center;
  padding: 0 24px;
  border-radius: inherit;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover{
    background-color: rgba($color: $side-bar-color, $alpha: 0.7);
  }
}