@import "../../../../assets/style/colorPalette";
.nave-bar {
  background-color: $nave-bar-color;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.first-icon {
  margin-left: 40px;
}

.nave-bar-icon {
  margin-top: 8px;
  cursor: pointer;
  width: 48px;
  height: 48px;
}
