<div class="nave-bar">
  <app-current-user-profile-image [profileStyle]="'profile-display-navebar'"></app-current-user-profile-image>
  <app-current-user-user-name></app-current-user-user-name>
  <img src="../../../../assets/icon/naveBar/activityIcon.svg" class="first-icon nave-bar-icon">
  <img src="../../../../assets/icon/naveBar/changeDisplayMode.svg" class="nave-bar-icon">
  <img src="../../../../assets/icon/naveBar/logOutButtonIcon.svg" (click)="logout()" class="nave-bar-icon">
  <img src="../../../../assets/icon/naveBar/notificationIcon.svg" class="nave-bar-icon">
</div>
